﻿﻿.uc_product_videos .content {
    position: relative;
    width: 110%;
}

.uc_product_videos .content iframe {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 26px;
}

.uc_product_videos .video-container {
    margin-bottom: 20px;
}

.uc_product_videos .video-description {
    line-height: normal;
}