﻿div.uc_blog_reactions
{
    padding-bottom: 20px;
    border-bottom-width: 1px;
    margin-bottom: 20px;
}

div.uc_blog_reactions div
{
    display: inline-block;
    margin-top: 20px;
}

div.uc_blog_reactions div.avatar
{
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 20px;
    text-align: center;
}

div.uc_blog_reactions div img.avatar
{
    border-radius: 25px;
}

div.uc_blog_reactions h4
{
    margin: 0;
    margin-bottom: 5px;
}


div.uc_blog_reactions div.subreactions
{
    margin-left: 40px;
}