﻿div.uc_reccom_products
{
}

div.uc_reccom_products div.salesaction
{
}

div.zone_3 div.uc_reccom_products div.uc_product_block,
div.zone_5 div.uc_reccom_products div.uc_product_block
{
    width: 195px;
}


div.zone_3 div.uc_reccom_products div.uc_product_block input.inputbutton,
div.zone_5 div.uc_reccom_products div.uc_product_block input.inputbutton
{
    width: 195px;
}

@media (min-width: 992px)
{
    div.uc_reccom_products .mobile-clearfix
    {
        display: none;
    }
}

@media (max-width: 991px)
{
    div.uc_reccom_products > .row > .clearfix
    {
        display: none;
    }
    div.uc_reccom_products .mobile-clearfix:before
    {
        display:table;
        content: " ";
    }
    div.uc_reccom_products .mobile-clearfix:after
    {
        clear: both;
        display: table;
        content: " ";
    }
}

/* Sets the lazyload spinner to display none so it is 
 * not displayed when lazyloading is turned off */
div.uc_reccom_products [id*="recommended_lazy_load_spinner"] {
    display: none;
}