﻿@media (min-width: 1200px){
    div.uc_header_v4 .uc_menu_flyout_horizontal_v4 .mega-menu-fullwidth ul.dropdown-menu{
        width: 1110px!important;
    }
}

@media all and (min-width:992px)
{
    div.uc_header_v4 .header-v5 .navbar-nav
    {
        float: none;
        display: table;
        table-layout: fixed;
        margin: 0;
        padding-top:7px;
        padding-left: 15px;
        padding-right: 15px;
    }

    div.uc_header_v4 div.navbar .header-menu .header-menu-left ul.navbar-nav li {
        min-height: 38px;
        padding-bottom: 0;
    }

    div.uc_header_v4 .navbar-nav>li>a {
        padding:0 10px!important;
        font-size: 14px;
    }

    div.uc_header_v4 .navbar-nav li:hover a,
    div.uc_header_v4 .navbar-nav li.active a {
        border-top-color:transparent!important;
    }

    div.uc_header_v4 .header-v5 .shop-badge.badge-lists {
        border-left:1px solid #e4e4e4;
    }

    div.uc_header_v4 .header-v5 .shop-badge.badge-lists li {
        padding-bottom:0;
        padding-top: 0;
        padding-left:0;
        margin-left: 10px;
        top: 3px;
    }

    div.uc_header_v4 .header-v5 .shop-badge.badge-lists span.badge {
        top: 1px;
    }

    div.uc_header_v4 .header-menu .container {
        padding:0;
    }

    div.uc_header_v4 .header-menu .container .uc_menu_flyout.collapse.navbar-collapse.mega-menu.navbar-responsive-collapse {
        margin:0!important;    
    }

    div.uc_header_v4 .header-menu .search:hover {
        cursor:pointer;
        color:#FD0D17!important;
        text-decoration:none;
    }

    div.uc_header_v4 .header-menu ul.search_icon {
        left: 100%;
        transform: translate(-460%);
        margin-left:0;
        margin-bottom:0px;
        margin-right:10px;
    }
  
    div.uc_header_v4 .show_search_box .container {
        padding:0;
    }

    div.uc_header_v4 .show_search_box .col-md-9 {
        padding:0;
    }

    div.uc_header_v4 .show_search_box .col-md-9 .input.form-control {
        width:100%;
        line-height:55px;
    }
    
    div.uc_header_v4 .show_search_box .col-md-3.removepadding,
    div.uc_header_v4 .show_search_box .col-md-9 .search-close {
        display:none;
    }

    div.uc_header_v4 ul.dropdown-menu {
        border:1px solid #e4e4e4;
    }

    div.uc_header_v4 ul.dropdown-menu li.active a{
        background-color: #FD0D17!important;
        color: #AC00EC!important;
    }

    div.uc_header_v4 .uc_menu_flyout_horizontal_v4 .mega-menu-fullwidth ul.dropdown-menu {
        width: 910px;
    }

    div.uc_header_v4 .header-menu-right {
        max-height:45px;
    }
}

@media (max-width:991px) {
    div.uc_header_v4 ul.search.fa.fa-search.search-button {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0;
        padding-bottom: 10px;
        padding-left: 0;
        border-bottom: 1px solid #e4e4e4;
    }

    div.uc_header_v4 .header-menu-right>ul.pull-right{
        width: 100%;
        float: left!important;
        padding-top: 10px;
    }

    div.uc_header_v4 .header-menu-right > ul.pull-right a:hover {
        cursor:pointer;
        text-decoration:none;  
        color: #FD0D17!important;
    }

    div.uc_header_v4 .header-menu-right > ul.pull-right a {
        font-size:14px;
        font-weight:400;
        font-family: 'Open Sans', sans-serif;
        color: #AC00EC!important;
    }

    div.uc_header_v4 .navbar-toggle
    {
        margin-right: 0px;
    }

    div.uc_header_v4 div.uc_menu_flyout{
        margin-top: 0;
    }
}