﻿.header .navbar-nav > li > a
{
    padding-bottom: 14px;
}

.show_search_box
{
    display: block !important;
    opacity: 1!important; 
}

@media (min-width: 992px){
    div.uc_menu_flyout_horizontal_v2 .mega-menu-fullwidth .container h3.mega-menu-heading a{
        padding: 6px 5px;
    }
}