﻿.panel-width
{
    width: 100%;
}

div.uc_menu .mobile-heading
{
    display: none;
    text-align: center;
}

div.uc_menu ul li ul li a
{
    padding-top: 10px;
    padding-left: 30px
}

div.uc_menu ul li a:hover, div.uc_menu ul li a:focus, div.uc_menu .open ul li a, .open a
{
    text-decoration: none;
    background-color: initial !important;
}

div.uc_menu ul.inactive
{
    display: none;
}

div.uc_menu .li-width a
{
    padding-left: 0px;
    padding-top: 2px !important;
    padding-bottom: 3px !important;
}


.category_menu_icon
{
    padding-left: 0px;
    padding-top: 2px !important;
    padding-bottom: 3px !important;
}

div.uc_menu .li-width
{
    width: 100%;
}

@media (min-width: 992px)
{
    div.uc_menu
    {
        padding-left: 0;
        padding-right: 0;
    }

    div.uc_menu ul.active
    {
        position: static;
        top: 100%;
        left: 0;
        z-index: 0;
        display: inline;
        float: none;
        min-width: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0px 0 0;
        font-size: 13px;
        list-style: none;
        background-color: #fff;
        border: 0px;
        border-radius: 0px;
        -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175);
        box-shadow: 0 0px 0px rgba(0,0,0,.175);
    }

    div.uc_menu ul li ul li a
    {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    div.uc_menu div.mobile-heading
    {
        display: block !important;
        color: #333;
        width: 100%;
        background-color: #f5f5f5;
        border-color: #ddd;
    }

    div.uc_menu div.panel-borderset
    {
        border-color: #ddd;
    }

    div.uc_menu .li-width ul li a
    {
        padding-left: 25px;
    }
}

@media (max-width: 991px)
{
    div.uc_menu ul li
    {
        font-size: 14px;
        text-align: left;
        padding-top: 9px;
        padding-bottom: 9px;
        border-top: 1px solid #eee;
    }

    div.uc_menu div.mobile-body 
    {
        padding: 0px;
        border-top: 0px !important;
    }

    div.uc_menu ul.active
    {
        display: none;
    }

    div.uc_menu .open ul.active
    {
        display: inline;
    }

    div.uc_menu .open ul.inactive
    {
        display: inline;
    }

    div.uc_menu ul li ul li a
    {
        padding-top: 10px;
        padding-left: 25px;
    }

    div.mobile-category .navbar-collapse.collapse
    {
        display: none !important;
    }

    div.mobile-category .navbar-collapse
    {
        padding-right: 0 !important;
    }

    div.mobile-category .navbar-collapse.collapse.in
    {
        display: block !important;
        overflow-y: auto !important;
    }

    .mobile-category
    {
        margin-left: -15px;
        margin-right: -15px;
    }

    .mobile-body ul li a
    {
        padding-left: 10px !important;
    }

    .mobile-body ul li ul li
    {
        padding-left: 25px !important;
    }

    .mobile-body ul li ul li a
    {
        padding-left: 0px !important;
    }

    .mobile-body .dropdown
    {
        padding-left: 0px;
    }

    .li-width a
    {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}