﻿/*Navbar Menu*/
.uc_header_v6 a,
.uc_header_v6 li {
    transition: color .4s, background .4s;
}

.uc_header_v6 .header-v5 .mega-menu-heading a,
.uc_header_v6 .header-v5 .navbar-nav > li > a {
    text-transform: none;
}

.uc_header_v6 .header-v5 .navbar-default .navbar-nav > li > a {
    font-size: 16px;
    padding: 13px 15px;
}

.header-v5 .navbar-default .navbar-nav > .active > a {
    color: #18ba9b;
}

.uc_menu_flyout_horizontal_v6 ul.nav.navbar-nav {
    margin: 0 !important;
}

/* Overwrites page corrections */
.uc_header_v6 .header-v5 .navbar-default .navbar-nav > li:hover > a,
.uc_header_v6 .header-v5 .navbar-default .navbar-nav > li > a, 
.uc_header_v6 .header-v5 .navbar-default .navbar-nav > li > a:hover, 
.uc_header_v6 .header-v5 .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent !important;
    border-top: none !important;
    color: #fff;
}

.uc_header_v6 .navbar-default .mega-menu-fullwidth ul ul {
    background: none !important;
}

.uc_header_v6 .mega-menu-fullwidth .dropdown-menu a:hover {
    background: none !important;
}

@media (max-width: 991px) {
    .uc_header_v6 .nav.navbar-nav > li > a,
    .uc_header_v6 .nav.navbar-nav > .dropdown.open {
        border-bottom: 1px solid rgba(255,255,255, 1);
        background: #f9f9f9;
    }

    .uc_header_v6 .header-v5 .navbar-default .dropdown li a {
        border-bottom: none;
    }
} 

/* Handles menu's on mobile */
@media (max-width: 991px) {

    .uc_header_v6 .header-v5 .navbar-default .navbar-nav > li:hover > a, 
    .uc_header_v6 .header-v5 .navbar-default .navbar-nav > li > a, 
    .uc_header_v6 .header-v5 .navbar-default .navbar-nav > li > a:hover, 
    .uc_header_v6 .header-v5 .navbar-default .navbar-nav > li > a:focus {
        color: #000 !important;
    }

    .uc_header_v6 .nav.navbar-nav > li > a,
    .uc_header_v6 .nav.navbar-nav > li.dropdown.open {
        border-bottom: 1px solid rgba(255,255,255, 1);
    }

    .uc_header_v6 .nav.navbar-nav > li.dropdown.open > a {
        border-bottom: none;
    }

    .uc_header_v6 .uc_menu_flyout_horizontal_v6 .dropdown.hidden-md ul {
        margin-left: 15px;
    }

    .uc_header_v6 .uc_menu_flyout_horizontal_v6 .dropdown.hidden-md ul {
        margin-left: 25px;
        padding: 0 0 15px 0;
    }

    .uc_header_v6 .uc_menu_flyout_horizontal_v6 .dropdown.hidden-md ul li {
        border-left: 1px solid #ccc !important;
    }

    .uc_header_v6 .uc_menu_flyout_horizontal_v6 .dropdown-menu ul {
        border-left: none !important;
    }

    /* Adds carets for each list */
    .uc_header_v6 .uc_menu_flyout_horizontal_v6 .dropdown a {        
        position: relative !important;
    }

    .uc_header_v6 .uc_menu_flyout_horizontal_v6 .dropdown ul a::before {        
        content: "\f0da";
        font-family: FontAwesome;
        position: absolute;
        font-size: 12px;
        left: 15px;
        top: 5px;
        opacity: .5;
    }

    .uc_header_v6 .header-v5 .mega-menu-fullwidth .dropdown-menu li a:hover {
        transform: translateX(10px);
        font-weight: bold;
        color: #ab102a !important;
        background: none !important;
    }

    .uc_menu_flyout_horizontal_v6 .dropdown > a:after {
        font-size: 20px;
        top: 12px;
    }

    .uc_header_v6 .uc_menu_flyout_horizontal_v6 .dropdown-menu li a:hover, 
    .uc_header_v6 .uc_menu_flyout_horizontal_v6 .dropdown-menu li.dropdown-submenu:hover > a {
        background: #ccc !important;
    }

    /* Handles dropdown arrow on mobile list */
    .uc_header_v6 .uc_menu_flyout_horizontal_v6 .dropdown {
        position: relative;
    }

    .uc_header_v6 .uc_menu_flyout_horizontal_v6  .dropdown .dropdown-button {
        right: 5px;
        top: 11px;
        margin: 0;
        left: auto;
        width: 24px;
        height: 24px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        background: #fff;
        border-radius: 12px !important;
        font-weight: bold;
    }
}


/* Handles menu's on desktop */
@media (min-width: 992px) {
    .uc_header_v6 .uc_menu_flyout_horizontal_v6 .dropdown-button.fa-angle-down {
        display: none;
    }

    /* Overwrites current page corrections */
    .uc_header_v6 .header-v5 .navbar-nav > li.dropdown:hover > .dropdown-menu {
        display: block;
        transform-origin: top center;
        border-top: 0;
        animation: slide-in-megamenu .3s ease-in-out;
        box-shadow: 0 5px 15px 0px rgba(90,90,90,0.5);
    }

    .uc_header_v6 .header-v5 .mega-menu .dropdown.mega-menu-fullwidth .dropdown-menu {
        margin-left: 15px;
    }

    .uc_header_v6 .header-v5 .navbar-nav > li > a {
        padding: 13px 20px !important;
    }

    .uc_header_v6 .header-v5 .navbar-nav > li.dropdown > a {
        padding-right: 40px !important;
    }

    .uc_header_v6 .header-v5 .navbar-nav > li.dropdown > a::after {
        font-family: FontAwesome;
        content: "\f107";
        color: #fff;
        position: absolute;
        font-size: 22px;
        right: 18px;
        top: 13px;
    }

    .uc_header_v6 .header-v5 .mega-menu-heading {
        border-bottom: none;
    }

    .uc_header_v6 .mega-menu-content .row {
        display: flex;
        flex-flow: row wrap;
    }
    
    .uc_header_v6 .mega-menu-content a {
        display: block;
        transition: all .2s;
        position: relative;
        padding-left: 10px !important; 
    }

    /* Adds carets for each list */
    .uc_header_v6 .mega-menu-content ul li a::before {        
        content: "\f0da";
        font-family: FontAwesome;
        position: absolute;
        font-size: 12px;
        left: 0;
        top: 4px;
        opacity: .5;
    }

    .uc_header_v6 .header-v5 .mega-menu-fullwidth .dropdown-menu li a:hover {
        transform: translateX(10px);
        font-weight: bold;
        background: none !important;
    }

    .uc_header_v6 .uc_menu_flyout_horizontal_v6 .nav.navbar-nav > li .dropdown-menu .mega-menu-content a {
        color: #4b4b4b !important;
    }

    .uc_header_v6 .header-v5 .mega-menu-fullwidth .dropdown-menu {
        background: #fff !important;
    }

    .uc_header_v6 .header-v5 .mega-menu-fullwidth .dropdown-menu .mega-menu-heading a {
        color: #3b3b3b !important;
        font-weight: bold;
        line-height: normal;
        display: block;
        padding-left: 0 !important;
    }

     .uc_header_v6 .header-v5 .mega-menu-heading a:hover {
        background: none !important;
        color: #ab102a !important;
        transform: translate(0) !important;
    }
    
    /* Handles normal dropdown menu's */
    .uc_header_v6 .header-v5 .dropdown-menu {
        color: #fff;
        border-top: none;
    }

    .uc_header_v6 .header-v5 .dropdown-menu li a {
        border-bottom-color: rgba(255,255,255,.2);
        padding: 12px 15px;
    }

    .uc_header_v6 .header-v5 .dropdown-menu li:last-child a {
        border-bottom: none;
    }

    .uc_header_v6 .header-v5 .dropdown-menu li.dropdown-submenu > a::after {
        top: 11px;
        font-size: 15px;
    }

    .uc_header_v6 .header-v5 .dropdown-submenu a:hover {
        background: none !important;
    }

    /* Handles submenu's */
    .uc_header_v6 .header-v5 .dropdown-submenu .dropdown-menu {
        margin-top: -3px;
    } 

    .uc_header_v6 .header-v5 .dropdown-submenu:hover > .dropdown-menu {
        display: block;
        transform-origin: left center;
        animation: slide-in-submenu .2s ease-out;
    }

    /* Overwrites default behaviour of stacking lists next to each other after six items */
    .uc_header_v6 .navbar-default .mega-menu-fullwidth ul ul {
        float: none !important;
    }

    .uc_header_v6 .navbar-default .mega-menu-fullwidth ul ul.pull-right {
        margin-top: -20px;
    }
}


.uc_header_v6 .uc_languages_block li:hover div.language-list {
    display: block;
    transform-origin: top right;
    animation: slide-in-menu .2s ease-in-out;
}

.uc_header_v6 .mobile-menu .uc_languages_block li:hover div.language-list {
    transform-origin: top left;
    animation: slide-in-menu .2s ease-in-out;
}

@media (max-width: 991px) {
    /* Resets colors on dropdown active links so different styles
       can be applied to the dropdown and dropdown-submenu */
    .uc_header_v6 .header-v5 .dropdown-menu li.active a,
    .uc_header_v6 .header-v5 .dropdown-menu li.active a:hover,
    .uc_header_v6 .header-v5 .dropdown-menu li.active a:focus {
        background: transparent !important;
        color: initial !important;
    }

    .header-v5 .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #4b4b4b !important;
    }

    .uc_header_v6 .mobile-icons li > a,
    .uc_header_v6 .mobile-icons li:hover > a,
    .uc_header_v6 .mobile-icons li > a:hover {
        color: #FFFFFF !important;
    }

    .uc_header_v6 .header-v5 .mobile-menu .dropdown-menu > li > a {
        color: #000000 !important;
    }

    /* Styles the dropdown links and differentiates between dropdown and dropdown-submenu */
    .uc_header_v6 .header-v5 .dropdown-menu li.active > a {
        background: #e3e3e3 !important;
    }
}


@media (min-width: 992px) {
    /* Resets colors on dropdown active links so we can 
       differentiate between dropdown and dropdown-submenu */
    .uc_header_v6 .header-v5 .dropdown-menu li.active a,
    .uc_header_v6 .header-v5 .dropdown-menu li.active a:hover,
    .uc_header_v6 .header-v5 .dropdown-menu li.active a:focus {
        background: transparent !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .uc_menu_flyout_horizontal_v6 .navbar-nav > li > a {
        font-size: 14px !important;
    }
}