﻿@media (min-width:1200px) {
    div.uc_header_v5 .uc_menu_flyout_horizontal_v5 .mega-menu-fullwidth ul.dropdown-menu {
        width: 1110px!important;
    }
}

@media (min-width: 992px){
    div.uc_header_v5 .uc_menu_flyout_horizontal_v5 .mega-menu-fullwidth ul.dropdown-menu {
        width: 910px;
    }
}