﻿div.uc_product_selection {

}

div.uc_product_selection .shop-rgba-red{
    display:none;
}

div.uc_product_selection h5 .fa{
    color:#B8B8B8;
}

div.uc_product_selection .label-img{
    display:block;
    position:absolute;
    top:3px;
    right:23px;
    width:25%;
    border-right:0px;
}

div.uc_product_selection .product-description{
    background-color: #FFFFFF;
}

@media (max-width: 992px) {
    div.uc_product_selection .mobile-clearfix.clearfix {
        display: block !important;
    }
}

@media (min-width: 993px) {
    div.uc_product_selection .mobile-clearfix.clearfix {
        display: none !important;
    }
}

div.uc_product_selection .header-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

div.uc_product_selection .header-container h2,
div .uc_product_selection .header-container h5 {
    align-self: center;
}