﻿/* Disable the page behind the cookies message */
.uc_cookies {
    z-index: 9999;
    position: fixed;
    background-color: rgba(0,0,0, 0.5);
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    bottom: 0;
    box-shadow: 0 -3px 5px rgba(0,0,0,.25);
}

.uc_cookies .container {
    width: 100%;
    max-width: 100%;
    background-color: #fff !important;
}

.uc_cookies.view-settings .container {
   width: 90vw;
   max-width: 800px;
} 

.uc_cookies .cookies-wrapper {
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.uc_cookies .cookies-wrapper p {
    margin: 0;
}

.uc_cookies .cookie-bar-btns {
    margin-left: 15px;
    display: flex;
    flex-flow: row nowrap;
}

.uc_cookies .cookie-bar-btns .btn-u {
    font-size: 12px;
    padding: 0 10px;
    height: 30px;
}

.uc_cookies.view-settings {
    z-index: 9999;
    position: fixed;
    background-color: rgba(0,0,0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.uc_cookies .column-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.uc_cookies .column-wrapper.single-column .col-sm-6 {
    width: 100%;
}

.uc_cookies .checkbox {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 12px;
}

.uc_cookies label {
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold !important;
}

.uc_cookies [type="checkbox"] {
    margin: 0 5px 0 0 !important;
}

.uc_cookies .summary p {
    font-size: 12px;
    line-height: normal;
    text-align: center;
}

.uc_cookies .column-type {
    display: flex;
    flex-flow: column;
    align-items: center
}

.uc_cookies .modal-footer {
    padding: 15px 0 15px 0;
}

.uc_cookies .btn-u {
    padding: 0 15px;
}

.uc_cookies .btn-u.settings,
.uc_cookies .btn-u.decline {
    background-color: #ccc !important;
    color: #2b2b2b !important;
    margin-right: 15px;
}

.uc_cookies .btn-u.settings:hover,
.uc_cookies .btn-u.decline:hover {
    color: #2b2b2b !important;
    background-color: #eee !important;
}

/* Cookie message container smaller on small screens */
/* Small Devices, Tablets */
@media (max-width: 375px) {
    .uc_cookies .cookies-wrapper .btn-u {
        width: 100%;
    }

    .uc_cookies .cookies-wrapper .btn-u.settings {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 991px) {
    .uc_cookies .modal-footer {
        text-align: center;
    }

    .uc_cookies .btn-u {
        font-size: 14px;
    }

    .uc_cookies .cookies-wrapper {
        flex-flow: column;
    }

    .uc_cookies .cookie-bar-btns {
        margin: 10px 0 0;
    }
}

 /* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .uc_cookies .container {
        width: 100vw;
    }
}
