﻿.topbar_v3
{
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-brand
{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Top bar fix for FireFox */
@-moz-document url-prefix() {
    div.uc_header_v5 div.navbar-header {
        width: 100%;
    }
}

a#uc_header_link_register2 {
    font-size: 19px;
    margin-top: 6px !important;
}

a#uc_header_link_my_account_2 {
    font-size: 19px;
    margin-top: 6px !important;
}

@media (min-width: 1170px)
{
    .uc_content_search_v5
    {
        position: relative;
        top: 60px;
    }
}

@media (min-width: 992px)
{
   /* Top bar Fix for IE */
    
    div.uc_header_v5 div.navbar-header .navbar-header-right, div.uc_header_v5 div.navbar-header .navbar-header-right:hover { 
        position: relative;
        top: 0px !important;
    }
     
    div.uc_header_v5 div.navbar-header .navbar-header-left, div.uc_header_v5 div.navbar-header .navbar-header-left:hover {
        position: relative;
        top: 0px !important;
    } 
    
    .logo,
    .navbar-brand
    {
        padding: 0;
    }

    .uc_header_v5 .btn-u {
        height: 34px;
    }

    .mobile-screen
    {
        display: none;
    }
    
    .header-v5 .navbar-nav
    {
        margin-left: 0;
    }

    .header-v5 .header-menu-right
    {
        padding-right: 0px;
    }

    .header-v5 .shop-badge.badge-lists > li
    {
        padding-right: 0px;
    }

    .header-v5 .navbar-header-right ul.list-inline
    {
        position: relative;
        top: 65px;
    }

    .uc_content_search_v5
    {
        position: relative;
        top: 60px;
    }
}

@media (max-width: 991px) {
    .navbar-nav
    {
        margin-left: -15px!important;
        margin-right: -15px!important;
        min-height: 0;
    }

    .desktop-screen
    {
        display: none;
    }
    
    ul.mobile-icons li {
        vertical-align: middle;
        padding-left: 0;
        padding-right: 0;
    }

    ul.mobile-icons li a,
    ul.mobile-icons li button
    {
        margin-right: 0;
    }

    .uc_content_search_v5
    {
        margin-top: -20px;
        margin-bottom: 10px;
    }

    .navbar
    {
        min-height: 0;
    }
    
    .uc_content_search_v5 .input-group {
        margin-top: 20px;
    }

    .fa-shopping-cart:before, .fa-envelope:before, .fa-lock:before  {
        font-size: 19px !important;
    }

    .uc_header_v5 .container.main > .navbar-header .row {
        margin: 0;
    }

    .uc_header_v5 .uc_menu_flyout {
        padding: 0 15px !important;
    }
}