﻿/*--------------------------------------------------
    .header-v5 overwrites
----------------------------------------------------*/

@media (max-width: 991px) {
    .uc_header_v6 .header-v5 .shop-badge {
        display: flex;
    }
}

.uc_header_v6 a:hover {
    text-decoration: none;
}


/*--------------------------------------------------
    General styles and resets
----------------------------------------------------*/

.uc_header_v6 {
    position: relative;
    z-index: 999;
}

.uc_header_v6 .row.flex {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.uc_header_v6 ul,
.uc_header_v6 li,
.uc_header_v6 p,
.uc_header_v6 span,
.uc_header_v6 a {
    margin: 0;
    padding: 0;
    line-height: normal;
    list-style: none;
}

.uc_header_v6 .flex-list {
    display: flex;
    flex-flow: row wrap;
}

/*--------------------------------------------------
    Sticky header
----------------------------------------------------*/
.uc_header_v6.sticky-desktop,
.uc_header_v6.sticky-mobile {
    position: relative;
    z-index: 999;
}

.uc_header_v6.sticky-desktop .menu-flyout-handler {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 3px 5px rgba(0,0,0,.2); 
}

@media (max-width: 991px) {
    .uc_header_v6.sticky-mobile .mobile-menu {
        position: fixed;
        z-index: 1;
        top: 0;
    }

    .uc_header_v6.sticky-mobile .menu-flyout-handler {
        position: fixed;
        top: 45px;
        box-shadow: 0 3px 5px rgba(0,0,0,.2);
    }
}


/*--------------------------------------------------
    Header Container
----------------------------------------------------*/

.uc_header_v6 .header-v5 {
    border-bottom: none;
    z-index: 1;
    display: flex;
    flex-flow: row wrap; 
}

.uc_header_v6 .center-bar-bg {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

.header-v6 {
    margin: 0 auto;
    min-height: 50px;
}

.uc_header_v6 .flex {
    display: flex;
    flex-flow: row nowrap;
}

@media (min-width: 992px) {
    .uc_header_v6 .header-v5 .container.flex {
        min-height: 130px;
        margin: 0 !important;
    }
}

@media (max-width: 991px) {
    .uc_header_v6 .container.flex {
        width: 100%;
    }
}

/*--------------------------------------------------
    Topbar
----------------------------------------------------*/

.uc_header_v6 .topbar {
    display: none;
}

@media (min-width: 992px) {
    .uc_header_v6 .topbar {
        display: block;
        position: relative;
        z-index: 2;
        background: #f3f3f3;
    }

    .uc_header_v6 .account-handler {
        border-left: 1px solid #fff;
    }

    .uc_header_v6 .topbar > .flex {
        justify-content: flex-end;
    }

    .uc_header_v6 .topbar a {
        font-weight: bold;
        font-size: 13px;
    }

    .uc_header_v6 .account-handler a,
    .uc_header_v6 .languages-handler a {
        display: inline-flex;
        align-items: center;
        height: 35px;
        padding: 0 15px;
        border-right: 1px solid #fff;
    }

    .uc_header_v6 .account-handler li:hover a,
    .uc_header_v6 .languages-handler li:hover a {
        background: #fff;
    }
}

/*--------------------------------------------------
    USPS container
----------------------------------------------------*/

.uc_header_v6 .usps-handler {
    display: none;
}

@media (min-width: 992px) {
    .uc_header_v6 .usps-handler {
        color: #fff;
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .uc_header_v6 .uc_usps {
        display: flex;
        width: 100%;
        padding: 0 15px;
        max-width: 970px;
        margin-top: 15px;
    }

    .uc_header_v6 .uc_usps h2 {
        display: none;
    }

    .uc_header_v6 .uc_usps ul {
        display: flex;
        flex-flow: row nowrap;
    }

    .uc_header_v6 .uc_usps li {
        padding: 0 20px 0 0;
    }

    .uc_header_v6 .usp_text {
        display: flex;
        align-items: center;
        font-weight: bold;
        line-height: normal;
    }

    .uc_header_v6 .uc_usps i {
        padding-right: 0 !important;
        display: inline-flex;
        height: 16px;
        width: 16px;
        line-height: normal;
        align-items: center;
        justify-content: center;
        border-radius: 25px !important;
        background: #eee;
        margin-right: 5px;
    }

    .uc_header_v6 .uc_usps i::before {
        font-size: 11px;
        line-height: normal;
    }    

    /* Handles usp's in the topbar */
    .uc_header_v6 .usps-top-bar {
        width: auto !important;
        flex-grow: 1 !important;
    }

    .uc_header_v6 .usps-top-bar .uc_usps {
        margin: 0;
    }    
}

@media (min-width: 1200px) {
    .uc_header_v6 .uc_usps {
        display: flex;
        max-width: 1140px;
        padding: 0;
    }
}

/*--------------------------------------------------
    Brand container
----------------------------------------------------*/

.uc_header_v6 .brand-handler {
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 0;
}

.uc_header_v6 .logo-container {
    display: flex;
}

.uc_header_v6 .logo-container .image-container {
    padding: 10px 0;
    width: 100%;
}

@media (max-width: 991px) {
    .uc_header_v6 .logo-container img {
        max-width: 150px;
        max-height: 60px;
    }
}

/*--------------------------------------------------
    Content search 
----------------------------------------------------*/

.uc_header_v6 .content-search-handler  {
    display: none;
}

.uc_header_v6 .mobile-search {
    width: 100%;
    padding: 10px 15px;
}

@media (min-width: 992px) {
    .uc_header_v6 .content-search-handler {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .uc_header_v6 .mobile-search {
        display: none;
    }

    .uc_header_v6 .content-search-handler {
        flex-grow: 1;
    }
}

/*--------------------------------------------------
    Languages 
----------------------------------------------------*/

.uc_header_v6 .languages-handler {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------------------------------
    My account
----------------------------------------------------*/

.uc_header_v6 .account-handler {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*--------------------------------------------------
    Shoppingcart control
----------------------------------------------------*/

.uc_header_v6 .shopping-cart-btn {
    padding: 5px 8px !important;
    display: flex !important;
    flex-flow: row nowrap;
    align-items: flex-end;
    position: relative;
    border-radius: 20px !important;
}

.uc_header_v6 .shopping-cart-btn a {
    margin-right: 8px;
}

/* Makes the cart total counter clickable */
.uc_header_v6 .shopping-cart-btn > a::after {
    content: '';
    position: absolute;
    height: 31px;
    top:0;
    display: block;
    width: 55px;
}

.uc_header_v6 .shopping-cart-btn .fa-shopping-cart::before {
    font-family: uws-icons;
    font-size: 25px !important;
    content: "\e901";
}

.uc_header_v6 .shopping-cart-control-handler {
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}

.uc_header_v6 .badge-open {
    top: 35px;
    z-index: 1;
    border-top: none !important;
}

.uc_header_v6 .header-v5 .overflow-h span,
.uc_header_v6 .header-v5 .badge-open input[type=submit].close {
    color: #2b2b2b !important;
}

.uc_header_v6 .header-v5 .badge-open input[type=submit].close {
    opacity: 1;
    font-size: 16px;
}

.uc_header_v6 .uc_shopping_cart_control li.shopping-cart-btn {
    margin-left: 0;
    padding: 15px;
}

.uc_header_v6 .uc_shopping_cart_control .cart_total_amount {
    display: none;
}

.uc_header_v6 .uc_shopping_cart_control .cart_total_quantity {
    display: flex;
    position: static;
    margin: 0;
    padding: 0 6px !important;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    margin-bottom: 1px;
    font-size: 13px;
    line-height: 20px;
    font-weight: bold;
}

@media (max-width: 991px) {
    .uc_header_v6 .uc_shopping_cart_control .badge-open {
        display: none !important;
    }
}

/*--------------------------------------------------
    Shoppingcart control content 
----------------------------------------------------*/

@media (min-width: 991px) {

    .uc_header_v6 .uc_shopping_cart_control .btn-u-sea-shop {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .uc_header_v6 .header-v5 ul.badge-open {
        padding: 0 !important;
        box-shadow: 0 5px 15px 0px rgba(90,90,90,0.5);
    }

    .uc_header_v6 .header-v5 ul.badge-open::before {
        content: "" ;
        display: block;
        width: 0;
        border-bottom: 10px solid #ebebeb;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        position: absolute;
        top: -20px;
        right: 28px;
        pointer-events: none;
    }

    .uc_header_v6 .header-v5 ul.badge-open li {
        padding: 20px 0 0 !important;
        margin-top: 0;
    }

    .uc_header_v6 ul.badge-open .content_li li:last-child {
        padding-bottom: 20px !important;
    }

    .uc_header_v6 .header-v5 ul.badge-open li.content_li {
        padding: 0 5px 0 20px !important;
        margin-top: 0;
    }
    
    .uc_header_v6 .subtotal.shopping-li.no-border-bottom {
        padding-top: 0 !important;
    }

    .uc_header_v6 .subtotal.shopping-li.no-border-bottom .col-md-12 {
        background: #ebebeb !important;
        padding: 10px 15px !important;
    }

    .uc_header_v6 .subtotal.shopping-li.no-border-bottom .col-md-12 span {
        color: #2b2b2b !important;
        font-size: 14px;
        text-transform: none !important;
        font-weight: bold;
    }

    .uc_header_v6 .header-v5 ul.shop-badge > li:hover .badge-open {
        display: block;
        transform-origin: top right;
        animation: slide-in-menu .2s ease-in-out;
    }
    
    .uc_header_v6 .uc_shopping_cart_control .subtotal,
    .uc_header_v6 .uc_shopping_cart_control .subtotal span,
    .uc_header_v6 .uc_shopping_cart_control .subtotal .col-md-12,
    .uc_header_v6 .uc_shopping_cart_control li span {
        padding: 0 !important;
        margin: 0;
    }

    .uc_header_v6 .uc_shopping_cart_control ul {
        width: 100%;
    }

    .uc_header_v6 .uc_shopping_cart_control .mCustomScrollbar li {
        display: flex;
        width: 100% !important;
        flex-flow: row nowrap;
        align-items: flex-start;
        border-top: none !important;
    }
    
    .uc_header_v6 .uc_shopping_cart_control .overflow-h {
        width: calc(100% - 100px);
        order: 2;
    }

    .uc_header_v6 .uc_shopping_cart_control .overflow-h span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 15px !important;
    }

    .uc_header_v6 .header-v5 .uc_shopping_cart_control small {
        font-weight: bold;
        color: #2b2b2b !important;
        font-size: 13px;
    }

    .uc_header_v6 .uc_shopping_cart_control input {
        order: 3;
        line-height: normal !important;
        margin-right: 20px;
    }

    .uc_header_v6 .uc_shopping_cart_control img {
        width: 60px;
        height: auto;
        order: 1;
    }

    .uc_header_v6 .subtotal.shopping-li .row {
        margin: 0;
        padding: 5px 20px 20px;
    }

    .uc_header_v6 .subtotal.shopping-li .col-xs-12 {
        padding: 0;
    }
}

/*--------------------------------------------------
    Menu flyout
----------------------------------------------------*/

.uc_header_v6 .menu-flyout-handler {
    width: 100%;
    margin-top: 0;
    min-height: 0;
}

.uc_header_v6 .header-v6 {
    position: static;
}

@media (max-width: 991px) {
    .uc_header_v6 .menu-flyout-handler {
        background: #ebebeb !important;
    }
}


/*--------------------------------------------------
    Mobile menu
----------------------------------------------------*/
.uc_header_v6 .icon-bar {
    display: block;
    height: 4px;
    background: #fff;
    width: 30px;
    border-radius: 4px !important;
}

.uc_header_v6 .mob-menu-label {
    margin-right: 10px;
}

.uc_header_v6 .mobile-menu {
    background: #8d9ca7;
    padding: 0;
}

.uc_header_v6 .mobile-menu a,
.uc_header_v6 .mob-menu-label {
    font-weight: bold;
}

.uc_header_v6 .mobile-menu button.navbar-toggle {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0 10px 0 20px;
    min-width: 45px;
    align-items: center;
    height: 45px;
}

.uc_header_v6 .mobile-icons {
    display: flex;
    flex-flow: row nowrap;
}

.uc_header_v6 .mobile-icons > li {
    border-right: 1px solid #afbac2;
}

.uc_header_v6 .mobile-icons > li:first-child {
    border-left: 1px solid #afbac2;
}

.uc_header_v6 .mobile-icons li a {
    display: flex;
    align-items: center;
    height: 45px;
    padding: 0 15px;
}

.uc_header_v6 .mobile-icons li span,
.uc_header_v6 .mobile-icons li a {
    font-size: 14px;
    line-height: normal !important;
    color: #fff;
}

/* iPhone 5ish specific query*/
@media (max-width: 340px) {
    .uc_header_v6 .mobile-icons li a {
        padding: 0 10px;
    }
}

@media (max-width: 420px) {
    .uc_header_v6 .mob-menu-label {
        display: none;
    }

    .uc_header_v6 .navbar-toggle {
        padding: 0 !important;
        justify-content: center;
    }
}

@media (max-width: 991px) {
    .uc_header_v6 .mobile-menu li:hover a {

        color: initial;
    }
}

@media (min-width: 992px) {
    .uc_header_v6 .mobile-menu {
        display: none;
    }
}

/*--------------------------------------------------
    Animations
----------------------------------------------------*/

@keyframes slide-in-menu {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@keyframes slide-in-submenu {
    0% {
        opacity: 0;
        transform: scaleX(0);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes slide-in-megamenu {
    0% {
    opacity: 0;
        transform: scaleY(.8);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}