﻿div.uc_header_v4 div.navbar-header {
    width:100%;
}

div.uc_header_v4 div.navbar-header a {
    text-decoration:none;
}

.uc_header_v4 .btn-u {
        height: 34px;
}

div.uc_header_v4 #scroller-anchor
{
    position: fixed;
    top: 0;
}

@media (min-width: 992px) {
    .uc_header_v4 .btn-u {
        height: 34px;
    }

    .uc_header_v4 .header-v5 .shop-badge.badge-lists > li {
        margin-left: 20px;
        padding: 27px 0px 25px 25px;
    }

        /* Top bar Fix for IE */
    
    div.uc_header_v4 div.navbar-header .navbar-header-right, div.uc_header_v4 div.navbar-header .navbar-header-right:hover { 
        position: relative;
        top: 0px !important;
    }
     
    div.uc_header_v4 div.navbar-header .navbar-header-left, div.uc_header_v4 div.navbar-header .navbar-header-left:hover {
        position: relative;
        top: 0px !important;
    }
    
    /*topbar css*/
    
    /*main header css*/
    div.uc_header_v4 .container.main {
        z-index:99;
        padding-left: 0px;
    }

    /*main header middle/logo*/
       div.uc_header_v4 div.navbar-header .logo a img {
        vertical-align: middle;
        margin: 0 auto;
    }
    /*main header right*/
    div.uc_header_v4 div.navbar-header .navbar-header-right {
        padding:0;
        top: 50%;
        transform: translate(0,150%);
        text-align: right;
    }

    div.uc_header_v4 div.navbar-header .navbar-header-right .col-sm-6 {
        padding:0;
    }

    div.uc_header_v4 div.navbar-header .navbar-header-right>ul>li {
        border-left:1px solid #e4e4e4;
        padding-left:5px;
    }

    *::-ms-backdrop, div.uc_header_v4 .navbar-header-right {
        
    }

    *::-ms-backdrop, div.uc_header_v4 .navbar-header-right ul.list-inline {
        width: auto;
    }

    *::-ms-backdrop, div.uc_header_v4 .navbar-header-right .uc_languages_block ul.right-header {
        padding-right:0;
    }

    /*bottom menu css*/

    div.uc_header_v4 ul.dropdown-menu {
        border:1px solid #e4e4e4;
    }
    
    div.uc_header_v4 div.navbar .header-menu {
        border-top: 1px solid #e4e4e4;
        line-height:45px;
        z-index:1!important;
    }

    div.uc_header_v4 .badge-open {
        top:42px;
        border:1px solid #e4e4e4;
        padding:0;
        z-index: 99;
        right: -5px;
    }

    div.uc_header_v4 .shop-badge.badge-lists li  .subtotal,
    div.uc_header_v4 .shop-badge.badge-lists li .margin-bottom-10 {
        margin:0;
    }

    div.uc_header_v4 .shop-badge.badge-lists .col-md-12 {
        padding:10px;
        line-height:0;
        border-bottom:1px solid #e4e4e4;
    }

    div.uc_header_v4 .shop-badge.badge-lists .row {
        padding:10px;
        margin:0;
    }

    div.uc_header_v4 .shop-badge.badge-lists .row .col-xs-12 {
        padding:0;
    }

    div.uc_header_v4 .shop-badge.badge-lists .row .col-xs-12 .btn-u {
        height:100%;
        padding-top:0;
    }

    div.uc_header_v4.set_fixed
    {
        position: fixed;
        width: 100%;
        z-index: 10000;
    }

    #pnl_wrapper.set_fixed
    {
        margin-top: 200px!important;
    }
}

@media (max-width: 991px) {
    div.uc_header_v4 div.mobile-menu
    {
        width: 100%;
        background-color: #000000;
        text-align: center;
        padding-top: 5px;
    }

    div.uc_header_v4 div.mobile-menu a,
    div.uc_header_v4 div.mobile-menu a:hover
    {
        color: white!important;
    }

    div.uc_header_v4 .header-v5 .navbar-brand-logo
    {
        max-width: 100%;
    }
    
    div.uc_header_v4 .header-v5 .navbar
    {
        margin-top: 0px;
    }

    div.uc_header_v4 div.navbar-header .navbar-header-left,
    div.uc_header_v4 div.navbar-header .navbar-header-right {
        display:none;
    }

    div.uc_header_v4 div.navbar-header .navbar-toggle {
        top: 50%;
        transform: translate(0,50%);
        float: right; 
        margin-top: -30px;
        margin-bottom: 15px;
    }

    div.uc_header_v4 .header-v5 .navbar-brand
    {
        margin-top: 0px;
    }

    div.uc_header_v4 div.mobile-menu .uc_languages_block .right-header > li > a:after
    {
        display: none;
    }
}