﻿div.uc_header_v2 .glyphicon
{
    font-size: 19px;
    color: white;
}

div.uc_header_v2 .nav.navbar-nav.pull-right.no-margin-left
{
    margin-left: 0px;   
}

div.uc_header_v2 .header .navbar-nav > li > a
{
    padding: 20px;
}

div.uc_header_v2 .show_search_box
{
    display: block !important;
    opacity: 1!important; 
}

div.uc_header_v2 .show_search_box .input-group-addon {
    border:0px;
}

div.uc_header_v2 .show_lang_box
{
    display: block !important;
    opacity: 1!important;
}

div.uc_header_v2 .icon-element
{
    border: none!important;
}

div.uc_header_v2 .header .navbar-nav .languages > li a
{
    border-bottom: none;
}

div.uc_header_v2 div.header .logo
{
    margin-top: 10px;
    float: left;
}

div.uc_header_v2 .nav.navbar-nav.pull-right.no-margin-left li a
{
    padding-left: 10px;
    padding-right: 10px;
}

div.uc_header_v2 .header .dropdown > a:after
{
    top:25px;
    right: 10px;
}

div.uc_header_v2 .header-v5
{
    border-bottom: none;
}

div.uc_header_v2 .header-v5 .shop-badge.badge-lists > li
{
    margin-left: 0px;
    padding-right: 7px;
    padding-left: 0px;
    padding-bottom: 20px;
    padding-top: 24px;
}

div.uc_header_v2 .header-v5 .shop-badge.badge-lists span.badge
{
    top: 18px;
    right: 5px;
}

div.uc_header_v2 .header-v5 .badge-open
{
    top: 65px;
}

div.uc_header_v2 .icon-element
{
    bottom: auto!important;
}

div.uc_header_v2 .uc_usps li
{
    display: inline;
    padding: 0px 7px;
}

div.uc_header_v2 .uc_usps h2
{
    display: none;
}

.uc_header_v2 .header{
    border-bottom: solid 1px #eee;
    padding-bottom: 2px;
} 

div.header .logo
{
    float: left;
}

div.header #language_button {
    cursor: pointer;
    padding-top: 22px!important;
}

div.uc_header_v2 .header .nav .search-open
{
    margin-top: 7px!important;
}

.header .mega-menu-fullwidth .dropdown-menu li > a:hover
{
    background: none!important;
}

.header .nav > li > .search
{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 29px!important;
}

#search_button
{    
    border-bottom: 0px!important;
}

.header .nav .search-open .margin-bottom-10
{
    margin-bottom: 0px;
}

div.uc_header_v2 ul.nav.navbar-nav div.uc_menu_flyout_horizontal_v2 div.uc_menu_flyout .nav.navbar-nav
{
    margin-left: 0px;
}

.header .logo img
{
    margin: 0px;
    margin-top: 0px;
}

div.uc_header_v2 .header .container ul.navbar-nav > li > a
{
    padding-top: 25px!important;
    padding-bottom: 22px!important;
    bottom: -3px;
}

div.uc_header_v2 .uc_content_search_v2 {
    z-index: 100;
}

@media (min-width:1200px)
{
    div.uc_header_v2 .header .container ul.navbar-nav > li > a
    {
        padding-left: 5px!important;
        padding-right: 20px!important;    
    }
}

@media (max-width:1199px) {
    div.uc_header_v2 .header .dropdown > a:after {
        top: 25px;
        right: 0px;
    }
}

@media (min-width: 992px)
{
    div.uc_header_v2 ul.nav.navbar-nav
    {
        float: left;
    }

    div.uc_header_v2 .nav.navbar-nav.pull-right.no-margin-left li a{
        padding-left: 5px;
        padding-right: 5px;
    }

    .header .nav .search-open
    {
        top: 65px!important;
        padding-left: 0px;
        padding-right: 0px;
    }

    div.uc_header_v2 .header .container ul.navbar-nav > li > a
    {
        bottom: 2px;
    }

    div.uc_header_v2.set_fixed
    {
        position: fixed;
        width: 100%;
        z-index: 10000;
    }

    #pnl_wrapper.set_fixed
    {
        margin-top: 140px!important;
    }
}

@media (max-width: 991px)
{
    div.uc_header_v2 .header .nav > li > a.search
    {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }

    div.uc_header_v2 .header .dropdown > a:after {
        top: 25px;
        right: 5px;
    }

    .search-open.uc_content_search_v2 {
        display: block !important;
    }

    div.uc_header_v2 .header .container ul.navbar-nav > li > a#search_button {
        visibility: hidden;
    }

    .input-group.animated.fadeInDown {
        margin-left: -50px;
    }

    .search-open.uc_language_block_v2{
        display:block !important;
    }

    div.header #language_button{
        visibility: hidden;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .input-group.animated.fadeInDown {
        margin-left: -50px;
        margin-top: -30px;
    }

    ul.languages.hoverSelectorBlock {
        margin-left: -60px;
        margin-top: -20px;
    }
}

@media (min-width: 768px)
{
    .header .nav .search-open
    {
        top: 45px;
    }

    .header .nav .search-open
    {
        background: #E8E8E8!important;
    }
}

@media (max-width: 768px) {
    ul.languages.hoverSelectorBlock {
        margin-left: -60px;
        margin-top: 20px;
    }
}

@media (min-width:700px)
{
    div.uc_header_v2 .header .container ul.navbar-nav > li > a
    {
        padding-left: 5px;
        padding-right: 10px;    

    }
}