﻿.uc_header_v3 .header-v5 .badge-open {
    right: -10px;
}

div.uc_header_v3 div.navbar-header {
width:100%;
}

div.uc_header_v3 div.navbar-header a {
    text-decoration:none;
}

div.uc_header_v3 .topbar_v3 {
    height:30px;
    max-height:30px;
    background:#363636;
}

div.uc_header_v3 .topbar_v3 .tb_left {
    color: #FFFFFF;
    padding: 5px 0px;
}

a#uc_header_link_register2 {
    font-size: 19px;
    margin-left: -5px !important;
}

a#uc_header_link_my_account_2 {
    font-size: 19px;
    margin-left: -5px !important;
}

@media (min-width: 992px) {
    /*close search icon in correct place in header v3*/
    .fa-remove:before, .fa-close:before, .fa-times:before {
        margin-right: 3px;
    }

    /*search content in correct place in header v3*/
    .show_search_box .uc_content_search_v3 .col-md-12 {
        right: 55px !important;
    }

    /* Top bar Fix for IE */
    
    div.uc_header_v3 div.navbar-header .navbar-header-right, div.uc_header_v3 div.navbar-header .navbar-header-right:hover { 
        position: relative;
        top: 0px !important;
    }
     
    div.uc_header_v3 div.navbar-header .navbar-header-left, div.uc_header_v3 div.navbar-header .navbar-header-left:hover {
        position: relative;
        top: 0px !important;
    }
    
    /*topbar css*/
    
    /*main header css*/
    div.uc_header_v3 .container.main {
        z-index:99;
    }

    div.uc_header_v3 .header-menu-right > ul > li
    {
        padding-right: 7px;
    }
    
    div.uc_header_v3 .header-menu-right > ul > li a.fa:before
    {
        font-size: 15px;
    }

     /*main header left*/

    div.uc_header_v3 div.navbar-header .navbar-header-left {
        top: 50%;
        transform: translate(0,250%);
        padding:0;
    }

    /*main header middle/logo*/
    div.uc_header_v3 div.navbar-header .logo a {
        width:100%;
    }

    div.uc_header_v3 div.navbar-header .logo a img {
        vertical-align: middle;
        margin: 0 auto;
    }
    /*main header right*/
    div.uc_header_v3 div.navbar-header .navbar-header-right {
        padding:0;
        top: 50%;
        transform: translate(0,150%);
    }

    div.uc_header_v3 div.navbar-header .navbar-header-right .col-sm-6 {
        padding:0;
    }

    div.uc_header_v3 div.navbar-header .navbar-header-right>ul>li {
        border-left:1px solid #e4e4e4;
        padding-left:5px;
    }

    *::-ms-backdrop, div.uc_header_v3 .navbar-header-right {
        left:6%;
    }

    *::-ms-backdrop, div.uc_header_v3 .navbar-header-right ul.list-inline {
        width:100%;
    }

    *::-ms-backdrop, div.uc_header_v3 .navbar-header-right .uc_languages_block ul.right-header {
        margin-left:40px;
        padding-right:0;
    }

    /*bottom menu css*/

    div.uc_header_v3 ul.dropdown-menu {
        border:1px solid #e4e4e4;
    }
    
    div.uc_header_v3 div.navbar .header-menu {
        border-top: 1px solid #e4e4e4;
        line-height:45px;
        z-index:1!important;
        max-height:45px;
    }

    div.uc_header_v3 .badge-open {
        top:42px;
        border:1px solid #e4e4e4;
        padding:0;
    }

    div.uc_header_v3 .shop-badge.badge-lists li  .subtotal,
    div.uc_header_v3 .shop-badge.badge-lists li .margin-bottom-10 {
        margin:0;
    }

    div.uc_header_v3 .shop-badge.badge-lists .col-md-12 {
        padding:10px;
        line-height:0;
        border-bottom:1px solid #e4e4e4;
    }

    div.uc_header_v3 .shop-badge.badge-lists .no-border-bottom .col-md-12 {
        border-bottom: none;
    }

    div.uc_header_v3 .content_li
    {
        margin-top: 0px;
    }

    div.uc_header_v3 .shop-badge.badge-lists .row {
        padding:10px;
        margin:0;
    }

    div.uc_header_v3 .shop-badge.badge-lists .row .col-xs-12 {
        padding:0;
    }

    div.uc_header_v3 .shop-badge.badge-lists .row .col-xs-12 .btn-u {
        height:100%;
        padding-top:0;
    }

    div.uc_header_v3 ul.mobile_icon.list-inline.pull-right {
        display:none;
    }

    div.uc_header_v3.set_fixed
    {
        position: fixed;
        width: 100%;
        z-index: 10000;
    }
    #pnl_wrapper.set_fixed
    {
        margin-top: 200px!important;
    }

    div.uc_header_v3 .header-menu .container .mobile_search {
        display:none;
    }
}

@media (max-width: 991px) {
    div.uc_header_v3 .topbar_v3 .col-sm-6 {
        display:none;
    }

    div.uc_header_v3 .header-v5 .navbar
    {
        margin-top: 0px;
    }

    div.uc_header_v3 div.navbar-header .navbar-header-left,
    div.uc_header_v3 div.navbar-header .navbar-header-right {
        display:none;
    }

    div.uc_header_v3 .header-menu-right .search-open{
        display:none;
    }

    div.uc_header_v3 ul.mobile_icon.list-inline.pull-right {
        transform: initial ;
        top: auto;
    }

    div.uc_header_v3 ul.mobile_icon li
    {
        vertical-align: middle;
    }

    div.uc_header_v3 ul.mobile_icon li,
    div.uc_header_v3 ul.mobile_icon li a,
    div.uc_header_v3 ul.mobile_icon li button
    {
        padding-left: 0px;
        margin-left: 0px!important;
        padding-left: 5px!important;
        font-size: 19px;
    }
    
    div.uc_header_v3 ul.mobile_icon li .menu-toggle, 
    div.uc_header_v3 ul.mobile_icon li .category_menu_icon
    {
        padding-right: 0px;
        float: left!important;
    }

    div.uc_header_v3 #uc_header_link_login_mobile:before {
        content: "\f023";
        font-family: FontAwesome;
    }

    div.uc_header_v3 #uc_header_link_to_cart_mobile:before {
        content: "\f07a";
        font-family: FontAwesome;
    }

    div.uc_header_v3 .header-menu .uc_content_search_v3 h2 {
        display:none
    }

    .fa-envelope:before, .fa-lock:before {
        font-size: 19px !important;
    }
}