﻿div.uc_header_v1 .navbar-header
{
    z-index: 1;
    position: relative;
}

@media (min-width: 992px)
{
    div.uc_header_v1.set_fixed
    {
        position: fixed;
        width: 100%;
        z-index: 10000;
    }

    #pnl_wrapper.set_fixed
    {
        margin-top: 140px!important;
    }

    div.uc_header_v1 .uc_menu_flyout_horizontal
    {
        width: 97%;
        position: absolute;
        bottom: 0px;
        padding-left: 210px;
        bottom: 0px;
    }

    .header-v5 .badge-lists.shop-badge
    {
        position: absolute;
        right: 0px;
    }

    .header-v5 .shop-badge.badge-lists > li
    {
        padding-right: 32px;
    }
}
