﻿div.uc_link_block
{
    margin-bottom: 20px;
}

/* These styles handle all advanced styles that are set through CMS settings */
/* Default corrections */
.uc_link_block.advanced {
    margin-bottom: 30px;
}

.uc_link_block.advanced a:hover {
    text-decoration: none;
}

.uc_link_block.advanced h2 {
    line-height: normal;
    font-size: 20px;
}

.uc_link_block.advanced.bg-color > div {
    padding: 20px;
}

.row.stretch-children .uc_link_block.advanced.bg-color > div {
    height: 100%;
}

/* Aligns the links center */
.uc_link_block.advanced.align-center h2 {
    text-align: center;
}
.uc_link_block.advanced.align-center li {
    display: flex !important;
    justify-content: center;
}

/* Aligns the links right */
.uc_link_block.advanced.align-right h2 {
    text-align: right;
}
.uc_link_block.advanced.align-right li {
    display: flex !important;
    justify-content: flex-end;
}

/* Handles the links horizontal or vertical flow */
.uc_link_block.advanced.horizontal-flow ul.categories.list-unstyled {
    display: flex;
    flex-flow: row wrap;
}

.uc_link_block.advanced.horizontal-flow ul.categories.list-unstyled > li {
    margin-right: 25px;
}

.uc_link_block.advanced.horizontal-flow ul.categories.list-unstyled > li:last-child {
    margin-right: 0;
}

/* Horizontal flow when links are aligned center */
.uc_link_block.advanced.horizontal-flow.align-center ul.categories.list-unstyled {
    justify-content: center;
}

/* Horizontal flow when links are aligned right */
.uc_link_block.advanced.horizontal-flow.align-right ul.categories.list-unstyled {
    justify-content: flex-end;
}

/* Adds arrow icons in front of the link */
.uc_link_block.advanced.list-icons ul > li > a::before {
    content: "\f0da";
    margin-right: 7px;
    font-family: FontAwesome;
}