﻿@import "/Styles/AdvancedStyles/uc_placeholder.min.css";

/* General styling and resets */
#pnl_wrapper {
    margin-top: 45px;
}

h1 {
    border-bottom: none !important;
}

.footer-v4 h1,
.footer-v4 h2 {
    border-bottom: none !important;
}
h1::after,
.footer-v4 h1::after, 
.footer-v4 h2::after {
    display: none !important;
}

/* Handles breadcrumbs */
.uc_breadcrumb_block {
    margin-top: -25px;
    margin-bottom: 20px;
}

.uc_breadcrumb_block .breadcrumb-v5 a {
    padding: 2px 5px;
    border-radius: 5px !important;
    border: 1px solid #ddd;
    
}

.uc_breadcrumb_block .breadcrumb-v5 a,
.uc_breadcrumb_block .breadcrumb-v5 li.active {
    font-weight: bold;
    font-size: 13px;
}

/* Handles logon */
.uc_logon_page h1 {
    display: block;
    margin-bottom: 20px;
}

.uc_logon_page > .border {
    border: none !important;
    padding: 0 !important;
}

@media (min-width: 767px) {
    .uc_logon_page {
        margin-top: 50px;
    }
}

/* Handles register */
.uc_register .input-border {
    border: none;
    padding: 0;
}

/* Handles uc_account_blocks */
.service-box-v2.row {
    margin: 0 -15px !important;
}

/* Handles uc_contact_form */
.uc_form_block .input-border {
    border: none !important;
    padding: 0 !important;
}

.uc_form_block .input-border + .buttons {
    padding-left: 0;
}

.uc_form_block textarea {
    padding: 0;
    border: none !important;
}

/* Handles footer */
.uc_footer .footer-v4 h1,
.uc_footer .footer-v4 h2,
.uc_footer .footer-v4 h3,
.uc_footer .footer-v4 h4,
.uc_footer .footer-v4 h5,
.uc_footer .footer-v4 h6 {
    display: inline-block;
    line-height: normal;
}

.uc_footer .footer-v4 h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 15px !important;
    font-size: 20px;
}

.uc_footer .copyright .row,
.uc_footer .copyright .col-md-6 {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.uc_footer .copyright .col-md-6 {
    width: 100%;
}

.uc_footer .copyright .pull-right {
    margin: 0;
}

/* uc_form_block responsive correction */
.uc_form_block .row.sky-space-20 > .col-md-8 {
    width: 100%;
}

/* uc_text_block correction */
.uc_text_block h1,
.uc_text_block h2,
.uc_text_block h3,
.uc_text_block h4,
.uc_text_block h5,
.uc_text_block h6 {
    margin-top: 0;
    margin-bottom: 0;
}