﻿/* Handles the advanced styles for the uc_single_checkout_v2
 * and works in conjunction with .uc_identification. This file
 * is loaded in as soon as uc_single_checkout_v2 is in use */

/*--------------------------------------
    General resets
--------------------------------------*/
.uc_identification .wizard,
.uc_identification .input-group-addon {
    display: none;
}

.uc_identification {
    max-width: 580px;
    margin: 0 auto;
}

.uc_identification .uc_address_block {
    padding: 0;
}

.uc_identification .input-border {
    padding: 0 !important;
    border: none !important;
}

.uc_identification input[type="text"],
.uc_identification input[type="password"] {
    box-shadow: inset 0 0 3px rgba(0,0,0,.15);
    height: 40px;
}

.uc_identification select {
    height: 40px;
}

.uc_identification select:hover {
    cursor: pointer;
}

.uc_identification .input-group,
.uc_identification .form-control,
.uc_identification label {
    display: block;
}

/*--------------------------------------
    Login
--------------------------------------*/
.uc_identification_login {
    margin-top: 50px;
    padding: 15px;
    background: #f3f3f3;
}

.uc_identification_login .form-control {
    margin-bottom: 10px;
}

.uc_identification_login .btn-u-sea-shop {
    margin-top: 10px;
}

.uc_identification section.height-fix > .text-right {
    text-align: center;
    margin: 0;
    padding: 0;
    float: none !important;
}

.uc_identification_login .sb_remember_me a {
    font-size: 14px;
}

.uc_identification_login .btn-u-sea-shop {
    font-size: 17px;
    height: 40px;
}

@media (min-width: 768px) {
    .uc_identification_login {
        padding: 30px;
    }
}

/*--------------------------------------
    Address block
--------------------------------------*/
.uc_identification .uc_address_block .sky-space-20 {
    margin-bottom: 15px;
}

.uc_identification .uc_address_block .sky-space-20 > .col-md-8 {
    width: 100%;
}

.uc_identification .uc_address_block label {
    font-size: 14px;
    font-weight: bold;
}

.uc_identification .uc_address_block .checkbox.inline {
    padding: 15px;
    background: #f3f3f3;
    width: 100%;
}

.uc_identification .uc_address_block label {
    float: none !important;
}

/* Custom checkboxes */
.uc_identification .checkbox input[type="checkbox"] {
    display: none !important;
}

.uc_identification .checkbox input[type="checkbox"] + label {
    display: flex !important;
    align-items: flex-start;
    transition: all 1s;
    position: relative;
}

.uc_identification .checkbox input[type="checkbox"] + label::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 1px solid #838f97;
    background: #f9f9f9;
    margin-right: 8px;
    flex-shrink: 0;
}

.uc_identification .checkbox input[type="checkbox"] + label::after {
    animation-name: test;
    animation-duration: 1s;
}

.uc_identification .checkbox input[type="checkbox"]:checked + label::after {
    position: absolute;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 15px;
    left: 1px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    top: -1px;
}

/* Captcha */
.uc_identification .mb-margin-bottom-30 {
    margin: 30px 0;
    width: 100%;
}

.uc_identification .mb-margin-bottom-30,
.uc_identification .mb-margin-bottom-30 [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.uc_identification .mb-margin-bottom-30 .buttons {
    display: flex;
    justify-content: space-between;
}

.uc_identification .mb-margin-bottom-30 .buttons .btn-u-sea-shop {
    font-size: 17px !important;
    padding: 0 15px !important;
    height: 40px;
}