﻿/* Handles advanced styling for uc_placeholder
 * product blocks and product rows. Import file
 * into desired usercontrols .css file */

/*--------------------------------------
    General resets
--------------------------------------*/
.uc_placeholder.uc_product_block .product-img-brd,
.uc_placeholder.uc_product_block .product-description-brd {
    box-shadow: none !important;
}

.uc_placeholder.uc_product_block .product-description-brd {
    margin-bottom: 50px;
}

.uc_placeholder .free_list .list-inline,
.uc_placeholder .free_text .list-inline {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: -1px;
    padding: 3px 0;
    margin: -1px 0 0;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.uc_placeholder .free_list .value,
.uc_placeholder .free_list .text,
.uc_placeholder .free_text .value,
.uc_placeholder .free_text .text,
.uc_placeholder .prod_weight .text,
.uc_placeholder .prod_weight .value {
    width: 50% !important;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uc_placeholder .free_text .value,
.uc_placeholder .free_list .value,
.uc_placeholder .prod_weight .value {
    text-align: right;
    float: none;
}

.uc_placeholder.uc_product_block .image-block {
    border: 1px solid #ddd;
}

.uc_placeholder .shop-product-prices {
    text-align: left !important;
}

.uc_placeholder .shop-product-prices .value {
    font-size: 20px;
}

.uc_placeholder .shop-product-prices.both-vat-prices li {
    line-height: normal;
}

.uc_placeholder .shop-product-prices.both-vat-prices .excl-vat {
    margin-right: 8px;
}

.uc_placeholder .shop-product-prices.both-vat-prices .value {
    font-size: 16px;
}

.uc_placeholder .vat-label {
    font-size: 12px;
}

@media (max-width: 767px) {
    .uc_placeholder .uc_product_price .both-vat-prices {
        flex-flow: row wrap;
    }
}

/* Makes product images always square */
.uc_placeholder.uc_product_block .image-block a {
    position: relative;
    display: block;
    padding-bottom: 100%;
}

.uc_placeholder.uc_product_block .image-block img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Places prod code above product title with 
 * css, but if the prod code is not shown
 * through the CMS setting prod_code_hide the
 * class no-prod-code is set on uc_placeholder 
 * to fill up the prod codes whitespace  */
.uc_placeholder div.prod_code {
    position: absolute;
    top: 0;
    left: 0;
}

.uc_placeholder .table-block1 {
    position: relative;
    padding-top: 25px;
}

.uc_placeholder.no-prod-code .table-block1 {
    padding-top: 5px;
}

.uc_placeholder.uc_product_row.no-prod-code .table-block1 {
    padding-top: 0;
}

@media (max-width: 767px) {
    .uc_placeholder .table-block1 {
        padding-top: 20px;
    }

    .uc_placeholder.no-prod-code .table-block1 {
        padding-top: 0;
    }
}
/* End prod code placement */

/*--------------------------------------
    Handles product information
--------------------------------------*/

/* Header fixed on 2 lines */
.uc_placeholder.uc_product_block .title-price {
    margin: 0 0 5px;
}

.uc_placeholder.uc_product_block .title-price a {
    display: block;
    line-height: 1.3;
    overflow: hidden;
}

/* Cuts off text on different line heights */
@media (min-width: 768px) {
    .uc_placeholder.uc_product_block.overflow-desc-1 .gender, 
    .uc_placeholder.uc_product_block.overflow-title-1 .title-price a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .uc_placeholder.uc_product_block.overflow-title-2 .title-price a {
        height: 48px;
    }

    .uc_placeholder.uc_product_block.overflow-title-3 .title-price a {
        height: 69px;
    }

    .uc_placeholder.uc_product_block.overflow-title-4 .title-price a {
        height: 94px;
    }
    
    .uc_placeholder.uc_product_block.overflow-desc-2 .gender {
        height: 35px;
    }

    .uc_placeholder.uc_product_block.overflow-desc-3 .gender {
        height: 49px;
    }

    .uc_placeholder.uc_product_block.overflow-desc-4 .gender {
        height: 67px;
    }
}

/* Main description fixed on 2 lines */
.uc_placeholder .gender.text-uppercase {
    display: block;
    text-transform: none !important;
    line-height: 1.3;
    overflow: hidden;
}

.uc_placeholder.uc_product_block .table-block1 .margin-bottom-10 {
    margin-bottom: 0;
}

.uc_placeholder .uc_product_information ul.prod_weight {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    padding: 3px 0;
}

.uc_placeholder div.prod_weight {
    margin-bottom: 0;
}

.uc_products_relations ul.prod_code,
.uc_products_relations_cross ul.prod_code,
.uc_placeholder.uc_product_block ul.prod_code {
    margin: 5px 0 0;
}

.uc_placeholder .prod_code .text {
    display: none;
}

.uc_placeholder .prod_code .value {
    float: none;
    opacity: .6;
    font-weight: bold;
    padding: 0;
}

/*--------------------------------------
    Handles order product
--------------------------------------*/
.uc_placeholder.uc_product_block .uc_order_product {
    margin-top: 20px;
    position: relative;
}

.uc_placeholder .uc_order_product .product-quantity {
    display: flex;
    width: 122px !important;
    justify-content: space-between;
    margin: 0;
}

.uc_placeholder .uc_order_product .normal,
.uc_placeholder .uc_order_product div.sale_unit {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 0 !important;    
    justify-content: space-between;
}

.uc_placeholder.uc_product_block .uc_order_product .normal,
.uc_placeholder.uc_product_block .uc_order_product div.sale_unit {
    width: 189px;
    position: relative;
    height: 57px;
}

.uc_placeholder.uc_product_block .uc_order_product .btn-u-sea-shop {
    border: 1px solid #ddd !important;
    background: transparent !important;
}

.uc_placeholder.uc_product_block .uc_order_product div.normal::before,
.uc_placeholder.uc_product_block .uc_order_product div.sale_unit::before {
    content: "\e901";
    position: absolute;
    right: 13px;
    top: 0;
    font-family: uws-icons;
    font-size: 22px;
    pointer-events: none;
    display: flex;
    flex-direction: row-reverse;
}

/* Fixes IE bug where ::before as position absolute 
 * conflicts with flexbox and breaks alignment */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .uc_placeholder.uc_product_block .uc_order_product div.sale_unit {
        margin-left: -8px;
    }
}

.uc_placeholder .uc_order_product .quantity-button {
    width: 35px !important;
    height: 35px !important;
    background: #dedede;
    color: #2b2b2b;
    font-size: 25px;
    line-height: 1;
}

.uc_placeholder .uc_order_product .quantity-field {
    height: 35px !important;
    width: 50px !important;
    font-weight: bold;
    color: #2b2b2b;
    margin: 0 1px !important;
    border: 1px solid #dedede !important;
}

.uc_placeholder.uc_product_block .uc_order_product .quantity-button:hover {
    background: #ccc;
}

.uc_placeholder.uc_product_block .uc_order_product .sale_unit .quantity-multiplier {
    width: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #2b2b2b !important;
    height: 16px !important;
    position: absolute;
    top: 41px;
    left: 0;
}

.uc_placeholder.uc_product_block .uc_order_product .btn-u-sea-shop {
    padding: 0;
    font-size: 13px;
    background: transparent;
    width: 47px !important; 
    text-indent: -300px;
}

.uc_placeholder.uc_product_block .uc_order_product .sale_unit span {
    margin-right: 4px;
}

.uc_placeholder.uc_product_block .uc_order_product .order_quantity {
    margin-right: 0 !important;
}

@media (max-width: 570px) {
    .uc_placeholder.uc_product_block .uc_order_product .normal,
    .uc_placeholder.uc_product_block .uc_order_product div.sale_unit {
        width: 100%;
    }
}

/* Creates a list view */
@media (max-width: 767px) {
    .uc_products_relations > .row,
    .uc_products_relations_cross > .row,
    .uc_product_list_v2 .content-placeholder > .row {
        display: flex;
        flex-flow: row wrap;
    }

    .uc_products_relations > .row .col-xs-6,
    .uc_products_relations_cross > .row .col-xs-6,
    .uc_reccom_products > .row .col-xs-6,
    .uc_product_list_v2 .content-placeholder > .row > .col-xs-6 {
        width: 100%;
    }

    .uc_placeholder.uc_product_block .row-placeholder {
        display: flex;
        flex-flow: row nowrap;
    }

    .uc_placeholder.uc_product_block .image-block {
        width: 25%;
        border: none;
    }

    .uc_placeholder.uc_product_block .information-block {
        width: 75%;
        padding-left: 20px;
        margin-bottom: 0 !important;
    }

    .uc_placeholder.uc_product_block .item-border {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .uc_placeholder.uc_product_block .prod_code {
        margin-top: 0 !important;
    }

    .uc_placeholder.uc_product_block div.sale_unit {
        margin-bottom: 15px;
    }

    /* List view corrections for lazy loading */
    .uc_product_list_v2 #lazy-target .product-row > .col-xs-6 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .uc_product_list_v2 .content-placeholder > .row > .col-xs-6 {
        width: 33.3333333%;
    }

    .uc_product_list_v2 .content-placeholder > .row {
        display: flex;
        flex-flow: row wrap;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-9 > .uc_product_list_v2 .content-placeholder > .row {
        display: flex;
        flex-flow: row wrap;
    }

    .col-md-9 > .uc_product_list_v2 .content-placeholder > .row > .col-md-3 {
        width: 33.3333333%;
    }
}

/*--------------------------------------
    Handles discount prices
--------------------------------------*/
.uc_placeholder .rgba-banner {
    left: -3px;
    top: 10px;
    font-size: 11px;
    right: auto;
}

.uc_placeholder .shop-product-prices span {
    font-weight: normal;
}

.uc_placeholder .shop-product-prices .salesaction_to {
    color: inherit !important;
    margin-right: 5px;
}

.uc_placeholder .shop-product-prices .salesaction_for {
    opacity: .7;
    font-size: 15px;
}

/*--------------------------------------
    Handles product group matrix
--------------------------------------*/
.uc_placeholder.uc_product_row .uc_product_group_matrix .table-bordered {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px 15px;
}

.uc_placeholder.uc_product_row .uc_product_group_matrix h2 {
    margin: 0 -15px;
    font-size: 18px;
}

.uc_placeholder.uc_product_row .uc_product_group_matrix .btn-u-sea-shop {
    margin-right: -15px;
}

.uc_placeholder.uc_product_row .uc_product_group_matrix .prod_code {
    position: static;
}

.uc_placeholder.uc_product_row .prod_quantity {
    width: auto;
    padding-right: 0;
}

.uc_placeholder.uc_product_row .uc_product_group_matrix .product_group  {
    padding: 5px 0 !important;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background: #f9f9f9;
    margin-bottom: 0;
}

.uc_placeholder.uc_product_row .uc_product_group_matrix .product-quantity {
    display: flex;
    flex-flow: row nowrap;
    float: none !important;
}

.uc_placeholder.uc_product_row .uc_product_group_matrix .quantity-button {
    width: 35px !important;
    height: 35px !important;
    background: #dedede;
}

.uc_placeholder.uc_product_row .uc_product_group_matrix .quantity-field {
    width: 35px !important;
    border: 1px solid #dedede !important;
    margin: 0 1px;
    height: 35px !important;
}

.uc_placeholder.uc_product_row .uc_product_group_matrix .prod_desc {
    font-weight: bold;
}

.uc_placeholder.uc_product_row .add_to_basket {
    margin-top: 10px;
    margin-right: 5px !important;
    padding: 0 15px;
}

/*--------------------------------------
    Handles row layout
--------------------------------------*/
.uc_placeholder.uc_product_row .prod_code {
    margin-bottom: 5px !important;
}
    
.uc_placeholder.uc_product_row .item-border {
    box-shadow: none !important;
    padding: 0 0 20px;
    border-bottom: 1px solid #ddd;
}

.uc_placeholder.uc_product_row .uc_order_product .product-quantity {
    margin-right: 20px;
}

.uc_placeholder.uc_product_row .shop-product-prices {
    margin: 10px 0;
}

.uc_placeholder.uc_product_row .image-block {
    padding: 0;
}

.uc_placeholder.uc_product_row .title-price {
    margin: 0;
}

.uc_placeholder.uc_product_row .title-price a {
    font-size: 24px;
}

.uc_placeholder.uc_product_row .image-block img {
    border-right: 0;
}

.uc_placeholder.uc_product_row .free_list .value,
.uc_placeholder.uc_product_row .free_text .value,
.uc_placeholder.uc_product_row .prod_weight .value {
    text-align: left;
}    
    
.uc_placeholder.uc_product_row .uc_order_product .quantity-button {
    margin-left: 0 !important;
}

.uc_placeholder.uc_product_row .uc_order_product .normal > .inputbutton {
    width: auto !important;
    padding: 0 20px;
}

.uc_placeholder.uc_product_row .uc_order_product .quantity-multiplier {        
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    width: auto;
    padding: 0 20px 0 0;
}

.uc_placeholder.uc_product_row .uc_order_product .normal,
.uc_placeholder.uc_product_row .uc_order_product div.sale_unit {
    justify-content: flex-start;
}

/* Responsive product row needed for uc_favorites_overview */
.uc_placeholder.uc_product_row .information-block {
    padding: 0;
}

@media (max-width: 767px) {
    .uc_placeholder.uc_product_row .normal,
    .uc_placeholder.uc_product_row .sale_unit {
        flex-flow: row wrap !important;
    }    

    .uc_placeholder.uc_product_row .product-quantity {
        margin-bottom: 15px;
    }

    .uc_placeholder .uc_order_product .btn-u-sea-shop {
        margin-left: 0 !important;
    }
}

/*--------------------------------------
    Up and cross selling specific
--------------------------------------*/

.uc_products_relations .clearfix,
.uc_products_relations .mobile-clearfix,
.uc_products_relations_cross .clearfix,
.uc_products_relations_cross .mobile-clearfix {
    display: none;
}

.uc_products_relations_cross .uc_product_information li,
.uc_products_relations .uc_product_information li {
    line-height: 1.6 !important;
}

.uc_products_relations .uc_placeholder .product-description-brd,
.uc_products_relations_cross .uc_placeholder .product-description-brd {
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .uc_products_relations .uc_placeholder .illustration-v2,
    .uc_products_relations_cross .uc_placeholder .illustration-v2 {
        width: 100%;
    }
}

@media (min-width: 1201px) {
    .uc_products_relations_cross .uc_placeholder .product-description,
    .uc_products_relations .uc_placeholder .product-description {
        padding: 0;
    }

    .uc_products_relations_cross .col-md-4,
    .uc_products_relations .col-md-4 {
        width: 25%;
    }    
}

/*--------------------------------------
    Recommended products specific
--------------------------------------*/
.uc_reccom_products .product-description-brd {
    padding: 0;
}

/*--------------------------------------
    Lazyloading
--------------------------------------*/
[id*="lazy_target"] .mobile-clearfix {
    display: none !important;
}