﻿/* Handles the advanced styles for the uc_shopping_cart_overview
 * and works in conjunction with .uc_single_checkout_v2 This file 
 * is loaded in as soon as .uc_single_checkout_v2 is in use */

/*--------------------------------------
    General resets
--------------------------------------*/

.shopping-cart li,
.shopping-cart h1,
.shopping-cart h2,
.shopping-cart h3,
.shopping-cart h4,
.shopping-cart h5 {
    line-height: normal;
    margin: 0;
}

.shopping-cart .block > .buttons {
    display: none;
}

.shopping-cart .actions {
    margin-top: 40px;
}

.shopping-cart h1,
.shopping-cart h2,
.shopping-cart h1::after,
.shopping-cart h2::after {
    border-bottom: 0;
    margin: 0;
}

.shopping-cart h1::after,
.shopping-cart h2::after {
    display: none;
}

.shopping-cart input[type="radio"],
.shopping-cart label {
    margin: 0 !important;
    line-height: normal;
}

.shopping-cart .input[type="text"] {
    box-shadow: inset 0 0 3px rgba(0,0,0,.15);
    height: 40px;
}

/* Centers pagination */
.uc_shopping_cart .repeater-pager {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}



/* Reset iPad query from uc_shopping_cart_overview.css */
.shopping-cart div.uc_shopping_cart table tr td.image img {
    margin-top: 0 !important;
}

.shopping-cart .lines .product-it-in {
    text-align: left !important;
}

.shopping-cart .product-it-in h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.shopping-cart .product-it-in .row_comments {
    margin-top: 0;
}

.shopping-cart div.uc_shopping_cart thead tr {
    position: static !important;
}
/* End iPad query resets*/

/*--------------------------------------
    Responsive cart overview
--------------------------------------*/
.shopping-cart thead {
    background: #8593a0;
}

.shopping-cart tbody,
.shopping-cart thead {
    display: block;
}

.shopping-cart thead tr {
    padding: 0 15px !important;
    height: 40px;
}

.shopping-cart th {
    color: #fff !important;
    font-weight: bold !important;
    font-size: 12px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.shopping-cart td {
    display: block;
}

/* Main table */
.shopping-cart table.lines {
    display: flex;
    flex-flow: column;
}

.shopping-cart .lines tr,
.shopping-cart .lines th {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 15px;
}

.shopping-cart .lines tbody tr {
    padding: 15px;
    background: #f9f9f9;
    margin-bottom: 5px;
    border: none;
}

.shopping-cart table.lines td {
    padding: 0 !important;
    border-bottom: none;
    color: #2b2b2b !important;
}

.shopping-cart td::before {
    content: '';
}

.shopping-cart .product-in-table h3 {
    margin-bottom: 0;
}

.shopping-cart .product-in-table h3 a {
    color: inherit;
}

.shopping-cart td,
.shopping-cart td a,
.shopping-cart td span {
    font-weight: 700 !important;
    font-size: 15px !important;
}

.shopping-cart .price .original {
    order: 2;
}

.shopping-cart .price .actual {
    order: 1;
}

/* Remove prod */
.shopping-cart .remove_row a {
    color: #f9f9f9 !important;
    position: relative;
    height: 17px;
    width: 17px;
    padding: 0 !important;
}

.shopping-cart .remove_row a::after,
.shopping-cart .remove_row a::before {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background: #8593a0;
    position: absolute;
    left: -2px;
    top: 7px;
    transform: rotate(45deg);
}

.shopping-cart .remove_row a::after {
    transform: rotate(-45deg);
}

.shopping-cart .remove_row a:hover {
    color: #f9f9f9 !important;
    opacity: .75;
}

@media (max-width: 759px) {
    .shopping-cart .lines .product-it-in h3 {
        max-height: 50px;
        overflow-y: hidden;
        line-height: 1;
        margin-bottom: 15px;
    }

    .shopping-cart .lines .product-it-in h3 a {
        font-size: 14px !important;
    }

    .shopping-cart .lines thead,
    .shopping-cart .lines .product-it-in h5 {
        display: none;
    }

    .shopping-cart tr.normal {
        flex-flow: row wrap;
        align-items: flex-start;
        margin-bottom: 20px !important;
        padding-bottom: 0 !important;
    }

    .shopping-cart .lines .image {
        width: 50px;
        order: 1;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .shopping-cart .lines .code {
        width: calc(90% - 60px);
        flex-grow: 1;
        order: 2;
    }

    .shopping-cart .lines .price {
        width: 40%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        order: 5;
        align-items: flex-end;
        height: 60px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .shopping-cart .lines .price::before {
        display: none !important;
    }

    .shopping-cart .lines td.quantity {
        width: 60%;
        flex-grow: 1;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        order: 4;
        height: 60px;
    }

    .shopping-cart .lines .order .product-quantity,
    .shopping-cart .lines .order .quantity-multiplier,
    .shopping-cart .uc_order_product {
        width: 100% !important;
    }

    .shopping-cart .uc_order_product .quantity-field {
        width: calc(100% - 82px) !important;
    }

    .shopping-cart .lines .amount {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;
        order: 6;
        padding: 15px 0 !important;
    }

    .shopping-cart .lines .amount::before {
        content: attr(data-content-before);
        position: static;
    }

    .shopping-cart .lines .remove_row {
        width: 10%;
        order: 3;
    }

    .shopping-cart .lines .employee {
        border-bottom: 1px solid #ddd !important;
        border-top: none !important;
        padding: 10px 0 !important;
    }
}


@media (min-width: 760px) {
    .shopping-cart .lines .product-it-in h3 {
        max-height: 50px;
        overflow-y: hidden;
        line-height: 1;
        margin-bottom: 3px;
    }

    /* Image column */
    .shopping-cart .lines tbody .image {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 70px;
    }

    .shopping-cart .lines .image {
        width: 8%;
    }

    .shopping-cart .lines img {
        width: 100%;
    }

    /* Product code column */
    .shopping-cart .lines .code {
        width: 29%;
        padding-left: 20px !important;
    }

    /* Price column*/
    .shopping-cart .lines .price {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        width: 13%;
        padding-right: 0;
    }

    /* Quantity column */
    .shopping-cart .lines .quantity {
        width: 26%;
        padding-right: 0 !important;
        display: flex;
        justify-content: flex-end;
    }

    .shopping-cart .lines th.quantity {
        padding-right: 48px !important;
    }

    /* Amount column */
    .shopping-cart .lines .amount {
        width: 18%;
        margin-right: 2%;
        justify-content: flex-end;
        padding-right: 0;
    }

    /* Remove column */
    .shopping-cart .lines .remove_row {
        width: 4%;
        padding: 0 !important;
    }

    .shopping-cart .lines .employee {
        padding-left: 15px !important;
        text-align: left !important;
    }

    /* Never shrink when scaling horizontally */
    .shopping-cart td {
        flex-shrink: 0;
    }
}

@media (max-width: 991px) {
    .shopping-cart .lines .employee {
        width: 100%;
        display: flex;
        justify-content: space-between;
        order: 6;
        padding: 10px 0 !important;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd !important;
    }

    .shopping-cart .lines th.employee,
    .shopping-cart .lines .employee.empty-cell {
        display: none !important;
    }

    .shopping-cart .lines tbody tr {
        flex-flow: row wrap !important;
    }

    .shopping-cart .lines .employee::before {
        content: attr(data-content-before);
        position: static;
    }
}

@media (min-width: 992px) {
    .shopping-cart .lines .code {
        flex-grow: 1;
        width: 15%;
    }

    .shopping-cart .lines .price {
        width: 12%;
    }

    .shopping-cart .lines .quantity {
        width: 20%;
    }

    .shopping-cart .lines .amount {
        width: 14%;
        margin-right: 0;
    }    

    .shopping-cart .lines .remove_row {
        width: 4%;
        margin-left: 4%;
    }

    .shopping-cart .lines .employee {
        width: 18%;
    }

    .shopping-cart .lines th.amount {
        margin-right: 8%;
    }
}

/*--------------------------------------
   Order product
--------------------------------------*/
.shopping-cart .uc_order_product .product-quantity {
    display: flex;
    width: 142px !important;
    justify-content: space-between;
    margin-bottom: 0;
}

.shopping-cart .uc_order_product .quantity-button {
    width: 40px !important;
    height: 40px !important;
    background: #dedede;
    color: #2b2b2b;
    font-weight: bold;
    font-size: 25px;
    line-height: normal;
}

.shopping-cart .quantity-field {
    height: 40px !important;
    width: 60px !important;
    font-weight: bold;
    color: #2b2b2b;
    margin: 0 1px !important;
    border: 1px solid #dedede !important;
}

.shopping-cart .uc_order_product .quantity-button:hover {
    background: #ccc;
}

.shopping-cart .sale_unit .quantity-multiplier {
    width: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    background: #8593a0;
    color: #fff !important;
    height: 18px !important;
    margin-top: 1px;
}

.shopping-cart .sale_unit span {
    margin-right: 4px;
}

.shopping-cart .order_quantity {
    margin-right: 0 !important;
}

/*--------------------------------------
    Coupon code
--------------------------------------*/
.shopping-cart .uc_coupon_code .btn-default,
.shopping-cart .uc_coupon_code .btn-default:active {
    padding: 0;
    height: 40px;
    width: 40px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    border: none;
}

.shopping-cart .uc_coupon_code .btn-remove,
.shopping-cart .uc_coupon_code .btn-remove:active {
    background: #b6b6b6 !important;
}

.shopping-cart .uc_coupon_code input {
    height: 40px;
}

.shopping-cart .uc_coupon_code .btn-default span {
    color: #fff;
}

.shopping-cart .uc_coupon_code .input-group {
    display: flex;
}

.shopping-cart .uc_coupon_code .glyphicon-ok::before {
    content: "\f00c";
    font-size: 17px;
    font-family: FontAwesome;
}

@media (min-width: 768px) {
    .shopping-cart .uc_coupon_code .col-md-6 {
        width: 75%;
    }
}

/*--------------------------------------
    Shoppingcart totals
--------------------------------------*/
.shopping-cart .uc_shopping_cart_totals {
    margin-top: 0;
}

.shopping-cart .uc_shopping_cart_totals > .row {
    margin: 0;
}

.shopping-cart .uc_shopping_cart_totals h4,
.shopping-cart .uc_shopping_cart_totals span {
    font-size: 15px;
}

.shopping-cart .uc_shopping_cart_totals span {
    font-weight: bold;
}

.shopping-cart .uc_shopping_cart_totals {
    margin-top: 0;
}

.shopping-cart .uc_shopping_cart_totals span {
    padding: 0 !important;
}

.shopping-cart .uc_shopping_cart_totals h4 {
    opacity: .7;
}

.shopping-cart .uc_shopping_cart_totals li::before,
.shopping-cart .uc_shopping_cart_totals li::after,
.shopping-cart th.code span {
    display: none;
}

.shopping-cart .uc_shopping_cart_totals li {
    padding: 8px 15px;
    display: flex !important;
    justify-content: space-between;
    flex-flow: row nowrap;
    background: #f9f9f9;
    border-bottom: 1px solid #fff;
}

/* Price totals */
.shopping-cart .total-result li:last-child {
    background: #f0f0f0;
    padding: 15px 15px;
}

.shopping-cart .total-result li.divider {
    display: none !important;
}

.shopping-cart .total-result li:last-child h4,
.shopping-cart .total-result li:last-child span {
    font-size: 20px;
    margin: 0;
}

.shopping-cart .total-result .total-price span {
    color: inherit !important;
}

@media (max-width: 570px) {
    .shopping-cart .total-result li:last-child {
        display: flex;
        align-items: center;
    }

    .shopping-cart .total-result li:last-child h4 {
        font-size: 16px;
    }
}