<template>
  <div class="utlz-pagination">
    <ul class="pagination-list">

      <li v-for="(page, index) in pages" :key="index + 1" v-bind:class="{ active: page.value === currentPage }">

        <template v-if="page.type === 'elipsis'">
          <a class="elipsis">{{page.value}}</a>
        </template>

        <template v-if="page.type === 'page'">
          <a @click="updatePage(page.value)" class="counter btn-square">{{page.value}}</a>
        </template>

        <template v-if="page.type === 'arrowLeft'">
          <a @click="updatePage(page.value--)" class="arrow-left">{{"left"}}</a>
        </template>

        <template v-if="page.type === 'arrowRight'">
          <a @click="updatePage(page.value++)" class="arrow-left">{{'right'}}</a>
        </template>

      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    totalPages: { type: Number, required: true, default: 1 },
    currentPage: { type: Number, required: false, default: 1 },
    scrollToTop: { type: Boolean, required: false },
    scrollToElementId: { type: String, required: false }
  },
  computed: {
    pages () {
      const pages = [];

      if (this.currentPage > 1 && this.totalPages > 4) {
        pages.push({ type: 'arrowLeft' })
      }
      pages.push({ type: 'page', value: 1 });

      if (this.currentPage + 2 > 4) {
        pages.push({ type: 'elipsis', value: '...' })
      }

      let startPage = (this.currentPage - 2) < 2 ? 2 : this.currentPage - 5;
      let endPage = (startPage + 5) < this.totalPages ? startPage + 5 : this.totalPages - 3;
      for (var i = startPage; i <= endPage; i++) {
        pages.push({ type: 'page', value: i });
      }

      if (this.currentPage + 2 < this.totalPages) {
        pages.push({ type: 'elipsis', value: '...' })
      }

      if (this.currentPage < this.totalPages - 3) {
        pages.push({ type: 'page', value: this.totalPages });
      }

      if (this.currentPage < this.totalPages && this.totalPages > 4) {
        pages.push({ type: 'arrowRight' })
      }
      return pages;
    }
  },
  methods: {
    updatePage (pageNumber) {
      alert(pageNumber);
      this.$emit('changedPage', pageNumber);
      if (this.scrollToTop) {
        window.scroll({ top: 0 });
      } else if (this.scrollToElementId) {
        document.getElementById(this.scrollToElementId).scrollIntoView();
      }
    }
  }
}
</script>

<style>

</style>
