﻿/*************************************/
/* Het inhoud gedeelte van de slider */
div.uc_slider .slide {
    margin-bottom:20px;
}

div.uc_slider .carousel-indicators li, .carousel-indicators .active{
    background-color: black;
    border-radius:10px !important;
}

div.uc_slider .carousel-indicators {
    bottom: -30px;
}