﻿@media (max-width: 768px)
{
    .container
    {
        width: 100%;
    }
}

/* Clearfix invisible on mobile layout*/
@media (max-width: 992px)
{
    div.clearfix
    {
        display: none!important;
    }
}

@media (max-width: 480px) 
{
    div.uc_footer .row > div
    {
        float: none!important;
    }
}

.img-center
{
    text-align: center;
}

.input-border
{
    border: 1px solid #eee;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Standaard fix voor hoogte logo */
.navbar-brand 
{
    height: auto;
}

/* Standaard input controls */
.radio, .checkbox 
{
    position: static;
    display: inline;
}

textarea.form-control
{
    width: 100%!important;
}

.radio input[type=radio]
{
    margin-left: 0px !important;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;

    position: static;

    width: 20px;
    height: 20px;


    -webkit-appearance:radio;
}

.checkbox input[type=checkbox]
{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;

    position: static;

    width: 20px;
    height: 20px;


    -webkit-appearance:checkbox;
}
input[type=checkbox]
{
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;

    position: static;

    width: 20px;
    height: 20px;


    -webkit-appearance:checkbox;
}

input[type=radio]
{
    margin-left: 0px !important;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;

    position: static;

    width: 20px;
    height: 20px;


    -webkit-appearance:radio;
}
.radio label
{
    margin-right: 10px;
    padding-left: 0px;
}



/* Standaarden */
h1
{
    display: inline;
    padding-bottom: 2px;
    font-size: 25px;
}

@media (min-width: 991px)
{
    .desk-right
    {
        float: right;
    }
}

.shop-product .quantity-field
{
    margin-bottom: 0px;
    margin-left:-4px;
    margin-top: 0px;
    margin-right: 0px;
}

h1:after
{
    display: block;
    padding-bottom: 1px;
    content: " ";
    overflow: visible;
    border-bottom: 1px dotted #e4e9f0;
    margin-bottom: 10px;
}

h1::after
{
    display: block;
    padding-bottom: 1px;
    content: " ";
    overflow: visible;
    border-bottom: 1px dotted #e4e9f0;
    margin-bottom: 10px;
}

div.utlz_change_block
{
    display: block;
    position: absolute; 
    width: 25px;
    height: 25px;

    overflow: hidden;

    padding-left: 0px; 
    padding-right: 0px; 
    padding-top: 0px;
    padding-bottom: 0px; 
    z-index: 21; 
}

div.utlz_change_block a {
    display: block !important;
    width: 25px;
    height: 25px;
    text-indent: 25px;
    background-image: url('../DefaultImages/change_button.png');
    background-color: transparent;
    margin: 0 !important;
    padding: 0 !important;
}

div.shopping-cart .btn-u
{
    width: 10em;
}

table tr td,
table tr th
{
    text-align: left;
}

/* Handles notification messages */
#order_message, 
#error_message {
    z-index: 999;
    display: none;
    position: fixed;
    min-height: 50px;
    background-color: #dff0d8 !important;
    text-align: center;
    top: 0;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    color: #3c763d;
    border-bottom: 1px solid #d6e9c6;
    box-shadow: 0 2px 10px rgba(0,0,0,.8);
    padding: 10px 15px;
    line-height: 25px;
}

#error_message {
    background-color: #f2dede !important;
    color: #a94442;
    border-bottom: 1px solid #ebccd1;
}

div#order_message::before,
div#error_message::before {
    content: "\f058";
    font-family: FontAwesome;
    margin-right: 10px;
    font-size: 20px;
    position: relative;
    top: 2px;
}

div#error_message::before {
    content: '';
}

div#error_message .fa.fa-close {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #a94442;
    font-size: 15px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #a94442;
    color: #ebccd1;
    border-radius: 20px !important;
    cursor: pointer;
}

/* Handles lazyloading notifications */
#async-notifications {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
}


#async-notifications #order_message {
    z-index: 2;
    position: relative;
    box-shadow: 0 4px 2px -2px gray !important;
}

#async-notifications #error_message {
    z-index: 2;
    padding-right: 40px;
    position: relative !important;
}

@media (max-width: 767px) {
    #async-notifications #error_message {
        line-height: 1;
    }
}

/* Handles progress loader */
#lazy-load-spinner {
    display: none;
    width: 100%;
}

.loader-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.loader-wrapper span {
    margin-left: 10px;
}

.loader {
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 50% !important;
    border-top: 3px solid #000;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1.5s linear infinite; /* Safari */
    animation: spin 1.5s linear infinite;
}

/* Handles all product rows used in lazy-loading */
@media (max-width: 991px) {
    .product-row {
        display: flex;
        flex-flow: row wrap;
    }
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Maak de modal windows responsive */
.modal-content
{
    width: 100%!important;
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

img {
    max-width: 100%;
}

div.block_breakout > div  {
    float: none;
}

.fa-envelope:before, .fa-lock:before {
    font-size: 15px !important;
}

div.uc_address_block .checkbox label, div.uc_address_block .radio label {
        padding-left: 0px !important;
        float: right;
}

div.uc_address_block .checkbox{
    display: inline-block !important;
}

.alert-danger p
{
    color: inherit;
}


/* Handles vertical alignment of CMS blocks within a row */
.row.stretch-children {
    display: flex;
    flex-flow: row wrap;
}

/* Makes each column grow full width on mobile devices */
@media (max-width: 991px) {
    .row.stretch-children > [class*="col-md-"] {
        flex-grow: 1;
        width: 100%; /* IE-fix*/
    }
}

/* Advanced font families */
/* UWS font icons */
@font-face {
    font-family: uws-icons;
    src: url("Assets/Fonts/FontIcons/uws_icons.woff");
}

/* Roboto Family */
@font-face {
    font-family: "RobotoSlab-Light";
    src: url("Assets/Fonts/RobotoSlab/RobotoSlab-Light.ttf");
}

@font-face {
    font-family: "RobotoSlab-Regular";
    src: url("Assets/Fonts/RobotoSlab/RobotoSlab-Regular.ttf");
}

@font-face {
    font-family: "RobotoSlab-Bold";
    src: url("Assets/Fonts/RobotoSlab/RobotoSlab-Bold.ttf");
}

/* Bree Serif Regular */
@font-face {
    font-family: "BreeSerif-Regular";
    src: url("Assets/Fonts/BreeSerif/BreeSerif-Regular.ttf");
}

/* Encode Sans Regular, Semi-Bold */
@font-face {
    font-family: "EncodeSans-Regular";
    src: url("Assets/Fonts/EncodeSans/EncodeSansCondensed-Regular.ttf");
}

@font-face {
    font-family: "EncodeSans-SemiBold";
    src: url("Assets/Fonts/EncodeSans/EncodeSansCondensed-SemiBold.ttf");
}

/* Quicksand Regular, Medium and Bold */
@font-face {
    font-family: Quicksand-Regular;
    src: url("Assets/Fonts/Quicksand/Quicksand-Regular.ttf");
}

@font-face {
    font-family: Quicksand-Medium;
    src: url("Assets/Fonts/Quicksand/Quicksand-Medium.ttf");
}

@font-face {
    font-family: Quicksand-Bold;
    src: url("Assets/Fonts/Quicksand/Quicksand-Bold.ttf");
}

/* Barlow Semi Condensed Regular and Medium */
@font-face {
    font-family: BarlowSemiCondensed-Regular;
    src: url("Assets/Fonts/BarlowSemiCondensed/BarlowSemiCondensed-Regular.ttf");
}

@font-face {
    font-family: BarlowSemiCondensed-Medium;
    src: url("Assets/Fonts/BarlowSemiCondensed/BarlowSemiCondensed-Medium.ttf");
}

/* Montserrat Regular and Medium*/
@font-face {
    font-family: Montserrat-Regular;
    src: url("Assets/Fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Montserrat-Medium;
    src: url("Assets/Fonts/Montserrat/Montserrat-Medium.ttf");
}

/* Helper classes
 * Below classes can be used for a variety of
 * uses. E.g. in a blok vormgeving or as a class
 * on a button in a uc_text_block */

/* Extra button classes, use on <a> for example */
.btn-block,
.btn-inline {
    display: inline-flex !important;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    line-height: 1 !important;
}

.btn-block {
    display: flex !important;
}

.btn-block.btn-25,
.btn-inline.btn-25 {    
    padding: 0 10px;
    height: 25px;
}

.btn-block.btn-30,
.btn-inline.btn-30 {    
    padding: 0 10px;
    height: 30px;
}

.btn-block.btn-35,
.btn-inline.btn-35 {
    padding: 0 15px;
    height: 35px;
}

.btn-block.btn-50,
.btn-inline.btn-50 {
    padding: 0 15px;
    height: 50px;
    font-size: 20px;
}

.btn-block.btn-75,
.btn-inline.btn-75 {
    padding: 0 25px;
    height: 75px;
    font-size: 30px;
}
/* End button classes */

/* Border radius classes */
.rounded-5 { border-radius: 5px !important; }
.rounded-10 { border-radius: 10px !important; }
.rounded-15 { border-radius: 15px !important; }
.rounded-20 { border-radius: 20px !important; }
.rounded-25 { border-radius: 25px !important; }
.rounded-30 { border-radius: 30px !important; }
.rounded-35 { border-radius: 35px !important; }
.rounded-40 { border-radius: 40px !important; }
.rounded-45 { border-radius: 45px !important; }
/* End border radius classes */


.line-height-1 { line-height: 1 !important; }
.line-height-normal { line-height: normal !important; }

.center-center-block {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.center-center-inline {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 767px) {
    .margin-0-sm { margin: 0 !important; }
    .margin-10-sm { margin: 10px !important; }
    .margin-20-sm { margin: 20px !important; }
    .margin-30-sm { margin: 30px !important; }
    .margin-40-sm { margin: 40px !important; }
    .margin-50-sm { margin: 50px !important; }

    .margin-top-10-sm { margin-top: 10px !important; }
    .margin-top-20-sm { margin-top: 20px !important; }
    .margin-top-30-sm { margin-top: 30px !important; }
    .margin-top-40-sm { margin-top: 40px !important; }
    .margin-top-50-sm { margin-top: 50px !important; }

    .margin-bottom-10-sm { margin-bottom: 10px !important; }
    .margin-bottom-20-sm { margin-bottom: 20px !important; }
    .margin-bottom-30-sm { margin-bottom: 30px !important; }
    .margin-bottom-40-sm { margin-bottom: 40px !important; }
    .margin-bottom-50-sm { margin-bottom: 50px !important; }

    .margin-left-10-sm { margin-left: 10px !important; }
    .margin-left-20-sm { margin-left: 20px !important; }
    .margin-left-30-sm { margin-left: 30px !important; }
    .margin-left-40-sm { margin-left: 40px !important; }
    .margin-left-50-sm { margin-left: 50px !important; }

    .margin-right-10-sm { margin-left: 10px !important; }
    .margin-right-20-sm { margin-left: 20px !important; }
    .margin-right-30-sm { margin-left: 30px !important; }
    .margin-right-40-sm { margin-left: 40px !important; }
    .margin-right-50-sm { margin-left: 50px !important; }
}

@media (min-width: 768px) {
    .margin-0-md { margin: 0 !important; }
    .margin-10-md { margin: 10px !important; }
    .margin-20-md { margin: 20px !important; }
    .margin-30-md { margin: 30px !important; }
    .margin-40-md { margin: 40px !important; }
    .margin-50-md { margin: 50px !important; }

    .margin-top-10-md { margin-top: 10px !important; }
    .margin-top-20-md { margin-top: 20px !important; }
    .margin-top-30-md { margin-top: 30px !important; }
    .margin-top-40-md { margin-top: 40px !important; }
    .margin-top-50-md { margin-top: 50px !important; }

    .margin-bottom-10-md { margin-bottom: 10px !important; }
    .margin-bottom-20-md { margin-bottom: 20px !important; }
    .margin-bottom-30-md { margin-bottom: 30px !important; }
    .margin-bottom-40-md { margin-bottom: 40px !important; }
    .margin-bottom-50-md { margin-bottom: 50px !important; }

    .margin-left-10-md { margin-left: 10px !important; }
    .margin-left-20-md { margin-left: 20px !important; }
    .margin-left-30-md { margin-left: 30px !important; }
    .margin-left-40-md { margin-left: 40px !important; }
    .margin-left-50-md { margin-left: 50px !important; }

    .margin-right-10-md { margin-left: 10px !important; }
    .margin-right-20-md { margin-left: 20px !important; }
    .margin-right-30-md { margin-left: 30px !important; }
    .margin-right-40-md { margin-left: 40px !important; }
    .margin-right-50-md { margin-left: 50px !important; }    
}
/* End helper classes */

/* Styles autocomplete list in the header */
.autocomplete_ws_search {
    z-index: 9999 !important;
    list-style: none;
    padding-left: 0;
    box-shadow: 0 0 15px rgba(0,0,0,.25);
}

.autocomplete_ws_search li {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    padding: 10px 5px;
}

.autocomplete_ws_search .highlighted {
    background-color: #ddd !important;
}


/* Handles page repeaters */
.repeater-pager .pager_next,
.repeater-pager .pager_numbers,
.repeater-pager .pager_previous {
    display: inline-flex;
    flex-flow: row nowrap;
}

.repeater-pager .button_next,
.repeater-pager .button_previous {
    position: relative;
    overflow: hidden;
    text-indent: -999px;
}

.repeater-pager .button_previous::before,
.repeater-pager .button_next::before {
    content: "\f105";
    display: inline-block;
    position: absolute;
    font-family: FontAwesome;
    font-size: 16px;
    left: 12px;
    top: 0;
    text-indent: 0;
}

.repeater-pager .button_previous::before {
    content: "\f104";
    left: 11px;
}

.repeater-pager .btn-u.btn-text {
    text-align: center;
    background-color: transparent;
    border: 1px solid #ddd;
    margin: 0 3px;
    transition: background .2s;
    font-weight: bold;
    padding: 0 3px;
    color: #2b2b2b !important;
}

.repeater-pager .btn-u.btn-text:hover,
.repeater-pager .btn-u.btn-text.active {
    border-color: transparent !important;
}

@media (max-width: 767px) {
    .repeater-pager a {
        min-width: 40px !important;
        height: 40px;
        line-height: 40px;
    }

    .repeater-pager .button_last,
    .repeater-pager .button_first,
    .repeater-pager .pager_numbers a,
    .repeater-pager .button_dots {
        display: none;
    }

    .repeater-pager .pager_numbers a.active {
        display: inline-block !important;
    }

    .repeater-pager .button_previous::before,
    .repeater-pager .button_next::before {
        left: 16px;
    }
}

@media (min-width: 768px) {
    .repeater-pager .btn-u.btn-text {
        height: 30px;
        line-height: 30px;
        min-width: 30px !important;
        width: auto !important;
    }
}

.utilize-watermark {
    position: fixed;
    font-size: 28px;
    transform: rotate(-45deg);
    padding: 0 100px;
    z-index: 10000;
    box-shadow: 0 0 15px rgba(0,0,0,.8);
    bottom: -10px;
    right: -100px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    line-height: 55px;
}

.watermark-development {
    background: #1f9e83;
    right: -96px;
    color: #fff;
}

.watermark-test {
    background: yellow;    
}
