﻿div.account > table.overview,
div.account > table.lines
{
    width: 100%;
    border-bottom-width: 1px;
}

div.account > table.overview th,
div.account > table.lines th
{
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    text-align: left;
    font-weight: bold;
}

div.account > table.overview th.amount,
div.account > table.lines th.amount,
div.account > table.overview td.amount,
div.account > table.lines td.amount
{
    text-align: right;
}

div.account > table.overview th.quantity,
div.account > table.lines th.quantity,
div.account > table.overview td.quantity,
div.account > table.lines td.quantity

{
    text-align: center;
}

/* table row styles 
----------------------------------- */
div.account > table.overview td,
div.account > table.lines td
{
    text-align: left;
    vertical-align: top;
    padding: 8px 0 0 5px;
    border-top: 1px solid #DFDFDF;
}

div.account > table.details
{
    margin-bottom: 20px;
}

div.account > table.details td.text
{
    width: 150px;
}


/* totalen styles */
div.account > table.totals
{
    float: right;
    margin-top: 20px;

    display: inline-block;
	text-align: right;
    margin-bottom: 20px;
}

div.account > table.totals td
{
}

div.account > table.totals td.amount
{
	width: 100px;
}
div.account > table.totals tr.total_amount_incl_vat td
{
    border-top-width: 1px;
    border-bottom-width: 2px;
    font-weight: bold;
    font-size: 12pt;
    padding-top: 5px;
}



div.account div.pager_previous
{
	margin-bottom: 10px;
	margin-top: 10px;
	
	padding-top: 3px;
	padding-bottom: 3px;
	
	height: 15px;
	width: 145px;
	padding-left: 5px;
	
	float: left;
	text-align: left;
}

div.account div.pager_numbers
{
	margin-top: 10px;
	margin-bottom: 10px;
	
	padding-top: 3px;
	padding-bottom: 3px;
	
	text-align: center;
	height: 15px;
	width: 420px;
	float: left;
}

div.account div.pager_numbers a
{
	margin-left: 2px;
	margin-right: 2px;
}

div.account div.pager_next
{
	margin-top: 10px;
	margin-bottom: 10px;
	
	padding-top: 3px;
	padding-bottom: 3px;
	
	height: 15px;
	width: 150px;
	float: left;
	text-align: right;

	width: 145px;
	padding-right: 5px;
}


/* Maak de modal windows responsive */
.modal-content
{
    width: 100%!important;
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}
