﻿div.uc_image_gallery_details .content
{
    padding-top: 10px;
}

@media only screen and (max-width: 992px)  {
    div.uc_image_gallery_details .content .row a span img.img-responsive {
        margin-bottom: 15px;
    }
}