﻿<%@ Control Language="VB" AutoEventWireup="false" ClassName="uc_text_block" CodeFile="uc_text_block.ascx.vb" Inherits="uc_text_block" %>
<utilize:panel ID="pan_textbox" CssClass="fluid-container uc_text_block" runat="server"></utilize:panel>
