﻿div.uc_text_block
{
    margin-bottom: 20px;
}

.uc_text_block h1 {
    display: block;
}

/* These styles handle all advanced styles that are set through CMS settings */
/* Default corrections */
.uc_text_block.advanced span {
    font-size: inherit;
    color: inherit;
}

.uc_text_block.advanced .center-image * {
    text-align: center;
    float: none !important; 
}

.uc_text_block.advanced  {
    padding: 0 20px;
}

.uc_text_block.advanced h1,
.uc_text_block.advanced h2,
.uc_text_block.advanced h3,
.uc_text_block.advanced h4,
.uc_text_block.advanced h5,
.uc_text_block.advanced h6,
.uc_text_block.advanced h1 span,
.uc_text_block.advanced h2 span,
.uc_text_block.advanced h3 span,
.uc_text_block.advanced h4 span,
.uc_text_block.advanced h5 span,
.uc_text_block.advanced h6 span{
    line-height: 1;
}

.uc_text_block .btn-u {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.uc_text_block.advanced p {
    margin-bottom: 0;
}

/* Handles background color */
.uc_text_block.advanced.bg-color {    
    background: #f4f7fa;
    margin: 0 15px 30px;
}

/* These styles compensate for the lack of an inner div
inside uc_text_block which causes background colors on
uc_text_block to overlap the negative bootstrap margins
*/
@media (min-width: 992px) {
    .uc_text_block.bg-color.col-md-1 { width: calc(8.33333333% - 30px); }
    .uc_text_block.bg-color.col-md-2 { width: calc(16.66666667% - 30px); }
    .uc_text_block.bg-color.col-md-3 { width: calc(25% - 30px); }
    .uc_text_block.bg-color.col-md-4 { width: calc(33.33333333% - 30px); }
    .uc_text_block.bg-color.col-md-5 { width: calc(41.66666667% - 30px); }
    .uc_text_block.bg-color.col-md-6 { width: calc(50% - 30px); }
    .uc_text_block.bg-color.col-md-7 { width: calc(58.33333333% - 30px); }
    .uc_text_block.bg-color.col-md-8 { width: calc(66.66666667% - 30px); }
    .uc_text_block.bg-color.col-md-9 { width: calc(75% - 30px); }
    .uc_text_block.bg-color.col-md-10 { width: calc(83.33333333% - 30px); }
    .uc_text_block.bg-color.col-md-11 { width: calc(91.66666667% - 30px); }
    .uc_text_block.bg-color.col-md-12 { width: calc(100% - 30px); }
}

@media (max-width: 991px) {
    .uc_text_block.bg-color.col-md-1, 
    .uc_text_block.bg-color.col-md-2,
    .uc_text_block.bg-color.col-md-3,
    .uc_text_block.bg-color.col-md-4,
    .uc_text_block.bg-color.col-md-5,
    .uc_text_block.bg-color.col-md-6,
    .uc_text_block.bg-color.col-md-7,
    .uc_text_block.bg-color.col-md-8,
    .uc_text_block.bg-color.col-md-9,
    .uc_text_block.bg-color.col-md-10,
    .uc_text_block.bg-color.col-md-11,
    .uc_text_block.bg-color.col-md-12 { 
        width: calc(100% - 30px); 
    }
}

/* End advanced styles */