﻿<%@ Page Language="VB" MasterPageFile="FWMasterPage.master" AutoEventWireup="false" CodeFile="api_trace.aspx.vb" Inherits="api_trace" title="API Trace" EnableEventValidation="false" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <link href="../_FWAssets/Styles/Pages/ApiTrace.css" rel="stylesheet" type="text/css" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <utilize:placeholder runat="server" ID="ph_content"></utilize:placeholder>
</asp:Content>

