﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Home.aspx.vb" Inherits="Admin_Home" EnableEventValidation="false" %>

<!DOCTYPE html>
<html lang="nl">
<head id="Head1" runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <link rel="shortcut icon" href="favicon.ico">

    <!-- _FWBootstrap -->
    <link href="../_FWBootstrap/css/Bootstrap.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="../_FWBootstrap/js/Bootstrap.js"></script>
    <script src="../_FWAssets/Scripts/jQueryModalWindow.js"></script>
</head>

<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
