/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper {
    padding-left: 280px;
}

.wrapper.toggled {
    padding-left: 0;
}

.page-content-wrapper {
    padding: 20px;
    position: relative;
    width: 100%;
    position: absolute;
    padding: 15px;
    padding-left: 40px;
}

.sidebar-wrapper {
    top: 0!important;
    z-index: 1001;
    position: fixed;
    overflow-y: hidden;

    left: 280px;
    width: 280px;
    height: calc(100vh - 105px)!important;
    
    margin-top: 105px;
    margin-left: -280px;

    border-right: 1px solid #ddd;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 14px;

    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

/* Sidebar Styles */
.sidebar-wrapper ul{
    overflow-y: hidden;
    width: 280px;

    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-wrapper li {
    padding-left: 10px;
    line-height: 32px;
}

.sidebar-wrapper a,
.sidebar-wrapper a:hover {
    display: block;
    text-decoration: none!important;
    color: #fff;
}

.sidebar-wrapper li a,
.sidebar-wrapper li a:hover
{
    color: #333;
}
.sidebar-wrapper .panel
{
    border-radius: 0;
    border: 0px;
    margin-top: 0!important;
}

.sidebar-wrapper .sidebar-menu-group-title {
    padding-left: 10px;
    display: inline-block;
    background-color: #9e86a6;
    color: #fff;
    width: 100%;

    line-height: 34px;

    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;

    font-size: 15px;
    text-transform: uppercase;
}

.sidebar-wrapper .sidebar-menu-group {
    border-bottom: 1px solid #ddd;
    color: #411552;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #f4f4f4;
}

.sidebar-wrapper .sidebar-menu-item {
    border-bottom: 1px solid #ddd;
    color: #333;
    text-indent: 30px;
}

.sidebar-toggler
{
    position: absolute;
    top: 60px;
    left: 10px;
}

#framecontent.content-toggled
{
    -webkit-transition: left 0.5s;
    transition: left 0.5s;

    left: 0;
}

.sidebar-wrapper.sidebar-toggled
{
    -webkit-transition: width 0.5s;
    transition: width 0.5s;

    width: 0;
}