﻿div.uc_check_order div.delivery_address,
div.uc_check_order div.invoice_address
{
    vertical-align: top;
}

div.uc_check_order div.uc_shopping_cart_totals
{
    margin-top: 0px!important;
}
div.uc_check_order.shopping-cart h2.title-type
{
    margin-left: 0px;
}

div.uc_check_order.shopping-cart li:first-child
{
    padding-left: 5px;
}

.modal-content
{
    width: 100%!important;
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

@media (max-width: 768px)
{
    div.shopping-cart .btn-u
    {
        width: 100%;
        margin-bottom: 5px;
    }

    div.uc_ogone .buttons
    {
        float: none!important;
    }

    /* Important part */
    .modal-dialog{
        overflow-y: initial !important;
        margin: 0;
        height: 100vh;
        width: 100vw;
    }

    .modal-content
    {
    	max-height: 100vh;
        overflow-y: auto;
        padding-bottom: 100px;
    }

    .modal-body {
        max-height: initial;
        overflow-y: initial;
    }
}


