﻿.btnfix
{
    vertical-align: initial;
}

@media (max-width: 768px)
{
    div.shopping-cart .buttons .btn-u,  div.shopping-cart .actions .btn-u
    {
        width: 100%;
        margin-bottom: 5px;
    }

    div.shopping-cart .buttons, div.shopping-cart .actions div
    {
        float: none!important;
    }
}

