﻿.modal-content {
    width: 100% !important;
}

/* Important part */
.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.uc_single_checkout_v2 .bs-example-modal-lg {
    background-color: rgba(255,255,255,.9) !important;
}

@media (max-width: 991px) {
    .md-margin-bottom-40 {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    div.shopping-cart .btn-u {
        width: 100%;
        margin-bottom: 5px;
    }

    div.uc_ogone .buttons {
        float: none !important;
    }

    /* Important part */
    .modal-dialog {
        overflow-y: initial !important;
        margin: 0;
        height: 100vh;
        width: 100vw;
    }

    .modal-content {
        max-height: 100vh;
        overflow-y: auto;
        padding-bottom: 100px;
    }

    .modal-body {
        max-height: initial;
        overflow-y: initial;
    }
}

/*--------------------------------------
    General resets
--------------------------------------*/

.uc_single_checkout_v2 li,
.uc_single_checkout_v2 h1,
.uc_single_checkout_v2 h2,
.uc_single_checkout_v2 h3,
.uc_single_checkout_v2 h4,
.uc_single_checkout_v2 h5 {
}

/*--------------------------------------
    Headers
--------------------------------------*/
.uc_single_checkout_v2 .step-header {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.uc_single_checkout_v2 .step-header.top {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-top: 0;
}

.uc_single_checkout_v2 .step-no {
    display: inline-block;
    text-align: center;
    color: #fff;
    height: 24px;
    width: 24px;
    border-radius: 12px !important;
    margin-right: 10px;
    flex-shrink: 0;
    font-size: 15px;
    line-height: 23px;
}

.uc_single_checkout_v2 .step-header h1,
.uc_single_checkout_v2 .step-header h2 {
    line-height: 1;
    padding: 0;
}

@media (max-width: 767px) {
    .uc_single_checkout_v2 .step-header {
        align-items: flex-start;
    }
    .uc_single_checkout_v2 .step-header h1,
    .uc_single_checkout_v2 .step-header h2 {
        font-size: 20px;
    }
}

/*--------------------------------------
    Invoice and delivery
--------------------------------------*/
.uc_single_checkout_v2 .inv-del-container {
    background: #f9f9f9;
    padding: 30px 15px;
    display: flex;
    flex-flow: row wrap;
}

.uc_single_checkout_v2 .inv-del-container h2,
.uc_single_checkout_v2 .uc_order_description h3 {
    margin: 0 0 15px;
    text-transform: none;
}

.uc_single_checkout_v2 .checkbox-list {
    border: 0;
    font-weight: bold;
}

.uc_single_checkout_v2 .delivery_address input[type="submit"],
.uc_single_checkout_v2 .invoice_address input[type="submit"] {
    padding: 3px 10px !important;
    width: auto;
    height: auto;
    font-size: 12px;
    border: 1px solid #ccc;
    background: none;
    color: #bbb !important;
    position: absolute;
    top: 0;
    right: 15px;
}

.uc_single_checkout_v2 .delivery_address input[type="submit"]:hover,
.uc_single_checkout_v2 .invoice_address input[type="submit"]:hover {
    background: #bbb;
    color: #fff !important;
}

.uc_single_checkout_v2 .invoice_address,
.uc_single_checkout_v2 .delivery_address {
    width: 100%;
}

.uc_single_checkout_v2 .uc_order_description {
    display: flex;
    padding: 0 15px 15px;
    background: #f9f9f9;
}

.uc_single_checkout_v2 .uc_order_description h3 {
    font-size: 16px;
    text-transform: none;
}

.uc_single_checkout_v2 .uc_order_description .row {
    margin: 0;
}

@media (max-width: 767px) {
    .uc_single_checkout_v2 .inv-del-container {
        padding: 15px 0;
    }

    .uc_single_checkout_v2 .uc_order_description {
        padding: 0 0 10px;
    }

    .uc_single_checkout_v2 .uc_order_description > .col-md-12 {
        width: 100%;
    }

    .uc_single_checkout_v2 .invoice_address {
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .uc_single_checkout_v2 .invoice_address,
    .uc_single_checkout_v2 .delivery_address,
    .uc_single_checkout_v2 .uc_order_description .col-md-12 {
        width: 50%;
    }
}

/*--------------------------------------
    Delivery and payment options
--------------------------------------*/
.uc_single_checkout_v2 .del-pay-container {
    background: #f9f9f9;
    display: flex;
    flex-flow: column;
    padding: 30px 30px 0;
}

.uc_single_checkout_v2 .del-pay-container h3 {
    font-size: 15px;
}

.uc_single_checkout_v2 .del-pay-container tr {
    margin-bottom: 10px;
    display: block;
}

.uc_single_checkout_v2 .del-pay-container tr:last-child {
    margin-bottom: 0;
}

.uc_single_checkout_v2 .del-pay-container td {
    display: flex;
    align-items: center;
    position: relative;
}

@media (max-width: 767px) {
    .uc_single_checkout_v2 .del-pay-container {
        background: #f9f9f9;
        display: flex;
        flex-flow: column;
        padding: 15px 15px 0;
    }
}

/* Custom radio buttons */
.uc_single_checkout_v2 .del-pay-container input[type="radio"] {
    display: none;
}

.uc_single_checkout_v2 .del-pay-container label {
    display: flex;
    cursor: pointer;
}

.uc_single_checkout_v2 .del-pay-container input[type="radio"] + label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #838f97;
    margin-right: 8px;
    border-radius: 10px;
    background: #f9f9f9;
    flex-shrink: 0;
}

.uc_single_checkout_v2 .del-pay-container input[type="radio"]:checked + label::after {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    background: #838f97;
    position: absolute;
    left: 4px;
    top: 4px;
    border-radius: 10px;
}

/* Custom checkboxes */
.uc_single_checkout_v2 .checkbox input[type="checkbox"] {
    display: none !important;
}

.uc_single_checkout_v2 .checkbox input[type="checkbox"] + label {
    display: flex !important;
    align-items: flex-start;
    font-size: 14px;
    transition: all 1s;
    position: relative;
}

.uc_single_checkout_v2 .checkbox input[type="checkbox"] + label::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 1px solid #838f97;
    background: #f9f9f9;
    margin-right: 8px;
    flex-shrink: 0;
}

.uc_single_checkout_v2 .checkbox input[type="checkbox"] + label::after {
    animation-name: test;
    animation-duration: 1s;
}

.uc_single_checkout_v2 .checkbox input[type="checkbox"]:checked + label::after {
    position: absolute;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 15px;
    left: 1px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    top: -1px;
}

.uc_single_checkout_v2 .delivery-methods {
    margin-bottom: 30px;
    padding: 0 20px !important;
}

.uc_single_checkout_v2 .uc_delivery_methods {
    margin: 20px 0;
}

.uc_single_checkout_v2 .payment-methods,
.uc_single_checkout_v2 .delivery-methods {
    display: flex;
    flex-flow: column;
}

.uc_single_checkout_v2 .payment-methods h3,
.uc_single_checkout_v2 .delivery-methods h3 {
    font-size: 16px;
    margin-bottom: 20px;
}

.uc_single_checkout_v2 .payment-methods .col-md-8 > h3 + p,
.uc_single_checkout_v2 .delivery-methods .col-md-8 > h3 + p {
    display: none;
}

.uc_single_checkout_v2 .uc_sisow > .row,
.uc_single_checkout_v2 .uc_ogone > .row {
    margin: 0 -20px 30px;
}

.uc_single_checkout_v2 .delivery-methods,
.uc_single_checkout_v2 .uc_sisow > .row,
.uc_single_checkout_v2 .uc_ogone > .row {
    background: #fff;
    min-height: 0;
}

.uc_single_checkout_v2 .uc_sisow > .row,
.uc_single_checkout_v2 .uc_ogone > .row {
    padding: 20px 0;
}

.uc_single_checkout_v2 .del-pay-container [class*="col-md-"] {
    width: 100%;
    padding: 0 20px;
}

.uc_single_checkout_v2 .uc_sisow .default_payment_method,
.uc_single_checkout_v2 .uc_ogone .default_payment_method {
    background: #eee;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-bottom: 0;
}

/* uc_ogone_specific, since it can't make use of radio
 * radio buttons due to it's different html structure */
.uc_single_checkout_v2 .uc_ogone input[type="radio"] {
    display: inline-block !important;
    margin-right: 5px !important;
}

.uc_single_checkout_v2 .uc_ogone tr {
    display: flex;
    flex-flow: row nowrap;
}


/*--------------------------------------
    Handles buttons
--------------------------------------*/
/* Recalculate button */
.uc_single_checkout_v2 .wrapper-re input {
    width: auto;
    font-size: 14px;
    padding: 0 20px;
    margin-bottom: 30px;
}
.uc_single_checkout_v2 .wrapper-re  {
    padding-bottom: 0 !important;
}

.uc_single_checkout_v2 .payment-methods .buttons.pull-right {
    position: absolute;
    right: -30px;
    bottom: -105px;
}

.uc_single_checkout_v2 .continue-shopping {
    margin-top: 30px;
}

.uc_single_checkout_v2 .continue-shopping input,
.uc_single_checkout_v2 .payment-methods .buttons.pull-right input,
.uc_single_checkout_v2 .ariba-punchout-btns input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    height: 75px;
}

.uc_single_checkout_v2 .continue-shopping input,
.uc_single_checkout_v2 .ariba-punchout-btns input.continue {
    border: 2px solid #c2c2c2;
    color: #c2c2c2 !important;
    background-color: transparent;
}

.uc_single_checkout_v2 .continue-shopping input:hover,
.uc_single_checkout_v2 .ariba-punchout-btns input.continue:hover {
    background-color: #c2c2c2;
    color: #fff !important;
}



.uc_single_checkout_v2 .ariba-punchout-btns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .uc_single_checkout_v2 .ariba-punchout-btns input {
        min-width: 200px;
        width: auto;
    }

    .uc_single_checkout_v2 .continue-shopping input,
    .uc_single_checkout_v2 .payment-methods .buttons.pull-right input {
        width: auto !important;
        padding: 0 15px;
        min-width: 200px;
    }
}

@media (max-width: 767px) {
    .uc_single_checkout_v2 .continue-shopping {
        margin-top: 120px;
    }

    .uc_single_checkout_v2 .payment-methods .buttons.pull-right {
        width: calc(100% + 60px);
        padding: 0 15px;
    }

    .uc_single_checkout_v2 .ariba-punchout-btns {
        flex-flow: column;
    }

    .uc_single_checkout_v2 .ariba-punchout-btns .finish-order {
        order: 1;
    }

    .uc_single_checkout_v2 .ariba-punchout-btns .continue {
        order: 2;
    }
}

/*--------------------------------------
    Customer product codes
--------------------------------------*/

.uc_single_checkout_v2 .uc_customer_product_codes {
    margin-top: 10px;
}

.uc_single_checkout_v2 .uc_customer_product_codes input {
    height: 30px !important;
    background: #fff;
    font-weight: normal;
    line-height: normal;
    box-shadow: none !important;
    padding: 6px;
}

.uc_single_checkout_v2 .uc_customer_product_codes input:focus {
    background-color: #fff;
}

.uc_single_checkout_v2 .uc_customer_product_codes .input-group {
    width: 100%;
}

.uc_single_checkout_v2 .uc_customer_product_codes .input-group-btn {
    width: 30px;
    z-index: 2;
    transition: all 1s;
}

/* Only show save button if inputfield is filled in */
.uc_single_checkout_v2 .uc_customer_product_codes .input-group input:placeholder-shown {
    background-color: transparent;
    border-color: #ddd;
}

.uc_single_checkout_v2 .uc_customer_product_codes .input-group-btn::after {
    content: "\f00c";
    font-family: FontAwesome;
    font-weight: normal;
    position: absolute;
    left: 7px;
    top: 5px;
    color: #fff;
    pointer-events: none;
}

.uc_single_checkout_v2 .uc_customer_product_codes .input-group-btn > .btn-u-sea-shop {
    width: 30px;
    overflow: hidden;
    text-indent: -9999px;
    background-color: #ab102a !important;
}

/*--------------------------------------
    Customer comments per orderline
--------------------------------------*/
.uc_single_checkout_v2 .row_comments {
    margin-top: 5px;
}

.uc_single_checkout_v2 .row_comments .form-control {
    height: 30px;
    font-weight: normal;
    padding: 6px;
    line-height: 1;
}