.uc_tearsheet {
    margin: 40px 0 30px;
}

.uc_tearsheet .pdf-download-btn {
    font-size: 18px;
    line-height: 20px;
    position: relative;
    top: 1px;
    display: inline-block;
}

.uc_tearsheet .tearsheet-btn {
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    background: #eee;
}