﻿div.uc_tag_cloud
{
    display: block;
}

div.uc_tag_cloud ul
{
	float: left;
	margin: 0 0 10px 0;
	padding: 0 10px;
	
	text-align: center;
	background-color: #ffffff;
}

div.uc_tag_cloud li
{
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	margin: 2px 2px 2px 2px;
}

div.uc_tag_cloud li a
{

	text-decoration: none;
	color: #999999;
	padding: 0 2px;
	font-size: 10pt;
}

div.uc_tag_cloud li a:hover
{	
	color: #797979;
}		
	
div.uc_tag_cloud li.tag1 a
{
	font-size: 10pt;
}
	
div.uc_tag_cloud li.tag2 a
{
	font-size: 12pt;
}

div.uc_tag_cloud li.tag3 a
{
	font-size: 14pt;
}
	
div.uc_tag_cloud li.tag4 a
{
	font-size: 16pt;
}

div.uc_tag_cloud li.tag5 a
{
	font-size: 18pt;
}
	
