﻿/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden;}
li.bjqs-slide{position:absolute; display:none;}
div.bjqs-controls{position: absolute;display:block;margin:0;padding:0;z-index:0;width: 600px; margin-left: -30px; margin-top: -170px;}
div.bjqs-controls a#button_next{display: block; float: right; position: absolute; z-index: 1; margin-left: 530px;}
div.bjqs-controls a#button_previous{display: block; float: left; position: absolute; z-index: 1}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}