﻿div.list
{
    text-align: center;
}

div.sub-text p
{
    margin-bottom: 0px; 
}

div.sub-text p::after
{
    display:none; 
}
.content-boxes-in-v4 h2 a
{
    font-size: 18px !important;
}
.content-boxes-v4 i
{
    color: #636363;
}

div.service-box-v2 {
    margin:0;
}

span.checkbox input,
span.checkbox label
{
    margin-bottom: 0!important;
    margin-right: 0!important;
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 991px)
{
    .text-left
    {
        text-align: center;
    }
}

@media (max-width: 768px)
{
    .second-child
    {
        padding-top: 0;
        border-top: none !important;
    }

    .uc_account_block .searchtype input
    {
        display: block;
        width: 20px;
        float: left;

        margin-bottom: 0px;
    }


    .uc_account_block .searchtype label
    {
        display: block;
        float: left;
        width: calc(100% - 30px);
        text-align: left;

        margin-top: 3px;
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) {
    .uc_account_block .searchtype
    {
        text-align: left;
    }

    .uc_account_block .searchtype input
    {
        position: absolute;
        width: 20px;
    }

    .uc_account_block .searchtype label
    {
        margin-left: 25px;
        margin-top: 3px;
        margin-bottom: 15px;
        display: inline-block;
        width: calc(50% - 20px);
        text-align: left;
    }
}