﻿﻿div.account tr.line td
{
    vertical-align: middle ;
}

div.account tr.line td.delete input
{
    display: inline-block;
    vertical-align: middle ;
}

div.account tr.line td.delete .btn-u
{
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
}

div.account input.delete_row
{
    border: 0px;
    background-image: url('/DefaultImages/deleterow.gif');
    width: 25px;
    height: 25px;
    background-color: transparent;
    margin-right: 5px;
}

table.overview tr td.delete .actionbuttons {
    text-align: right;
    padding-left: 20px;
}

.selectboxtype
{
    width:auto;
}

div.uc_concept_orders .total-result-in span
{
    padding-right: 0px;
}

div.uc_concept_orders .total-result li
{
    padding-left: 0px;
    padding-right: 0px;
}


div.uc_concept_orders table th,
div.uc_concept_orders table td
{
    padding-left: 0px;
    padding-right: 0px;
}

div.uc_concept_orders table .quantity
{
    text-align: center;
}

div.uc_concept_orders table .number
{
    width: 130px;
}

div.uc_concept_orders table .date
{
    width: 100px;
}

div.uc_concept_orders .overview
{
    text-align: center;
}

div.uc_concept_orders .shopping-cart h4,
div.uc_concept_orders .shopping-cart span
{
    font-size: 14px;
}
div.uc_concept_orders .price-overview {
    text-align:right;
    float: right;
}

@media (max-width: 991px)
{
    div.uc_concept_orders.pull-right
    {
        float: none!important;
    }
    div.uc_concept_orders ul li
    {
        padding-left: 15px!important;
    }
}