﻿div.uc_import_order_lines .refreshbutton {
    display: none;
}

.uc_import_order_lines #load-spinner {
    display: none;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999 !important;
}


.uc_import_order_lines #load-spinner .loader-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 30px;
    border: 1px solid #000;
}
