﻿body {
    background-image: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1
{
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;

    width: 100%;
    display: inline-block;
}

div.account table.overview th, div.account table.lines th
{
    padding: 0;
    background-color: transparent;
}

div.account table.overview th, div.account table.lines td
{
    padding: 0;
    border: 0px solid;
    font-weight: normal;
}

div.account table.overview th, div.account table.lines
{
    border: 0px solid;
}

.amount
{
    text-align: right;
}

.quantity
{
    text-align: center;
}