﻿div.uc_order_list input.inputbutton
{
    width: 300px;
}

div.uc_order_list div.uc_product_stock
{
    display: inline-block;
}

div.uc_order_list div.uc_product_stock table td.text
{
    display: none;
}

div.uc_order_list div.uc_product_stock table td.value
{
    border: 0px;
    padding: 0;
}

/*AutoComplete flyout */
.autocomplete_completionListElement
{
	background-color : transparent;

    margin-top: 10px;
	position: absolute;

    visibility: hidden;
    margin: 0px !important;
	padding-left: 0px;
    height: 200px;
    width: 710px;
    
    text-align: left;
    z-index: 99;
	list-style-type: none;
} 

/* AutoComplete item */
.autocomplete_listItem, 
.autocomplete_highlightedListItem
{
    background-color : white;
	margin-left: 0px;
	padding-top : 1px;
    padding-bottom : 5px;
	padding-left: 5px;
	width: 710px;
	overflow: hidden;
	height: 25px;
	border: 1px solid #DFDFDF;
    color: #777777;
}

.autocomplete_highlightedListItem
{
    background-color: #f2faae;
}

/* AutoComplete listitem content */
.autocomplete_listItem span.prod_code,
.autocomplete_highlightedListItem span.prod_code
{
    position: absolute;
    width: 710px;
    height: 20px;
    z-index: 100;
}

.autocomplete_listItem span.prod_desc
, .autocomplete_highlightedListItem span.prod_desc
{
    margin-left: 150px;
}

div.uc_order_list div.uc_shopping_cart_totals li  {
    display:none;
}

div.uc_order_list div.uc_shopping_cart_totals li.total-price {
    display: block;
}

div.uc_order_list tr.header {
    border-top: 1px solid #ddd;
}

div.uc_order_list .product-list .image img {
    float: left;
    width: 75px;
    height: auto;
    padding: 5px;
    background: #fff;
    margin-right: 15px;
    /*border: 1px solid #eee;*/
}

div.uc_order_list .product-list h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

div.uc_order_list .product-list .price {
    text-align: right!important;
}

div.uc_order_list .product-list .quantity {
    text-align: center;
}

div.uc_order_list .product-list .image {
    width: 75px;
}

div.uc_order_list .product-list td.price {
    font-weight:bold;
}

div.uc_order_list .product-list .price {
    width: 100px;
}

div.uc_order_list .product-list td.code-description-stock {
    padding-left: 8px;
    width: 45%;
}

div.uc_order_list .table > tbody > tr > td {
    padding: 0px;
}

div.uc_order_list .table > tbody > tr > td {
    vertical-align: middle;
}

div.uc_order_list div.uc_shopping_cart_totals ul.total-result li.total-price {
    /*border-top: 5px double #ddd;*/
}

div.uc_order_list #button_shopping_cart {
    float: right;
}

div.uc_order_list {
    text-align: center;
}

div.uc_order_list div.menu-buttons {
    text-align: left;
    margin-bottom:10px;
}

div.uc_order_list div.filter-buttons input {
    margin-right: 3px;
}
div.uc_order_list table {
    margin-top: 20px;
}

div.uc_order_list div.search-products {
    background-color: #eee;
    padding: 10px 0px;
    margin-bottom: 10px;
    text-align:left;
    border: 1px solid #eee;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(171,171,171,1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(171,171,171,1);
    box-shadow: 2px 2px 2px 0px rgba(171,171,171,1);
}

div.uc_order_list .close {
    opacity: 1;
    color: #888;
    font-size: 18px;
    padding-right: 10px;
}

div.uc_order_list .table > tbody > tr > td.extra-information {
    padding: 8px;
}

div.uc_order_list .pages h3 {
    float: left;
    color: #555;
    font-size: 14px;
    margin-right: 10px;
}