﻿div.uc_orders input.order_report
{
    width: auto!important;
}

div.uc_orders .shopping-cart
{

}

div.uc_orders .total-result-in span
{
    padding-right: 0px;
}

div.uc_orders .total-result li
{
    padding-left: 0px;
    padding-right: 0px;
}


div.uc_orders table th,
div.uc_orders table td
{
    padding-left: 0px;
    padding-right: 0px;
}

div.uc_orders table .quantity
{
    text-align: center;
}

div.uc_orders table .number
{
    width: 130px;
}

div.uc_orders table .date
{
    width: 100px;
}

div.uc_orders .overview
{
    text-align: center;
}

div.uc_orders .shopping-cart h4,
div.uc_orders .shopping-cart span
{
    font-size: 14px;
}

@media (max-width: 991px)
{
    div.uc_orders.pull-right
    {
        float: none!important;
    }
    div.uc_orders ul li
    {
        padding-left: 15px!important;
    }
}