﻿div.uc_order_entry input.inputbutton
{
    width: 300px;
}

div.uc_order_entry div.uc_product_stock
{
    display: inline-block;
}

div.uc_order_entry div.uc_product_stock table td.text
{
    display: none;
}

div.uc_order_entry div.uc_product_stock table td.value
{
    border: 0px;
    padding: 0;
}

/*AutoComplete flyout */
.autocomplete_completionListElement
{
	background-color : transparent;

    margin-top: 10px;
	position: absolute;

    visibility: hidden;
    margin: 0px !important;
	padding-left: 0px;
    height: 200px;
	max-width: 710px;
    width: calc(100vw - 60px)!important;
    
    text-align: left;
    z-index: 99;
	list-style-type: none;

    overflow-x: hidden;
    overflow-y: auto;
} 

/* AutoComplete item */
.autocomplete_listItem, 
.autocomplete_highlightedListItem
{
    background-color : white;
	margin-left: 0px;
	padding-top : 1px;
    padding-bottom : 5px;
	padding-left: 5px!important;
	max-width: 710px;
    width: 100vw;
	overflow: hidden;
	height: 25px;
	border: 1px solid #DFDFDF;
    color: #777777;
}

.autocomplete_highlightedListItem
{
    background-color: #f2faae;
}

/* AutoComplete listitem content */
.autocomplete_listItem span.prod_code,
.autocomplete_highlightedListItem span.prod_code
{
    position: absolute;
    width: 710px;
    height: 20px;
    z-index: 100;
}

.autocomplete_listItem span.prod_desc
, .autocomplete_highlightedListItem span.prod_desc
{
    margin-left: 150px;
}

