﻿.button-width
{
    width: 119px;
}

.margin-right
{
    margin-right: 5px;
}

div.uc_order_history .total-result-in span
{
    padding-right: 0px;
}

div.uc_order_history .total-result li
{
    padding-left: 0px;
    padding-right: 0px;
}


div.uc_order_history table th,
div.uc_order_history table td
{
    padding-left: 0px;
    padding-right: 0px;
}

div.uc_order_history table .quantity
{
    text-align: center;
}

div.uc_order_history table .number
{
    width: 130px;
}

div.uc_order_history table .link
{
    width: 170px;
}

div.uc_order_history table .date,
div.uc_order_history table .pdf
{
    width: 100px;
}

div.uc_order_history .overview
{
    text-align: center;
}


div.uc_order_history .shopping-cart h4,
div.uc_order_history .shopping-cart span
{
    font-size: 14px;
}

div.uc_order_history .price-overview {
    text-align:right;
    float: right;
}

@media (max-width: 991px)
{
    div.uc_order_history.pull-right
    {
        float: none!important;
    }
    div.uc_order_history ul li
    {
        padding-left: 15px!important;
    }
}

div.uc_order_history .line .pdf {
    background: none;
    height: 21px;
    width: 62px;
    margin: 0;
}