﻿td span.label.rounded
{
    width: 100%;
}

div.pager_previous
{
    margin-top: 10px;
}

div.pager_previous a,
div.pager_next a,
div.pager_numbers a
{
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.4285;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 1px;

}

div.pager_numbers
{
    margin-top: 10px;
}

div.pager_previous a,
div.pager_numbers a,
div.pager_next a
{
    color: black!important;
}

div.pager_next
{
    margin-top: 10px;
}

@media (max-width: 768px)
{
    div.margin-top-10
    {
        margin-top: 10px;
    }
    div.buttons .btn-u
    {
        width: 100%;
        margin-bottom: 10px;
    }
    div.buttons.pull-right
    {
        float: none!important;
    }
}