﻿.hiddentext input[type="checkbox"] + label
{
    display:none;
}
span.check-box input[type="checkbox"] {
    padding: 0;
    margin: 0;
    width: 15px;
    height: 15px;
    margin-top: 0px;
    margin-bottom: 10px;

    -webkit-appearance:checkbox;
}
.alert
{
    border-radius: 4px !important;
}
.margin-right-5
{
    margin-right: 5px;
}

span.select_all input[type="checkbox"]
{
    width: 15px;
    height: 15px;
    margin-bottom: 0px;
    margin-right: 0px;
}

div.margin-top-10
{
    margin-top: 10px;
}

div.pager_previous
{
    margin-top: 10px;
}

div.pager_previous a,
div.pager_next a,
div.pager_numbers a
{
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.4285;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 1px;

}

div.pager_numbers
{
    margin-top: 10px;
}

div.pager_next
{
    margin-top: 10px;
}

/*AutoComplete flyout */
.autocomplete_completionListElement
{
	background-color : transparent;

    margin-top: 10px;
	position: absolute;

    visibility: hidden;
    margin: 0px !important;
	padding-left: 0px;
    height: 200px;
	max-width: 710px;
    width: calc(100vw - 60px)!important;
    
    text-align: left;
    z-index: 99;
	list-style-type: none;

    overflow-x: hidden;
    overflow-y: auto;
} 

/* AutoComplete item */
.autocomplete_listItem, 
.autocomplete_highlightedListItem
{
    background-color : white;
	margin-left: 0px;
	padding-top : 1px;
    padding-bottom : 5px;
	padding-left: 5px!important;
	max-width: 710px;
    width: 100vw;
	overflow: hidden;
	height: 25px;
	border: 1px solid #DFDFDF;
    color: #777777;
}

.autocomplete_highlightedListItem
{
    background-color: #f2faae;
}

/* AutoComplete listitem content */
.autocomplete_listItem span.prod_code,
.autocomplete_highlightedListItem span.prod_code
{
    position: absolute;
    width: 710px;
    height: 20px;
    z-index: 100;
}

.autocomplete_listItem span.prod_desc
, .autocomplete_highlightedListItem span.prod_desc
{
    margin-left: 150px;
}

div.uc_return_request .link_button_red,
div.uc_return_request .link_button_red
{
    color: red!important;
}

div.uc_return_request .total-price-title
{
    font-weight: bold;
    display: inline;
}

div.uc_return_request .value-to-high
{
    color: red!important;
}

div.uc_return_request .value-normal
{
    color: green!important;
}

div.upload-block {
    border: 1px grey solid;
    padding: 10px;
}

td.upload-td {
    border-bottom: 1px solid #ddd;
    border-top: 0px!important;
    padding: 0px!important;
    padding-bottom: 8px!important;
}
.current_rma, 
.current_rma_bulk {
    display: none;
}

.pager_numbers a,
div.pager_next a,
div.pager_previous a {
    color: black !important;
}

ul.nav.nav-tabs {
    margin-bottom: 20px;
}

div.bulk-details {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}

.product-selector thead tr:last-of-type th{
    border-top: none;
}

.product-selector tr.no-border-top td{
    border-top: none;
    vertical-align: middle;
}


.product-selector tr.no-border-top td .table-checkbox input{
    height: 15px;
    width: 15px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 3px;
}

.product-selector tr.no-border-top td .table-checkbox {
    display: inline;        
}

@media (min-width: 992px) {
    .button input {
        float: right;
    }
}

@media (max-width: 768px)
{
    div.buttons .btn-u
    {
        width: 100%;
        margin-bottom: 10px;
    }
    div.buttons.pull-right
    {
        float: none!important;
    }
    td input[type="number"]
    {
        min-width: 60px!important;
    }
}