﻿div.uc_training a:hover{
    text-decoration: none;
}


div.uc_training .testimonials-v6 .testimonials-desc p {
    font-size: 13px;   
}

div.uc_training .testimonials-info {
    background: #f7f7f7;
}

div.uc_training .testimonials-v6 .testimonials-info img {
    position: relative;
    display: inline-block;
    float: none;
    vertical-align: top;
}

div.uc_training .testimonials-v6 .testimonials-desc {
    display: inline-block;
    width: calc(100% - 125px);
}

div.uc_training .testimonials-v6 .testimonials-desc strong {
    line-height: 1;        
}

@media (max-width: 768px) {
    div.uc_training .testimonials-v6 .testimonials-desc {
        display: block;
        width: 100%;
    }
    div.uc_training .testimonials-info {
        text-align: center;
    }

    .testimonials-v6 .testimonials-info img {
        margin-right: 0px;
    }
}