﻿div.account table td.description
{
    width: 150px;
}

div.account table td.change,
div.account table th.credits,
div.account table td.credits
{
    text-align: right;
}

label
{
    width: 100%;
}

.input-border label
{
    display: block;
    margin-bottom: 6px;
    line-height: 19px;
    font-weight: 400;
    font-size: 100%;
    text-align: left;
    white-space: normal;
    color: inherit;
}

.checkbox input[type=checkbox]
{
    margin-left: 0px;
    position: absolute;
}

.checkbox
{
    margin-bottom: 20px!important;
}
.checkbox label{
    padding-left: 30px;
}

div.margin-bottom
{
    margin-bottom: 10px;
}