﻿<%@ Master Language="VB" CodeFile="MasterPage_1.master.vb" Inherits="MasterPage_1" %>

<!doctype html>
<html lang="<%= Me.global_cms.Language.ToLower() %>">
<head id="Head1" runat="server">
    <%--UWS-674 Website-titel wordt niet overgenomen--%>
    <title/>
    <%--END UWS-674 Website-titel wordt niet overgenomen--%>

    <%--Management Cookies--%>
    <utilize:literal runat="server" ID="lt_marketing"></utilize:literal>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- generic -->
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="<%=ResolveUrl("~/_THMAssets/plugins/bootstrap/css/bootstrap.min.css") %>">
    <link rel="stylesheet" href="<%=ResolveUrl("~/_THMAssets/css/style.css")%>">
    <link rel="stylesheet" href="<%=ResolveUrl("~/_THMAssets/css/shop.style.css") %>">
   
    <!-- CSS Header and Footer -->
    <utilize:placeholder runat="server" ID="header_v2" Visible="false">
        <link rel="stylesheet" href="<%=ResolveUrl("~/_THMAssets/css/headers/header-default.css") %>">    
    </utilize:placeholder>

    <utilize:placeholder runat="server" ID="header_v1" Visible="true">
        <link rel="stylesheet" href="<%=ResolveUrl("~/_THMAssets/css/headers/header-v5.css") %>">
    </utilize:placeholder>

    <link rel="stylesheet" href="<%=ResolveUrl("~/_THMAssets/css/footers/footer-v4.css") %>">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="<%=ResolveUrl("~/_THMAssets/plugins/animate.css") %>">    
    <link rel="stylesheet" href="<%=ResolveUrl("~/_THMAssets/plugins/font-awesome/css/font-awesome.min.css") %>">
    <link rel="stylesheet" href="<%=ResolveUrl("~/_THMAssets/plugins/scrollbar/css/jquery.mCustomScrollbar.css") %>">
    <link rel="stylesheet" href="<%=ResolveUrl("~/_THMAssets/plugins/owl-carousel/owl-carousel/owl.carousel.css") %>">
    <link rel="stylesheet" href="<%=ResolveUrl("~/_THMAssets/plugins/owl-carousel/owl-carousel/owl.theme.css") %>">
    <link rel="stylesheet" href="<%=ResolveUrl("~/_THMAssets/plugins/revolution-slider/rs-plugin/css/settings.css") %>">

    <!-- formulier plugin -->
    <link rel="stylesheet" href="<%=ResolveUrl("~/_THMAssets/plugins/font-awesome/css/font-awesome.min.css")%>">
    <link rel="stylesheet" href="<%=ResolveUrl("~/_THMAssets/plugins/sky-forms-pro/skyforms/css/sky-forms.css")%>">
    <link rel="stylesheet" href="<%=ResolveUrl("~/_THMAssets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css") %>">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="<%=ResolveUrl("~/_THMAssets/css/custom.css") %>">
    <link rel="stylesheet" href="<%=ResolveUrl("~/Styles/GlobalStyle.min.css") %>">

    <utilize:placeholder runat="server" ID="ph_minimalist">
        <link rel="stylesheet" href="<%=ResolveUrl("~/Styles/AdvancedStyles/minimal_theme.css") %>">
    </utilize:placeholder>

    <utilize:placeholder runat="server" ID="ph_development_vue_styles" Visible="false">
        <%-- Bootstrap v4 and default styles: Load order is important --%>
        <link rel="stylesheet" href="<%=ResolveUrl("~/VueJs/src/css/utlz-conflicts.css")%>">
        <link rel="stylesheet" href="<%=ResolveUrl("~/VueJs/src/css/utlz-grid.css")%>">
        <link rel="stylesheet" href="<%=ResolveUrl("~/VueJs/src/css/utlz-reset.css")%>">
        <link rel="stylesheet" href="<%=ResolveUrl("~/VueJs/src/css/utlz-global.css")%>">
        <link rel="stylesheet" href="<%=ResolveUrl("~/VueJs/src/css/utlz-page-corrections.css")%>">        
        <%-- VueJs component styles --%>
        <link rel="stylesheet" href="<%=ResolveUrl("~/VueJs/src/css/cmp-sorting-options.css")%>">
        <link rel="stylesheet" href="<%=ResolveUrl("~/VueJs/src/css/cmp-pagination.css")%>">
        <link rel="stylesheet" href="<%=ResolveUrl("~/VueJs/src/css/cmp-order-product.css")%>">
        <link rel="stylesheet" href="<%=ResolveUrl("~/VueJs/src/css/cmp-elastic-product-filters.css")%>">
        <link rel="stylesheet" href="<%=ResolveUrl("~/VueJs/src/css/cmp-product-list-item.css")%>">
        <link rel="stylesheet" href="<%=ResolveUrl("~/VueJs/src/css/cmp-product-stock.css")%>">
        <link rel="stylesheet" href="<%=ResolveUrl("~/VueJs/src/css/cmp-product-price.css")%>">
    </utilize:placeholder>
    <utilize:placeholder runat="server" ID="ph_production_vue_styles" Visible="false">
        <link rel="stylesheet" href="<%=ResolveUrl("~/Styles/Vue/vue-bundle.min.css")%>">
    </utilize:placeholder>
    <%--  --%>

    <!-- styles -->
    <asp:ContentPlaceHolder id="styles" runat="server">
    </asp:ContentPlaceHolder>

    <!-- Stylesheet for color corrections -->    
    <utilize:literal runat="server" ID="lt_page_corrections"></utilize:literal>

    <utilize:placeholder runat="server" ID="ph_corrections">
        <link href="<%=ResolveUrl("~/Styles/CustomerCorrections.css")%>" rel="stylesheet" type="text/css" />
    </utilize:placeholder>

    <utilize:placeholder runat="server" ID="ph_fixfooter">
        <link href="<%= ResolveUrl("~/_THMAssets/css/fixfooter.css")%>" rel="stylesheet" type="text/css" />
    </utilize:placeholder>
    
    <!-- JS Global Compulsory -->
    <script src="<%=ResolveUrl("~/_THMAssets/plugins/jquery/jquery.min.js") %>"></script>
    <script src="<%=ResolveUrl("~/_THMAssets/plugins/jquery/jquery-migrate.min.js") %>"></script>
    <script src="<%=ResolveUrl("~/_THMAssets/plugins/bootstrap/js/bootstrap.min.js") %>"></script>

    <!-- JS Implementing Plugins -->
    <script src="<%=ResolveUrl("~/_THMAssets/plugins/back-to-top.js") %>"></script>
    <script src="<%=ResolveUrl("~/_THMAssets/plugins/smoothScroll.js") %>"></script>
    <script src="<%=ResolveUrl("~/_THMAssets/plugins/jquery.parallax.js") %>"></script>
    <script src="<%=ResolveUrl("~/_THMAssets/plugins/owl-carousel/owl-carousel/owl.carousel.min.js") %>"></script>
    <script src="<%=ResolveUrl("~/_THMAssets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js") %>"></script>
    <script src="<%=ResolveUrl("~/_THMAssets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js") %>"></script>
    <script src="<%=ResolveUrl("~/_THMAssets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js") %>"></script>

    <utilize:placeholder runat="server" ID="ph_fancybox" Visible="false">
        <script src="<%=ResolveUrl("~/_THMAssets/plugins/master-slider/quick-start/masterslider/jquery.easing.min.js") %>"></script>
        <script src="<%=ResolveUrl("~/_THMAssets/js/plugins/fancy-box.js") %>"></script>
        <script src="<%=ResolveUrl("~/_THMAssets/plugins/fancybox/source/jquery.fancybox.pack.js") %>"></script>
        <script src="<%=ResolveUrl("~/_THMAssets/plugins/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5") %>"></script>
    </utilize:placeholder>    
    <!-- JS Customization -->
    <script src="<%=Fingerprint.tag(ResolveUrl("~/_THMAssets/js/custom.js")) %>"></script>
    <!-- JS Page Level -->
    <script src="<%=ResolveUrl("~/_THMAssets/js/shop.app.js") %>"></script>
    <script src="<%=ResolveUrl("~/_THMAssets/js/plugins/owl-carousel.js") %>"></script>
    <script src="<%=ResolveUrl("~/_THMAssets/js/plugins/revolution-slider.js") %>"></script>
    
    <!-- script jQuery(document).ready is loaded in Page_PreRender -->
    <!--[if lt IE 9]>
        <script src="<%=ResolveUrl("~/_THMAssets/plugins/respond.js") %>"></script>
        <script src="<%=ResolveUrl("~/_THMAssets/plugins/html5shiv.js") %>"></script>
        <script src="<%=ResolveUrl("~/_THMAssets/js/plugins/placeholder-IE-fixes.js") %>"></script>
    <![endif]-->
    <!-- Recaptcha -->
    <utilize:literal runat="server" ID="lt_google_recaptcha_script"></utilize:literal>
    <!-- Autocomplete address via google map -->
    <utilize:literal runat="server" ID="lt_google_map_script"></utilize:literal>

    <script type="text/javascript" src="<%=ResolveUrl("~/_FWAssets/Scripts/jQueryModalWindow.js")%>"></script>
    <link href="<%= ResolveUrl("~/_FWAssets/Styles/modalwindow.css")%>" rel="stylesheet" type="text/css" />
    
    <!-- scripts -->
    <asp:ContentPlaceHolder id="scripts" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body runat="server" id="bdy_master">
    <form id="form1" runat="server">
        <utilize:toolkitscriptmanager runat="server" ID="sm_sriptmanager"></utilize:toolkitscriptmanager>

        <asp:UpdatePanel runat="server" ID="upd_update_panel">
            <ContentTemplate>
                <utilize:literal runat="server" ID="lt_async_avail"></utilize:literal> 
                <div id="upd_update_panel_div" style="visibility: hidden">
                    <utilize:placeholder runat="server" ID="ph_watermark">
                        <div runat="server" id="div_watermark">
                            <utilize:literal runat="server" ID="lt_watermark"></utilize:literal>
                        </div>
                    </utilize:placeholder>
                    <utilize:placeholder runat="server" ID="ph_cookies"></utilize:placeholder>

                    <utilize:placeholder runat="server" id="ph_header"></utilize:placeholder>
                    <!--wrapper-->

                    <utilize:Panel runat="server" ID="pnl_wrapper" CssClass="container body margin-top-20" DefaultButton="btn_dummy">
                        <div class="row">
                            <!-- zone 1 -->
                            <utilize:panel runat="server" ID="pnl_column_1" cssclass="">
                                <asp:ContentPlaceHolder id="column_1" runat="server"></asp:ContentPlaceHolder>
                            </utilize:panel>

                            <!-- zone 2 -->
                            <utilize:panel runat="server" ID="pnl_column_2" cssclass="">
                                <asp:ContentPlaceHolder id="column_2" runat="server"></asp:ContentPlaceHolder>
                            </utilize:panel>

                            <!-- zone 3 -->
                            <utilize:panel runat="server" ID="pnl_column_3" cssclass="">
                                <asp:ContentPlaceHolder id="column_3" runat="server"></asp:ContentPlaceHolder>
                            </utilize:panel>
                        </div>

                        <br style="clear:both;" />
                        <utilize:button runat="server" id="btn_dummy" OnClientClick="return false;" CssClass="button_dummy" />
                    </utilize:Panel>
                    <br />

                    <!-- footer -->
                    <utilize:placeholder runat="server" ID="ph_footer"></utilize:placeholder>


                    <utilize:placeholder runat="server" ID="ph_graveyard">
                        <!-- onderstaande kolommen zijn obsolete -->

                         <!-- zone 4 -->
                        <utilize:panel runat="server" ID="pnl_column_4" CssClass="column_4 zone_4">
                            <asp:ContentPlaceHolder id="column_4" runat="server"></asp:ContentPlaceHolder>
                        </utilize:panel>

                        <!-- zone 5 -->
                        <utilize:panel runat="server" ID="pnl_column_5" CssClass="column_5 zone_5">
                            <asp:ContentPlaceHolder id="column_5" runat="server"></asp:ContentPlaceHolder>
                        </utilize:panel>

                        <!-- zone 6 -->
                        <utilize:panel runat="server" ID="pnl_column_6" CssClass="column_6 zone_6">
                            <asp:ContentPlaceHolder id="column_6" runat="server"></asp:ContentPlaceHolder>
                        </utilize:panel>

                        <!-- zone 7 -->
                        <utilize:panel runat="server" ID="pnl_column_7" CssClass="column_7 zone_7">
                            <asp:ContentPlaceHolder id="column_7" runat="server"></asp:ContentPlaceHolder>
                        </utilize:panel>

                        <!-- zone 8 -->
                        <utilize:panel runat="server" ID="pnl_column_8" CssClass="column_8 zone_8">
                            <asp:ContentPlaceHolder id="column_8" runat="server"></asp:ContentPlaceHolder>
                        </utilize:panel>
                    </utilize:placeholder>
                    <!-- End Footer -->
                </div>
            </ContentTemplate>
        </asp:UpdatePanel>
        <asp:UpdateProgress ID="UpdateProgress1" AssociatedUpdatePanelID="upd_update_panel" runat='server' DisplayAfter="1">
            <ProgressTemplate><div style="position: absolute; left: 0px; top: 0px; width:100%; height:100%; text-align:center; z-index: 1000;">
                </div></ProgressTemplate>
        </asp:UpdateProgress>
    </form>

    <utilize:placeholder runat="server" ID="ph_development_vue_scripts" Visible="False">
        <script src="http://localhost:8080/js/app.js" defer></script>
    </utilize:placeholder>

    <utilize:placeholder runat="server" ID="ph_production_vue_scripts" Visible="False">
        <script src="<%=ResolveUrl("~/VueJsDist/js/app.js") %>" defer></script>
        <script src="<%=ResolveUrl("~/VueJsDist/js/chunk-vendors.js") %>" defer></script>
    </utilize:placeholder>
</body>
</html>