﻿﻿.uc_reports_order_history .price-overview {
    text-align:right;
    float: right;
}

.uc_reports_order_history th.amount,
.uc_reports_order_history td.amount {
    text-align: right;
}

.uc_reports_order_history th.quantity,
.uc_reports_order_history td.quantity {
    text-align: center;
}

