﻿div.options
{
    clear: initial;
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
}

h1
{
    margin-top: 0px;
    font-size: 16pt;
}


h1.title
{
    position: absolute;
    top: 0px;
    margin-top: 25px;
}

div.row 
{
    margin-bottom: 20px;
}