﻿body {
}

table
{
    background-color: white;
}

table th{
    border-bottom: 0px!important;
}
table td {
    border-top: 0px solid;
    border-bottom: 1px solid #ddd;
}


table td.primarycolumn,
table th.primarycolumn
{
    display: none;
}

table td.editcolumn,
table td.deletecolumn
{
    width: 15px;
    text-align: center;
}


.filter_panel {
    margin-bottom: 45px;
}

.pgf_list ul.nav-tabs,
.pgf_list ul.nav-tabs li
{
    margin-top: 0px;
    margin-bottom: 0px;

    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
}

.pgf_list ul.nav-tabs li a{
    border: 0px;
    padding: 0;
    
    line-height: 1.1;
    
    background-color: transparent;
}

.pgf_details .toolbar {
    margin-top: -90px;
    margin-bottom: 30px;
}