﻿.form-wrap
{
    position: absolute;
    width: 300px;

    top: 0;
    left: 0;

    left: -150px;

    margin-top: 100px;
    margin-left: 50%;
}

.navbar
{
    border-bottom: 1px solid #ddd;
}

.navbar .navbar-header
{
    padding-bottom: 10px;
}


.btn
{
    width: 100%;
}

