﻿div.header {
    height: 89px;
    border-bottom: 1px solid #412053;
}

div.login {
    position: absolute;
    width: 420px;
    height: 180px;

    left: 50%;
    top: 25%;

    margin-left: -210px;

    border: 1px solid #9d9c9c;

    border-radius: 10px;
}

div.login table.login{
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

    div.login table.login tr td input {
        margin-bottom: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
    }

div.login input{
    width: 370px;
    border: 1px solid #9d9c9c;
}

div.login input.btnLogin{
    width: 378px;
}