﻿nav.navbar
{
    width: 300px;
    right: 0px;
    left: auto;
}


ul.nav-tabs
{
    margin-top: 9px;
    margin-left: 10px;
    position: absolute;
    z-index: 100;
    left: 0px;
}

#pgf_solutions_tabs
{
    position: fixed;
}

.btn-group
{
    position: absolute;
    right: 170px;
    top: 10px;
    z-index: 101;
}

.open > .dropdown-menu
{
}