﻿body {
    margin-top: 10px;
}

table td.primarycolumn,
table th.primarycolumn
{
    display: none;
}

div.btn-toolbar
{
    margin-bottom: 10px;
}

button.dropdown-toggle
{
    margin-left: 5px !important;
}

.pgf_sort ul.nav-tabs,
.pgf_sort ul.nav-tabs li
{
    margin-top: 0px;
    margin-bottom: 0px;

    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
}

.pgf_sort ul.nav-tabs li a{
    border: 0px;
    padding: 0;
    
    line-height: 1.1;
    

    color: #333;
    background-color: transparent;
}
