<template>
  <div id="utlz-messages">
    <ul class="msg-list">
      <li v-for="message in messages" v-bind:key="message.id" class="msg-item">
        <div class="msg-wrapper">
          <p class="msg-line">Message: {{message.messages[0]}}</p>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  computed: {
    ...mapGetters('messages', ['messages'])
  }
}
</script>

<style>

</style>
