<template>
  <div class="cmp-order-product normalize-headers" :class="parentClassRef">
    <utlz-order-normal v-if="orderType === 'normal'" @orderNormal="orderProductNormal($event)"></utlz-order-normal>
    <utlz-order-saleunit v-if="orderType === 'saleUnit'"></utlz-order-saleunit>
    <utlz-order-units v-if="orderType === 'unit'"></utlz-order-units>
    <utlz-order-grouped v-if="orderType === 'grouped'" :product="product"></utlz-order-grouped>

    <utlz-order-volume-discount
      v-if="orderType === 'volumeDiscount'"
      :volumeDiscount="product.prices"
      @volumeDiscountChanged="volumeDiscountChanged($event)">
    </utlz-order-volume-discount>

    <input v-if="useOrderComment" type="text" :value="orderCommentField" ref="orderComment" class="order-comment">

    <div class="order-product-wrapper flex-row-nowrap">
      <utlz-quantity-buttons
        :initialQuantity="quantity"
        :quantityFactor="quantityFactor"
        @quantityChanged="quantityChanged($event)">
      </utlz-quantity-buttons>

      <a v-if="useOrderMode" @click="orderProduct" class="button add-to-cart-btn small">
        <i class="uws-icon uws-cart" aria-hidden="true"></i>
      </a>
    </div>

  </div>
</template>

<script>
import OrderNormal from './blocks/OrderNormal.vue';
import OrderSaleUnit from './blocks/OrderSaleUnit.vue';
import OrderUnits from './blocks/OrderUnits.vue';
import OrderGrouped from './blocks/OrderGrouped.vue';
import OrderVolumeDiscount from './blocks/OrderVolumeDiscount.vue';
import QuantityButtons from './blocks/QuantityButtons.vue';
import { Product } from 'src/models/product.model';
import { mapActions } from 'vuex';

export default {
  components: {
    'utlz-order-normal': OrderNormal,
    'utlz-order-saleunit': OrderSaleUnit,
    'utlz-order-units': OrderUnits,
    'utlz-order-grouped': OrderGrouped,
    'utlz-order-volume-discount': OrderVolumeDiscount,
    'utlz-quantity-buttons': QuantityButtons
  },
  props: {
    product: { type: Product, required: true },
    initialQuantity: { type: Number, required: false, default: 1 },
    useOrderComment: { type: Boolean, required: false, default: false },
    orderComment: { type: String, required: false },
    useOrderMode: { type: Boolean, default: true },
    parentClassRef: { type: String, default: '', required: false }
  },
  data () {
    return {
      quantity: this.initialQuantity,
      quantityFactor: 1,
      unitCode: '',
      orderType: 'normal'
    };
  },
  computed: {
    orderCommentField () {
      return this.orderComment; // @TODO Turn row comment into own component?
    }
  },
  methods: {
    setOrderType () {
      let type;
      let volumeDiscount = this.product.prices.length > 1;
      if (this.product.unit) {
        type = 'units';
      }
      if (this.product.saleUnit > 1 && !volumeDiscount) {
        type = 'saleUnit';
      }
      if (volumeDiscount) {
        type = 'volumeDiscount';
      }
      this.orderType = type;
    },
    setOrderQuantities () {
      switch (this.orderType) {
        case 'saleUnit':
          this.quantityFactor = this.product.saleUnit;
          this.quantity = this.initialQuantity > this.quantityFactor ? this.initialQuantity : this.quantityFactor;
          break;
        case 'volumeDiscount':
          this.quantityFactor = this.product.prices[0].quantity;
          this.quantity = this.initialQuantity > this.quantityFactor ? this.initialQuantity : this.quantityFactor;
          break;
      }
    },
    orderProduct () {
      let payload = this.getOrderPayload();
      this.addToCart(payload)
        .then(res => {
          this.quantity = this.quantityFactor;
        });
    },
    getOrderPayload () {
      let quantity = this.quantity;
      if (this.orderType === 'units') {
        quantity = this.quantity / this.quantityFactor;
      } else if (this.orderType === 'volumeDiscount' && this.product.saleUnit > 1) {
        quantity = this.quantity / this.product.saleUnit;
      } else if (this.orderType === 'saleUnit') {
        quantity = this.quantity / this.product.saleUnit;
      }
      return {
        prod_code: this.product.id,
        ord_qty: quantity,
        unit_code: this.unitCode,
        prod_comment: this.useOrderComment ? this.$refs.orderComment.value : ''
      }
    },
    quantityChanged ({ quantity }) {
      this.quantity = quantity;
    },
    volumeDiscountChanged (quantity) {
      this.quantity = quantity;
      this.quantityFactor = quantity;
    },
    ...mapActions('shoppingCart', ['addToCart'])
  },
  created () {
    this.setOrderType();
    this.setOrderQuantities();
  }
};
</script>

<style>
</style>
