﻿.uc_shopping_cart_control ul.shop-badge .btn-u {
    width: 100% !important;
}

.uc_shopping_cart_control .shopping-product-li {
    margin-left: 0px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;    
}

.uc_shopping_cart_control span.label_amount {
    display: none;
    padding-left: 15px;
}

.subtotal 
{
    border-top: 1px solid #fff;
    margin-bottom: 20px;
}


.uc_shopping_cart_control .content_li {
    margin-left: 0px !important;
}

.uc_shopping_cart_control .shopping_cart_badge {
    display: none;
    min-height: 15px;
    min-width: 15px;
    line-height: 15px;
    -moz-border-radius: 30px;
    border-radius: 30px !important;
    background-color: black;
    color: white !important;
    text-align: center;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: auto;
    width: auto;
    position: absolute;
    margin-top: -45px;
    margin-left: 15px;
}

/* Shopping cart for the columns */
.body .uc_shopping_cart_control
{
    width: 100%;
}

.body .uc_shopping_cart_control > li
{
    width: 100%!important;
}

.body .uc_shopping_cart_control li.content_li > ul
{
    padding-left: 0px;
}

.body .uc_shopping_cart_control .btn-block
{
    display: inline-block;
    width: 100%;
}

.body .uc_shopping_cart_control i
{
    display: none;
}

.body .uc_shopping_cart_control span.label_amount {
    display: inline-block;
}

.body .uc_shopping_cart_control span.cart_total_amount{
    display: inline-block;
    float: right;
    padding-right: 15px;
}

.uc_shopping_cart_control .shopping-cart-btn {
    cursor: pointer;
}