﻿input.close
{
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.uc_shopping_cart_control .cart-content
{
    line-height: 18px;
}

.header-v5 .mCustomScrollbar
{
    height: auto;
    max-height:350px;
    padding-left: 0px!important;
}

.zone-product-block {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #dedede;
}

.uc_shopping_cart_control .mCustomScrollBox > .mCSB_scrollTools
{
    opacity: 1; filter: "alpha(opacity=100)"; -ms-filter: "alpha(opacity=100)";
}

.uc_shopping_cart_control li.part-of-set {
    padding-left: 35px!important;
}

.uc_shopping_cart_control li.part-of-set span {
    font-size: smaller;
}