﻿.panel-width
{
    width: 100%;
}

div.uc_category_menu_collapse .mobile-heading
{
    display: none;
    text-align: center;
}

div.uc_category_menu_collapse ul li ul li a
{
    padding-top: 10px;
    padding-left: 30px
}

div.uc_category_menu_collapse ul li a:hover, div.uc_category_menu_collapse ul li a:focus, div.uc_category_menu_collapse .open ul li a, .open a
{
    text-decoration: none;
    background-color: initial;
}

div.uc_category_menu_collapse ul.inactive
{
    display: none;
}

div.uc_category_menu_collapse .li-width a {
    padding-left: 0px;
    padding-top: 2px !important;
    padding-bottom: 3px !important;
}

div.uc_category_menu_collapse .li-width
{
    width: 100%;
}

div.uc_category_menu_collapse ul >li > ul > li > ul > li
{
    list-style: none;
    padding-left: 10px;
}

div.uc_category_menu_collapse ul.level3 li a
{
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-menu > li > a
{
    white-space: normal;
}

@media (min-width: 992px)
{
    div.uc_category_menu_collapse
    {
        padding-left: 0;
        padding-right: 0;
    }

    div.uc_category_menu_collapse ul.active
    {
        position: static;
        top: 100%;
        left: 0;
        z-index: 0;
        display: inline;
        float: none;
        min-width: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0px 0 0;
        font-size: 13px;
        list-style: none;
        background-color: #fff;
        border: 0px;
        border-radius: 0px;
        -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175);
        box-shadow: 0 0px 0px rgba(0,0,0,.175);
    }

    div.uc_category_menu_collapse ul li ul li a
    {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    div.uc_category_menu_collapse div.mobile-heading
    {
        display: block !important;
        color: #333;
        width: 100%;
        background-color: #f5f5f5;
        border-color: #ddd;
    }

    div.uc_category_menu_collapse div.panel-borderset
    {
        border-color: #ddd;
    }

    div.uc_category_menu_collapse .li-width ul li a
    {
        padding-left: 15px;
    }
}

@media (max-width: 991px)
{
    div.uc_category_menu_collapse {
        margin: 0 !important;
    }

    div.uc_category_menu_collapse ul li
    {
        font-size: 14px;
        text-align: left;
        padding-top: 0;
        padding-bottom: 0;        
    }

    div.uc_category_menu_collapse ul.nav {
        margin: 0 !important;
    }

    div.uc_category_menu_collapse ul.nav > li {
        padding-top: 0px;
        padding-bottom: 0px;
        position: relative !important;
    }

    div.uc_category_menu_collapse ul.nav > li > a {
        padding-top: 6px!important;
        padding-bottom: 2px!important;
        border-top: none!important;
    }

    div.uc_category_menu_collapse ul.nav li a {
        padding-bottom: 10px!important;
        padding-top: 10px !important;
    }

    div.uc_category_menu_collapse ul.nav > li > a::after {
        display: none !important;
    }

    div.uc_category_menu_collapse ul.nav .dropdown-button.fa {
        position: absolute;
        right: 0;
        left: auto;
        top: 8px;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        margin-top: 0 !important;
    }

    div.uc_category_menu_collapse .panel {
        box-shadow: none;
    }

    div.uc_header_v2 .uc_category_menu_collapse {
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    div.uc_header_v2 .uc_category_menu_collapse ul.nav > li > a {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }

    div.uc_header_v4 .uc_category_menu_collapse ul.nav > li > a {
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
       
    div.uc_category_menu_collapse div.mobile-body 
    {
        padding: 0px;
        border-top: 0px !important;
    }

    div.uc_category_menu_collapse ul.active
    {
        display: none;
    }

    div.uc_category_menu_collapse .open ul.active
    {
        display: inline;
    }

    div.uc_category_menu_collapse .open ul.inactive
    {
        display: inline;
    }
        
    div.uc_category_menu_collapse ul li ul li a
    {
        padding-top: 10px;
        padding-left: 25px;
    }
        
    div.mobile-category .navbar-collapse.collapse
    {
        display: none !important;
    }

    div.mobile-category .navbar-collapse
    {
        padding: 0;
    }

    div.mobile-category .navbar-collapse.collapse.in
    {
        display: block !important;
        overflow-y: auto !important;
    }

    div.mobile-category .navbar-collapse ul.navbar-nav{
        width: 100%;
    }

    .mobile-body ul li a
    {
        padding-left: 10px !important;
    }

    .mobile-body ul li ul li
    {
        padding-left: 15px !important;
    }

    .mobile-body ul li ul li a
    {
        padding-left: 0px !important;
    }

    .mobile-body .dropdown
    {
        padding-left: 0px;
    }

    .li-width a
    {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

/* Handles advanced styling */
@media (min-width: 992px) {
    .uc_category_menu_collapse.advanced ul.navbar-nav {
        float: none !important;
    }

    .uc_category_menu_collapse.advanced .panel-borderset {
        box-shadow: none !important;
    }

    .uc_category_menu_collapse.advanced .panel-heading {
        background: #eee !important;
        padding: 6px 10px 8px 10px;
    }

    .uc_category_menu_collapse.advanced .panel-title {
        text-align: left;
        line-height: normal;
    }

    .uc_category_menu_collapse.advanced a {
        font-weight: bold;
        padding: 2px 0 3px !important;
        transition: transform .2s;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
    }

    .uc_category_menu_collapse.advanced a:hover {
        transform: translateX(5px);
    }

    .uc_category_menu_collapse.advanced .active > a:hover {
        transform: translateX(0);
    }

    .uc_category_menu_collapse.advanced .dropdown-menu.active .active > a {
        font-weight: bold !important;
    }

    .uc_category_menu_collapse.advanced .li-width {
        padding-left: 0 !important;
    }

    .uc_category_menu_collapse.advanced li {
        width: 100%;
    }

    .uc_category_menu_collapse.advanced li > a::before {
        font-weight: bold;
        content: "\f0da";
        font-family: FontAwesome;
        margin-right: 5px;
        font-weight: normal;
        opacity: .5;
    }

    .uc_category_menu_collapse.advanced .li-width.dropdown.active > a::before {
        content: "\f0d7";
        opacity: 1;
    }

    .uc_category_menu_collapse.advanced .dropdown-menu.active {
        display: flex;
        flex-flow: column;
        margin: 0 0 10px 0;
        padding: 0;
        border-left: 1px solid #ddd;
    }

    .uc_category_menu_collapse.advanced .dropdown-menu {
        margin-left: 10px !important;
        padding-left: 10px !important;
    }

    .uc_category_menu_collapse.advanced .panel-body ul.dropdown-menu.active li.li-width a:hover,
    .uc_category_menu_collapse.advanced ul.dropdown-menu.active li.li-width a:focus,
    .uc_category_menu_collapse.advanced ul.dropdown-menu.active li.li-width a:active {
        background-color: transparent !important;
        font-weight: bold;
    } 
}

/* End advanced styling */