﻿div.uc_categories_flyout
{
    position: relative;
    line-height: 25px;
    z-index: 9;
}

div.uc_categories_flyout,
div.uc_categories_flyout a
{
    color: white;
    text-decoration: none;
}

div.uc_categories_flyout ul.level1
{
    margin: 0;
    padding: 0;

    width: 100%;
    list-style-type: none;
}

div.uc_categories_flyout ul.level1 li
{
    display: inline;
    
   
      
}

div.uc_categories_flyout ul.level1 li.seperator
{
    margin-left:5px;
    margin-right:5px;
}

div.uc_categories_flyout ul.level1 li > a
{
    height:25px;
    display:inline-block;
}

div.uc_categories_flyout ul.level1 li > a
{
    height:25px;
    display:inline-block;
}



div.uc_categories_flyout ul.level1 li ul.level2
{
    display:none;
}

div.uc_categories_flyout ul.level1 li:hover > ul.level2
{
    display:inline-block;
    position:absolute;
    margin-top:25px;
    padding-left:0px;
    border:1px solid #CCCCCC;
    background-color:#ffffff;
    margin-left:-7px;

}
    
div.uc_categories_flyout ul.level1 li:hover > ul.level2 li a
{
    display:block;
    
    padding-left:6px;
    padding-right:6px;
    min-width: 150px;
    
    background-color:#ffffff;
    color:#777777;
}

div.uc_categories_flyout ul.level1 li:hover > ul.level2 li a:hover
{
    background-color:#571C6E;
    color:#ffffff;
}

div.uc_categories_flyout ul.level1 li:hover > ul.level2 li
{
    display:block;
   
}