﻿div.uc_categories_overview {
}

div.uc_categories_overview .category-item {
    margin-bottom:30px;
}

div.uc_categories_overview .category-item p {
    text-align: center;
    background: grey;
    width: 100%;
}

div.uc_categories_overview .category-item img {
    display: block;
    width: 100%;
}

div.uc_categories_overview .size-3 {
    font-size: 1em;
}
div.uc_categories_overview .size-4 {
    font-size: 1.2em;
}
div.uc_categories_overview .size-6 {
    font-size: 1.6em; font-size: 2.9vw;
}
div.uc_categories_overview .size-12 {
    font-size: 3.2em; font-size:4vw;
}

div.uc_categories_overview .category-name
{
    background-color: rgba(170, 170, 170, 0.5);
    width:calc(100% - 30px);
    position: absolute;
    top:60%;
    bottom:30px;
    left:15px;
    right:0;
    padding: 10px 20px;
}

/* xs devices */

@media (max-width: 991px) {
    div.uc_categories_overview .customclearfix-xs:after {
        content: " ";
        display: table;
        clear: both;
    }

    div.uc_categories_overview .customclearfix-xs:before {
        content: " ";
        display: table;
    }

    div.uc_categories_overview .size-3, div.uc_categories_overview .size-4, div.uc_categories_overview .size-6, div.uc_categories_overview .size-12 {
        font-size: 1.6em !important; font-size: 3.1vw !important;
    }
}

/* These styles handle all advanced styles that are set through CMS settings */
@media (min-width: 768px) {
    .uc_categories_overview.advanced .category-name {
        font-size: 14px !important;
    }
}

@media (max-width: 767px) {
    .uc_categories_overview.advanced .category-item .category-name {
        font-size: 14px !important;
    }
}

.uc_categories_overview.advanced h1 {
    display: block;
    font-size: 20px;
    margin: 0 0 5px;   
    line-height: normal;
}

.uc_categories_overview.advanced .category-name {
    width: 100% !important;
    position: relative !important;
    bottom: 0;
    left: 0;
    padding: 0 !important;
    background: transparent !important;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
}

/* Handles background color */
.uc_categories_overview.advanced.text-bg .category-name {
    margin-top: 0;
    height: 56px;
    margin-top: -56px;
    font-size: 16px;
    z-index: 1;
    font-size: 13px;
    font-weight: bold;
    padding: 0 15px !important;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.uc_categories_overview.advanced.text-bg.overflow-title-1 .category-name {    
    margin-top: -30px;       
    height: 30px;    
    white-space: nowrap;
}

.uc_categories_overview.advanced.text-bg.overflow-title-2 .category-name {
    align-items: center;
    margin-top: -40px;
    height: 40px;
    line-height: 1.3;
}

.uc_categories_overview.advanced.text-bg.overflow-title-3 .category-name {
    align-items: center;
    margin-top: -57px;
    height: 57px;
    line-height: 1.3;
}

/* Adds a border around category image */
div.uc_categories_overview.advanced.border .category-item img {
    border: 1px solid #ccc;
}

@media (min-width: 992px) {
    .uc_categories_overview.advanced.text-bg.overflow-title-1 .col-md-2 .category-name {
        font-size: 12px !important;
    }
}

/* Creates a listview on mobile */
@media (max-width: 500px) {
    .uc_categories_overview.advanced.mobile-list-view > .row {
        display: flex !important;
        flex-flow: row wrap;
        align-items: center;
    }

    .uc_categories_overview.advanced.mobile-list-view > .row [class*="col-"] {
        width: 100%;
    }

    .uc_categories_overview.advanced.mobile-list-view > .row [class*="col-"] .category-item {
        margin-bottom: 15px;
    }

    .uc_categories_overview.advanced.mobile-list-view > .row [class*="col-"] .category-item a {
        display: flex;
        margin-bottom: 10px !important;
        height: 50px;
    }

    .uc_categories_overview.advanced.mobile-list-view > .row [class*="col-"] .category-name {
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        display: flex;
        margin: 0;
        padding: 0 0 0 20px !important;
        height: 50px;
        position: static !important;
    }

    .uc_categories_overview.advanced.mobile-list-view > .row [class*="col-"] .category-item a img {
        max-width: 50px;
    }

    .uc_categories_overview.advanced.mobile-list-view [class*="clearfix"] {
        display: none !important;
    }
}

/* Handles alignment center */
.uc_categories_overview.advanced.align-left .category-name {
    justify-content: flex-start;
    text-align: left;
}

.uc_categories_overview.advanced.align-right .category-name {
    justify-content: flex-end;
    text-align: right;
}
/* End advanced styling */