﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="uc_categories_flyout.ascx.vb" Inherits="uc_categories_flyout" %>

<div class="uc_categories_flyout">
    <utilize:placeholder ID="ph_menu_cat" runat="server"></utilize:placeholder>
</div>