﻿div.uc_news_archive a
{
text-decoration: none;
}

div.uc_news_archive table
{
    width: 100%;
}

div.uc_news_archive a.hide_me
{
    display: none;
}

div.uc_news_archive td.image
{
padding-right: 10px;
}

.pic_align {
    width: auto; 
    text-align: center;
}