﻿div.uc_news_block .newsimage
{
    text-align: center;
    display: inline !important;
}

div.uc_news_block .news_block
{
    cursor: pointer;
}

/* Advanced styling for news blocks */
.uc_news_block.advanced {
    display: flex;
    flex-flow: row wrap;
}

/* Not needed with flex */
.uc_news_block.advanced .customclearfix {
    display: none;
}

/* Handles news blocks list view */
.uc_news_block.advanced [class*="col-md-"] {
    margin-bottom: 30px;
}

.uc_news_block.advanced.list-view h4 {
    margin: 0;
    line-height: normal;
}

@media (min-width: 992px) {
    .uc_news_block.advanced.list-view .news_block .desc p {
        height: 67px;
    }

    .uc_news_block.advanced.list-view .news_block .desc p a {        
        top: 45px;
        color: red;
    }
}

@media (min-width: 571px) {
    .uc_news_block.advanced.list-view .news_block {
        display: flex;
        flex-flow: row wrap;
    }

    .uc_news_block.advanced.list-view .news_block .desc p {
        position: relative;
        overflow: hidden;
    }

    .uc_news_block.advanced.list-view .news_block .desc p a {
        display: block;
        width: 100%;
        background: #fff;
        top: 50px;
        position: static;
    }

    .uc_news_block.advanced.list-view .img-center {
        width: 30%;
        padding-right: 30px;
    }

    .uc_news_block.advanced.list-view .img-center + div {
        width: 70%;
    }
}
/* End advanced styles */