﻿.news-v3 .news-v3-in{
    padding: 0;
}

@media all and (min-width: 992px){
	div.uc_news_text p img{
		margin-right: 20px;
	}
}

@media (max-width: 991px){
    div.uc_news_text p {
        width: 100%;
    }
}
@media (max-width: 767px) {
    @media (min-width: 992px) and (max-width: 1199px) {
        .uc_news_text .default-image {
            width: 100%;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .uc_news_text .default-image {
        max-width: 720px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .uc_news_text .default-image {
        max-width: 940px;
    }
}

@media (min-width: 1200px) {
    .uc_news_text .default-image {
        max-width: 1140px;
    }
}