﻿<%@ Page Title="" Language="VB" MasterPageFile="~/RMA/MasterPages/RMAMasterPage.master" AutoEventWireup="false" CodeFile="ReturnAcceptance.aspx.vb" Inherits="Webshop_Account_ReturnAcceptance" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <utilize:placeholder runat="server" ID="ph_controls"></utilize:placeholder>
</asp:Content>
