﻿/* Login styles 
-------------------------------------------------- */
div.uc_logon div.logout_wrapper div.accountmenu div.wrapper_show_prices span {
    position: absolute;
}

div.uc_logon div.border
 {
    border: 1px solid #ddd;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
}

div.uc_logon div.row_logout input
{
    float: none;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}

div.uc_logon div.accountlinks
{
    margin-top: 5px;
    margin-bottom: 10px;
}