﻿
.checkbox input[type=checkbox]
{
    margin-left: 0px !important;
}

div.uc_logon_page .pass_forgot
{
    padding-right: 0px !important;
}

div.uc_logon_page .border
{
    border: 1px solid #ddd;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.height-fix
{
    height: 60px;
}

div.uc_logon_page .checkbox label, div.uc_logon_page .radio label {
        padding-left: 0px !important;
        float: right;
}

div.uc_logon_page .checkbox{
    display: inline-block !important;
}

div.uc_logon_page .fa-user:before{
    font-size: 12px!important;
}

div.uc_logon_page .fa-lock:before {
    font-size: 15px !important;
}

div.uc_logon_page .row.col-sm-12 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
}

div.uc_logon_page .row.col-sm-12 .col-sm-6
{
    padding-left: 0px;
    padding-right: 0px;
}

@media (max-width:768px)
{
    div.uc_logon_page .pass_forgot
    {
        float: left;
    }
}