﻿div.uc_mailing  .input-group input {
    border-right:1px solid #fff;
    width:100% !important;
}

div.uc_mailing .input-group-btn {
    color:#fff;
}

div.uc_mailing_footer .middle
{
    width: 100%;
}

@media (max-width: 991px) {
    div.uc_mailing .col-xs-12 {
        margin-bottom:20px;
    }

    div.uc_mailing_footer.col-md-4 {
        width:50%;
    }
}

/* Handles advanced styling */
.uc_mailing_footer.advanced {
    display: flex;
    flex-flow: row wrap;
}

.uc_mailing_footer.advanced h2 {
    width: 100%;
    border-bottom: none !important;
    margin: 0;
}

.uc_mailing_footer.advanced h2:after {
    border: none !important;
}

.uc_mailing_footer.advanced .form-group {
    flex-grow: 1;
}

.uc_mailing_footer.advanced .inputbutton {
    width: auto !important;
    padding: 0 20px;
}

@media (max-width: 400px) {
    .uc_mailing_footer.advanced .inputbutton {
        width: 100% !important;
    }
}
/* End advanced styles */