﻿@media (min-width: 992px)
{
    div.uc_sales_actions .mobile-clearfix
    {
        display: none;
    }
}

@media (max-width: 991px)
{
    div.uc_sales_actions > .row > .clearfix
    {
        display: none;
    }
    div.uc_sales_actions .mobile-clearfix:before
    {
        display:table;
        content: " ";
    }
    div.uc_sales_actions .mobile-clearfix:after
    {
        clear: both;
        display: table;
        content: " ";
    }
}

/* Sets the lazyload spinner to display none so it is 
 * not displayed when lazyloading is turned off */
div.uc_sales_actions [id*="sales_lazy_load_spinner"] {
    display: none;
}