﻿<%@ Page Title="" Language="VB" MasterPageFile="~/CMS/MasterPages/MasterPage_1.master" AutoEventWireup="false" CodeFile="identification.aspx.vb" Inherits="identification" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="styles" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="scripts" Runat="Server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="column_1" Runat="Server">
    <utilize:placeholder runat="server" ID="ph_blocks_1"></utilize:placeholder>
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="column_2" Runat="Server">
    <utilize:placeholder runat="server" ID="ph_blocks_2"></utilize:placeholder>
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="column_3" Runat="Server">
    <utilize:placeholder runat="server" ID="ph_blocks_3"></utilize:placeholder>
</asp:Content>
<asp:Content ID="Content7" ContentPlaceHolderID="column_4" Runat="Server">
    <utilize:placeholder runat="server" ID="ph_blocks_4"></utilize:placeholder>
</asp:Content>
<asp:Content ID="Content8" ContentPlaceHolderID="column_5" Runat="Server">
    <utilize:placeholder runat="server" ID="ph_blocks_5"></utilize:placeholder>
</asp:Content>
<asp:Content ID="Content9" ContentPlaceHolderID="column_6" Runat="Server">
    <utilize:placeholder runat="server" ID="ph_blocks_6"></utilize:placeholder>
</asp:Content>
<asp:Content ID="Content10" ContentPlaceHolderID="column_7" Runat="Server">
    <utilize:placeholder runat="server" ID="ph_blocks_7"></utilize:placeholder>
</asp:Content>
<asp:Content ID="Content11" ContentPlaceHolderID="column_8" Runat="Server">
    <utilize:placeholder runat="server" ID="ph_blocks_8"></utilize:placeholder>
</asp:Content>