﻿div.uc_locator {
}

span.checkbox
{
    float: left;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-left: 0px !important;
}

span.checkbox input,
span.checkbox label
{
    float: left;
    padding-left: 0;
    padding-right: 10px;
    display: inline-block;
}

div.uc_locator .input {
    display: block;
}

div.uc_locator .output {
    display: block;
}

div.uc_locator div#map_canvas,
div.uc_locator div#mode_of_travel,
div.uc_locator div#directions {
    visibility: hidden;
}

div.uc_locator div#map_canvas,
div.uc_locator div#pnl_results {
    height: 400px;
}

@font-face {
    font-family: 'icomoon';
    src: url('../../../_THMAssets/plugins/icomoon/icomoon.eot');
    src: url('../../../_THMAssets/plugins/icomoon/icomoon.eot') format('embedded-opentype'), url('../../../_THMAssets/plugins/icomoon/icomoon.woff') format('woff'), url('../../../_THMAssets/plugins/icomoon/icomoon.ttf') format('truetype'), url('../../../_THMAssets/plugins/icomoon/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.dealer_link {
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
}

.checkbox label {
    padding-left: 0px !important;
    padding-right: 2px;
}

.checkbox input[type="checkbox"] {
  margin-right: 2px !important;
}

div.uc_locator div#directions {
    width: 100%;
    height: 400px;
    overflow: auto;
}

.adp-placemark {
    margin: 0px !important;
}

.adp-legal {
    color: #888;
}

div.uc_locator div.mode-of-travel button,
div.uc_locator div.mode-of-travel span {
    font-family: 'icomoon';
}

.icon-travel-driving:before {
    content: "\e603";
}

.icon-travel-walking:before {
    content: "\e601";
}

.icon-travel-bicycling:before {
    content: "\e600";
}

.icon-travel-transit:before {
    content: "\e602";
}

div.uc_locator div.directions div.header {
    padding: 5px 0px;
    margin: 0px;
}

.result-panel-tbody {
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
}

div.uc_locator .output{
    margin-top: 15px;
}

div.uc_locator .output > div{
    margin:0;
    padding:0;
}

div.uc_locator .output .col-md-3{
    padding-right:0;
}

div.uc_locator .output #map_canvas,
div.uc_locator .output .col-md-3 > div{
    border:1px solid #eee;
}

div.uc_locator h2 {
    margin-left: 5px;
}

div.uc_locator p {
    margin-left: 5px;
}