/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CC Attribution-No Derivative Works 2.5 Brazil - http://creativecommons.org/licenses/by-nd/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */

div.uc_product_images_lightbox img,
div.uc_product_images_lightbox a img
{
border-width: 0px;
}

div.uc_product_images_lightbox div.image
{
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    width: 500px;
    height: 340px;
}

div.uc_product_images_lightbox div.thumbnails
{
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
}

div.uc_product_images_lightbox div.thumbnails a img
{
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;

    border: 1px solid #cccccc;
}

#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}
			
#lightbox-secNav-btnClose 
{
	width: 66px;
	height: 22px; 
	float: right;
	padding-bottom: 0.7em;
	background-image: url('../../../DefaultImages/LightBox/lightbox-btn-close.gif');
	background-repeat: no-repeat;
}

/* Customer Corrections */
.button-lightbox-zoom-in {
    top: 100%;
    right: 30px;
    margin-top: -220px;
    position: absolute;
    font-size: 25px;
    color: #AFAFAF;
    border:none;
    background-color:transparent;
    padding:0px;
    z-index: 100;
}

.single-image
{
    margin-top: -100px;
}

.button-lightbox-zoom-in:active {
    box-shadow:none;
    -webkit-box-shadow:none;
    color: #AFAFAF;
}

div.uc_product_images_lightbox > img,
div.uc_product_images_lightbox div.ms-container img.ms-brd {
    width: 90%!important;
    height: auto!important;
}