﻿/* ====================================================
* Handles elastic product filters
* ================================================== */
.cmp-elastic-product-filters .count {
  margin-left: 5px;
  opacity: .5;
}

.cmp-elastic-product-filters ul {
  margin-bottom: 5px;
}

.cmp-elastic-product-filters h2 {
  margin-top: .5rem;
}

.cmp-elastic-product-filters .filter-header {
  border-top: 1px solid #ccc;
}

.cmp-elastic-product-filters .filters-wrapper {
  margin-bottom: 1rem;
}

.cmp-elastic-product-filters .collapse-btns .fa {
  margin-right: 5px;
}

.cmp-elastic-product-filters .collapsed {
  height: 135px;
  overflow: hidden;
}

.cmp-elastic-product-filters .collapse-btns .show-more-btn,
.cmp-elastic-product-filters .collapsed + .collapse-btns .show-less-btn {
  display: none;
}

.cmp-elastic-product-filters .collapsed + .collapse-btns .show-more-btn {
  display: block  ;
}

/* Handles mobile filters */
@media (max-width: 991px) {
  .cmp-elastic-product-filters .filters-wrapper:nth-child(2) .filter-header {
    border-top: 0;
  }
  
  .cmp-elastic-product-filters .filters-container {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-color: #fff;
      z-index: 999;
      overflow: auto;
      padding: 30px;
  }

  .cmp-elastic-product-filters .close-filters-btn {
    font-size: 2rem;
    position: absolute;
    right: 15px;
    top: 0;
  }
}

