.cmp-product-list-item .item-wrapper {
  position: relative;
  overflow: hidden;
}

@media (min-width: 576px) {
  .blocks .cmp-product-list-item {
    margin-bottom: 30px;
  }
  
  .blocks .cmp-product-list-item .prod-title {
    height: 52px;
    overflow: hidden;
  }
  
  .cmp-product-list-item .ph-product-price {
    height: 40px;
  }
}

/*  Handles mobile row layout */
@media (max-width: 575px) {
  .cmp-product-list-item .item-wrapper {
    border-bottom: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .cmp-product-list-item .img-container {
    padding-right: 15px;
  }
}

/*  Handles desktop row layout */
@media (min-width: 992px) {
  .rows .cmp-product-list-item {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .rows .cmp-product-list-item .item-wrapper {
    flex-flow: row nowrap;    
    border-bottom: 1px solid #ccc;
    margin: 0;
  }

  .rows .cmp-product-list-item .img-container {
    flex: 0 0 25%;
    padding-left: 0;
  }

  .rows .cmp-product-list-item .text-container {
    flex: 0 0 75%;
    padding-left: 0;
    padding-right: 0;
  }
}