/* ====================================================
* Handles order product
* ================================================== */
.cmp-order-product {
  position: relative;
}

.cmp-order-product .quantity-btn {
  border: 1px solid #ccc;
}

.cmp-order-product .cmp-quantity-btns {
  margin-right: 15px;
}

.cmp-order-product .quantity-fld {
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
}

.cmp-order-product input.quantity-fld {
  width: 50px;
  height: 30px;
  text-align: center;
}

.cmp-order-product.ref-product-list-item {
  width: 165px;
}