.cmp-product-price .default {
  font-weight: 700;
  margin-right: 5px;
}

.cmp-product-price .salesaction {
  text-decoration: line-through;
}

/*  Handles price in product list items */
.cmp-product-price.ref-product-list-item .default {
  font-size: 1.25rem;
}