/* ====================================================
* Handles sorting options
* ================================================== */
.cmp-sorting-options .sort-options-wrapper {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}

.cmp-sorting-options .button {
  border-width: 1px;
}

.cmp-sorting-options .button.active {
  border-width: 0;
}

.cmp-sorting-options .grid-view-btns {
  width: 75px;
}

.cmp-sorting-options .product-counter {
  font-weight: 700;
  background-color: #eee;
  border-radius: 10px !important;
  padding: 5px 10px;
}

.cmp-sorting-options .fa-filter {
  margin-right: 5px;
}
