/* ====================================================
* Handles product stock
* ================================================== */
.cmp-product-stock .stock-label {
  margin-right: 5px;
}

.cmp-product-stock .stock-count {
  font-weight: 700;
}