.cmp-order-volume-discount {
  font-weight: bold;
  font-size: .875rem;
}
.cmp-order-volume-discount .prefix {
  margin-right: 5px;
}

.cmp-order-volume-discount .multiply {
  margin: 0 5px;
}

/*  Order product volume discount specifically for product blocks */
@media (max-width: 575px) {
  .cmp-order-volume-discount {
    margin-bottom: 10px;
  }
}
@media (min-width: 576px) {
  .cmp-order-volume-discount {
    position: absolute;
    width: 100%;
    top: -100%;
    margin-top: -10px;
    left: 0;
  }
}