html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.utlz-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .utlz-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .utlz-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .utlz-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .utlz-container {
    max-width: 1140px;
  }
}

.utlz-container-fluid, .utlz-container-sm, .utlz-container-md, .utlz-container-lg, .utlz-container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .utlz-container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .utlz-container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .utlz-container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .utlz-container-xl {
    max-width: 1140px;
  }
}

.utlz-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.utlz-no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.utlz-no-gutters > .utlz-col,
.utlz-no-gutters > [class*="utlz-col-"] {
  padding-right: 0;
  padding-left: 0;
}

@media (min-width: 576px) {
  .utlz-gutters-sm {
    margin-left: -15px;
    margin-right: -15px;
  }

  .utlz-gutters-sm > .utlz-col,
  .utlz-gutters-sm > [class*="utlz-col-"] {
    padding-right: 15px;
    padding-left: 15px;
  }

  .utlz-no-gutters-sm {
    margin-right: 0;
    margin-left: 0;
  }
  
  .utlz-no-gutters-sm > .col,
  .utlz-no-gutters-sm > [class*="utlz-col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.utlz-col-1, .utlz-col-2, .utlz-col-3, .utlz-col-4, .utlz-col-5, .utlz-col-6, .utlz-col-7, .utlz-col-8, .utlz-col-9, .utlz-col-10, .utlz-col-11, .utlz-col-12, .col,
.utlz-col-auto, .utlz-col-sm-1, .utlz-col-sm-2, .utlz-col-sm-3, .utlz-col-sm-4, .utlz-col-sm-5, .utlz-col-sm-6, .utlz-col-sm-7, .utlz-col-sm-8, .utlz-col-sm-9, .utlz-col-sm-10, .utlz-col-sm-11, .utlz-col-sm-12, .utlz-col-sm,
.utlz-col-sm-auto, .utlz-col-md-1, .utlz-col-md-2, .utlz-col-md-3, .utlz-col-md-4, .utlz-col-md-5, .utlz-col-md-6, .utlz-col-md-7, .utlz-col-md-8, .utlz-col-md-9, .utlz-col-md-10, .utlz-col-md-11, .utlz-col-md-12, .utlz-col-md,
.utlz-col-md-auto, .utlz-col-lg-1, .utlz-col-lg-2, .utlz-col-lg-3, .utlz-col-lg-4, .utlz-col-lg-5, .utlz-col-lg-6, .utlz-col-lg-7, .utlz-col-lg-8, .utlz-col-lg-9, .utlz-col-lg-10, .utlz-col-lg-11, .utlz-col-lg-12, .utlz-col-lg,
.utlz-col-lg-auto, .utlz-col-xl-1, .utlz-col-xl-2, .utlz-col-xl-3, .utlz-col-xl-4, .utlz-col-xl-5, .utlz-col-xl-6, .utlz-col-xl-7, .utlz-col-xl-8, .utlz-col-xl-9, .utlz-col-xl-10, .utlz-col-xl-11, .utlz-col-xl-12, .utlz-col-xl,
.utlz-col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.utlz-col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.utlz-col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.utlz-col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.utlz-col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.utlz-col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.utlz-col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.utlz-col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.utlz-col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.utlz-col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.utlz-col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.utlz-col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.utlz-col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.utlz-col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.utlz-col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.utlz-offset-1 {
  margin-left: 8.333333%;
}

.utlz-offset-2 {
  margin-left: 16.666667%;
}

.utlz-offset-3 {
  margin-left: 25%;
}

.utlz-offset-4 {
  margin-left: 33.333333%;
}

.utlz-offset-5 {
  margin-left: 41.666667%;
}

.utlz-offset-6 {
  margin-left: 50%;
}

.utlz-offset-7 {
  margin-left: 58.333333%;
}

.utlz-offset-8 {
  margin-left: 66.666667%;
}

.utlz-offset-9 {
  margin-left: 75%;
}

.utlz-offset-10 {
  margin-left: 83.333333%;
}

.utlz-offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .utlz-col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .utlz-col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .utlz-col-sm-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .utlz-col-sm-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .utlz-col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .utlz-col-sm-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .utlz-col-sm-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .utlz-col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .utlz-col-sm-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .utlz-col-sm-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .utlz-col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .utlz-col-sm-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .utlz-col-sm-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .utlz-col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .utlz-offset-sm-0 {
    margin-left: 0;
  }
  .utlz-offset-sm-1 {
    margin-left: 8.333333%;
  }
  .utlz-offset-sm-2 {
    margin-left: 16.666667%;
  }
  .utlz-offset-sm-3 {
    margin-left: 25%;
  }
  .utlz-offset-sm-4 {
    margin-left: 33.333333%;
  }
  .utlz-offset-sm-5 {
    margin-left: 41.666667%;
  }
  .utlz-offset-sm-6 {
    margin-left: 50%;
  }
  .utlz-offset-sm-7 {
    margin-left: 58.333333%;
  }
  .utlz-offset-sm-8 {
    margin-left: 66.666667%;
  }
  .utlz-offset-sm-9 {
    margin-left: 75%;
  }
  .utlz-offset-sm-10 {
    margin-left: 83.333333%;
  }
  .utlz-offset-sm-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 768px) {
  .utlz-col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .utlz-col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .utlz-col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .utlz-col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .utlz-col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .utlz-col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .utlz-col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .utlz-col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .utlz-col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .utlz-col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .utlz-col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .utlz-col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .utlz-col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .utlz-col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .utlz-offset-md-0 {
    margin-left: 0;
  }
  .utlz-offset-md-1 {
    margin-left: 8.333333%;
  }
  .utlz-offset-md-2 {
    margin-left: 16.666667%;
  }
  .utlz-offset-md-3 {
    margin-left: 25%;
  }
  .utlz-offset-md-4 {
    margin-left: 33.333333%;
  }
  .utlz-offset-md-5 {
    margin-left: 41.666667%;
  }
  .utlz-offset-md-6 {
    margin-left: 50%;
  }
  .utlz-offset-md-7 {
    margin-left: 58.333333%;
  }
  .utlz-offset-md-8 {
    margin-left: 66.666667%;
  }
  .utlz-offset-md-9 {
    margin-left: 75%;
  }
  .utlz-offset-md-10 {
    margin-left: 83.333333%;
  }
  .utlz-offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 992px) {
  .utlz-col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .utlz-col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .utlz-col-lg-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .utlz-col-lg-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .utlz-col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .utlz-col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .utlz-col-lg-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .utlz-col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .utlz-col-lg-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .utlz-col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .utlz-col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .utlz-col-lg-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .utlz-col-lg-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .utlz-col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .utlz-offset-lg-0 {
    margin-left: 0;
  }
  .utlz-offset-lg-1 {
    margin-left: 8.333333%;
  }
  .utlz-offset-lg-2 {
    margin-left: 16.666667%;
  }
  .utlz-offset-lg-3 {
    margin-left: 25%;
  }
  .utlz-offset-lg-4 {
    margin-left: 33.333333%;
  }
  .utlz-offset-lg-5 {
    margin-left: 41.666667%;
  }
  .utlz-offset-lg-6 {
    margin-left: 50%;
  }
  .utlz-offset-lg-7 {
    margin-left: 58.333333%;
  }
  .utlz-offset-lg-8 {
    margin-left: 66.666667%;
  }
  .utlz-offset-lg-9 {
    margin-left: 75%;
  }
  .utlz-offset-lg-10 {
    margin-left: 83.333333%;
  }
  .utlz-offset-lg-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1200px) {
  .utlz-col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  .utlz-col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .utlz-col-xl-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .utlz-col-xl-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .utlz-col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .utlz-col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .utlz-col-xl-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .utlz-col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .utlz-col-xl-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .utlz-col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .utlz-col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .utlz-col-xl-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .utlz-col-xl-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .utlz-col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .utlz-offset-xl-0 {
    margin-left: 0;
  }
  .utlz-offset-xl-1 {
    margin-left: 8.333333%;
  }
  .utlz-offset-xl-2 {
    margin-left: 16.666667%;
  }
  .utlz-offset-xl-3 {
    margin-left: 25%;
  }
  .utlz-offset-xl-4 {
    margin-left: 33.333333%;
  }
  .utlz-offset-xl-5 {
    margin-left: 41.666667%;
  }
  .utlz-offset-xl-6 {
    margin-left: 50%;
  }
  .utlz-offset-xl-7 {
    margin-left: 58.333333%;
  }
  .utlz-offset-xl-8 {
    margin-left: 66.666667%;
  }
  .utlz-offset-xl-9 {
    margin-left: 75%;
  }
  .utlz-offset-xl-10 {
    margin-left: 83.333333%;
  }
  .utlz-offset-xl-11 {
    margin-left: 91.666667%;
  }
}

.align-baseline {
  vertical-align: baseline !important;
}

.align-top {
  vertical-align: top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.align-bottom {
  vertical-align: bottom !important;
}

.align-text-bottom {
  vertical-align: text-bottom !important;
}

.align-text-top {
  vertical-align: text-top !important;
}

.order-first {
  order: -1 !important;
}

.order-0 {
  order: 0 !important;
}

.order-1 {
  order: 1 !important;
}

.order-2 {
  order: 2 !important;
}

.order-3 {
  order: 3 !important;
}

.order-4 {
  order: 4 !important;
}

.order-5 {
  order: 5 !important;
}

.order-last {
  order: 6 !important;
}

/* Negative margins top */
.mt-n1 {
  margin-top: -0.25rem !important;
}
.mt-n2 {
  margin-top: -0.5rem !important;
}
.mt-n3 {
  margin-top: -.75rem !important;
}
.mt-n4 {
  margin-top: -1rem !important;
}
.mt-n5 {
  margin-top: -1.25rem !important;
}
.mt-n6 {
  margin-top: -1.5rem !important;
}
.mt-n7 {
  margin-top: -1.75rem !important;
}
.mt-n8 {
  margin-top: -2rem !important;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}
.align-items-start {
  align-items: flex-start !important;
}
.align-items-baseline {
  align-items: baseline !important;
}
.justify-content-start {
  justify-content: flex-start !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-between {
  justify-content: space-between !important;
}

@media (min-width: 576px) {
  .mb-sm-1 {
    margin-bottom: 5px !important;
  }
  .mb-sm-2 {
    margin-bottom: 15px !important;
  }
  .mb-sm-3 {
    margin-bottom: 30px !important;
  }
  .mb-sm-4 {
    margin-bottom: 60px !important;
  }
  .mb-sm-5 {
    margin-bottom: 90px !important;
  }

  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-inline-flex {
    display: inline-flex !important;
  }
  .flex-sm-fill {
    flex: 1 1 auto !important;
  }
  .flex-sm-row {
    flex-direction: row !important;
  }
  .flex-sm-column {
    flex-direction: column !important;
  }
  .flex-sm-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-sm-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-sm-grow-0 {
    flex-grow: 0 !important;
  }
  .flex-sm-grow-1 {
    flex-grow: 1 !important;
  }
  .flex-sm-shrink-0 {
    flex-shrink: 0 !important;
  }
  .flex-sm-shrink-1 {
    flex-shrink: 1 !important;
  }
  .flex-sm-wrap {
    flex-wrap: wrap !important;
  }
  .flex-sm-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-sm-start {
    justify-content: flex-start !important;
  }
  .justify-content-sm-end {
    justify-content: flex-end !important;
  }
  .justify-content-sm-center {
    justify-content: center !important;
  }
  .justify-content-sm-between {
    justify-content: space-between !important;
  }
  .justify-content-sm-around {
    justify-content: space-around !important;
  }
  .align-items-sm-start {
    align-items: flex-start !important;
  }
  .align-items-sm-end {
    align-items: flex-end !important;
  }
  .align-items-sm-center {
    align-items: center !important;
  }
  .align-items-sm-baseline {
    align-items: baseline !important;
  }
  .align-items-sm-stretch {
    align-items: stretch !important;
  }
  .align-content-sm-start {
    align-content: flex-start !important;
  }
  .align-content-sm-end {
    align-content: flex-end !important;
  }
  .align-content-sm-center {
    align-content: center !important;
  }
  .align-content-sm-between {
    align-content: space-between !important;
  }
  .align-content-sm-around {
    align-content: space-around !important;
  }
  .align-content-sm-stretch {
    align-content: stretch !important;
  }
  .align-self-sm-auto {
    align-self: auto !important;
  }
  .align-self-sm-start {
    align-self: flex-start !important;
  }
  .align-self-sm-end {
    align-self: flex-end !important;
  }
  .align-self-sm-center {
    align-self: center !important;
  }
  .align-self-sm-baseline {
    align-self: baseline !important;
  }
  .align-self-sm-stretch {
    align-self: stretch !important;
  }
  .order-sm-first {
    order: -1 !important;
  }
  .order-sm-0 {
    order: 0 !important;
  }
  .order-sm-1 {
    order: 1 !important;
  }
  .order-sm-2 {
    order: 2 !important;
  }
  .order-sm-3 {
    order: 3 !important;
  }
  .order-sm-4 {
    order: 4 !important;
  }
  .order-sm-5 {
    order: 5 !important;
  }
  .order-sm-last {
    order: 6 !important;
  }
}

@media (min-width: 768px) {
  .mb-md-1 {
    margin-bottom: 0.25rem !important;
  }
  .mb-md-2 {
    margin-bottom: 0.5rem !important;
  }
  .mb-md-3 {
    margin-bottom: 1rem !important;
  }
  .mb-md-4 {
    margin-bottom: 1.5rem !important;
  }
  .mb-md-5 {
    margin-bottom: 3rem !important;
  }

  .d-md-flex {
    display: flex !important;
  }
  .d-md-inline-flex {
    display: inline-flex !important;
  }
  .flex-md-fill {
    flex: 1 1 auto !important;
  }
  .flex-md-row {
    flex-direction: row !important;
  }
  .flex-md-column {
    flex-direction: column !important;
  }
  .flex-md-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-md-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-md-grow-0 {
    flex-grow: 0 !important;
  }
  .flex-md-grow-1 {
    flex-grow: 1 !important;
  }
  .flex-md-shrink-0 {
    flex-shrink: 0 !important;
  }
  .flex-md-shrink-1 {
    flex-shrink: 1 !important;
  }
  .flex-md-wrap {
    flex-wrap: wrap !important;
  }
  .flex-md-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-md-start {
    justify-content: flex-start !important;
  }
  .justify-content-md-end {
    justify-content: flex-end !important;
  }
  .justify-content-md-center {
    justify-content: center !important;
  }
  .justify-content-md-between {
    justify-content: space-between !important;
  }
  .justify-content-md-around {
    justify-content: space-around !important;
  }
  .align-items-md-start {
    align-items: flex-start !important;
  }
  .align-items-md-end {
    align-items: flex-end !important;
  }
  .align-items-md-center {
    align-items: center !important;
  }
  .align-items-md-baseline {
    align-items: baseline !important;
  }
  .align-items-md-stretch {
    align-items: stretch !important;
  }
  .align-content-md-start {
    align-content: flex-start !important;
  }
  .align-content-md-end {
    align-content: flex-end !important;
  }
  .align-content-md-center {
    align-content: center !important;
  }
  .align-content-md-between {
    align-content: space-between !important;
  }
  .align-content-md-around {
    align-content: space-around !important;
  }
  .align-content-md-stretch {
    align-content: stretch !important;
  }
  .align-self-md-auto {
    align-self: auto !important;
  }
  .align-self-md-start {
    align-self: flex-start !important;
  }
  .align-self-md-end {
    align-self: flex-end !important;
  }
  .align-self-md-center {
    align-self: center !important;
  }
  .align-self-md-baseline {
    align-self: baseline !important;
  }
  .align-self-md-stretch {
    align-self: stretch !important;
  }
  .order-md-first {
    order: -1 !important;
  }
  .order-md-0 {
    order: 0 !important;
  }
  .order-md-1 {
    order: 1 !important;
  }
  .order-md-2 {
    order: 2 !important;
  }
  .order-md-3 {
    order: 3 !important;
  }
  .order-md-4 {
    order: 4 !important;
  }
  .order-md-5 {
    order: 5 !important;
  }
  .order-md-last {
    order: 6 !important;
  }
}

@media (min-width: 992px) {
  .mb-lg-1 {
    margin-bottom: 0.25rem !important;
  }
  .mb-lg-2 {
    margin-bottom: 0.5rem !important;
  }
  .mb-lg-3 {
    margin-bottom: 1rem !important;
  }
  .mb-lg-4 {
    margin-bottom: 1.5rem !important;
  }
  .mb-lg-5 {
    margin-bottom: 3rem !important;
  }

  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-inline-flex {
    display: inline-flex !important;
  }
  .flex-lg-fill {
    flex: 1 1 auto !important;
  }
  .flex-lg-row {
    flex-direction: row !important;
  }
  .flex-lg-column {
    flex-direction: column !important;
  }
  .flex-lg-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-lg-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-lg-grow-0 {
    flex-grow: 0 !important;
  }
  .flex-lg-grow-1 {
    flex-grow: 1 !important;
  }
  .flex-lg-shrink-0 {
    flex-shrink: 0 !important;
  }
  .flex-lg-shrink-1 {
    flex-shrink: 1 !important;
  }
  .flex-lg-wrap {
    flex-wrap: wrap !important;
  }
  .flex-lg-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-lg-start {
    justify-content: flex-start !important;
  }
  .justify-content-lg-end {
    justify-content: flex-end !important;
  }
  .justify-content-lg-center {
    justify-content: center !important;
  }
  .justify-content-lg-between {
    justify-content: space-between !important;
  }
  .justify-content-lg-around {
    justify-content: space-around !important;
  }
  .align-items-lg-start {
    align-items: flex-start !important;
  }
  .align-items-lg-end {
    align-items: flex-end !important;
  }
  .align-items-lg-center {
    align-items: center !important;
  }
  .align-items-lg-baseline {
    align-items: baseline !important;
  }
  .align-items-lg-stretch {
    align-items: stretch !important;
  }
  .align-content-lg-start {
    align-content: flex-start !important;
  }
  .align-content-lg-end {
    align-content: flex-end !important;
  }
  .align-content-lg-center {
    align-content: center !important;
  }
  .align-content-lg-between {
    align-content: space-between !important;
  }
  .align-content-lg-around {
    align-content: space-around !important;
  }
  .align-content-lg-stretch {
    align-content: stretch !important;
  }
  .align-self-lg-auto {
    align-self: auto !important;
  }
  .align-self-lg-start {
    align-self: flex-start !important;
  }
  .align-self-lg-end {
    align-self: flex-end !important;
  }
  .align-self-lg-center {
    align-self: center !important;
  }
  .align-self-lg-baseline {
    align-self: baseline !important;
  }
  .align-self-lg-stretch {
    align-self: stretch !important;
  }
  .order-lg-first {
    order: -1 !important;
  }
  .order-lg-0 {
    order: 0 !important;
  }
  .order-lg-1 {
    order: 1 !important;
  }
  .order-lg-2 {
    order: 2 !important;
  }
  .order-lg-3 {
    order: 3 !important;
  }
  .order-lg-4 {
    order: 4 !important;
  }
  .order-lg-5 {
    order: 5 !important;
  }
  .order-lg-last {
    order: 6 !important;
  }
}

@media (min-width: 1200px) {
  .mb-xl-1 {
    margin-bottom: 0.25rem !important;
  }
  .mb-xl-2 {
    margin-bottom: 0.5rem !important;
  }
  .mb-xl-3 {
    margin-bottom: 1rem !important;
  }
  .mb-xl-4 {
    margin-bottom: 1.5rem !important;
  }
  .mb-xl-5 {
    margin-bottom: 3rem !important;
  }

  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-inline-flex {
    display: inline-flex !important;
  }
  .flex-xl-fill {
    flex: 1 1 auto !important;
  }
  .flex-xl-row {
    flex-direction: row !important;
  }
  .flex-xl-column {
    flex-direction: column !important;
  }
  .flex-xl-row-reverse {
    flex-direction: row-reverse !important;
  }
  .flex-xl-column-reverse {
    flex-direction: column-reverse !important;
  }
  .flex-xl-grow-0 {
    flex-grow: 0 !important;
  }
  .flex-xl-grow-1 {
    flex-grow: 1 !important;
  }
  .flex-xl-shrink-0 {
    flex-shrink: 0 !important;
  }
  .flex-xl-shrink-1 {
    flex-shrink: 1 !important;
  }
  .flex-xl-wrap {
    flex-wrap: wrap !important;
  }
  .flex-xl-nowrap {
    flex-wrap: nowrap !important;
  }
  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse !important;
  }
  .justify-content-xl-start {
    justify-content: flex-start !important;
  }
  .justify-content-xl-end {
    justify-content: flex-end !important;
  }
  .justify-content-xl-center {
    justify-content: center !important;
  }
  .justify-content-xl-between {
    justify-content: space-between !important;
  }
  .justify-content-xl-around {
    justify-content: space-around !important;
  }
  .align-items-xl-start {
    align-items: flex-start !important;
  }
  .align-items-xl-end {
    align-items: flex-end !important;
  }
  .align-items-xl-center {
    align-items: center !important;
  }
  .align-items-xl-baseline {
    align-items: baseline !important;
  }
  .align-items-xl-stretch {
    align-items: stretch !important;
  }
  .align-content-xl-start {
    align-content: flex-start !important;
  }
  .align-content-xl-end {
    align-content: flex-end !important;
  }
  .align-content-xl-center {
    align-content: center !important;
  }
  .align-content-xl-between {
    align-content: space-between !important;
  }
  .align-content-xl-around {
    align-content: space-around !important;
  }
  .align-content-xl-stretch {
    align-content: stretch !important;
  }
  .align-self-xl-auto {
    align-self: auto !important;
  }
  .align-self-xl-start {
    align-self: flex-start !important;
  }
  .align-self-xl-end {
    align-self: flex-end !important;
  }
  .align-self-xl-center {
    align-self: center !important;
  }
  .align-self-xl-baseline {
    align-self: baseline !important;
  }
  .align-self-xl-stretch {
    align-self: stretch !important;
  }
  .order-xl-first {
    order: -1 !important;
  }
  .order-xl-0 {
    order: 0 !important;
  }
  .order-xl-1 {
    order: 1 !important;
  }
  .order-xl-2 {
    order: 2 !important;
  }
  .order-xl-3 {
    order: 3 !important;
  }
  .order-xl-4 {
    order: 4 !important;
  }
  .order-xl-5 {
    order: 5 !important;
  }
  .order-xl-last {
    order: 6 !important;
  }
}

/* Flexbox helpers */
.flex-row-nowrap {
  display: flex !important;
  flex-flow: row nowrap;
}

.flex-row-wrap {
  display: flex !important;
  flex-flow: row wrap;
}

.flex-row-wrap.align-center,
.flex-row-nowrap.align-center {
  align-items: center;
}

.flex-row-wrap.just-center,
.flex-row-nowrap.just-center {
  justify-content: center;
}

.flex-row-wrap.just-space-between,
.flex-row-nowrap.just-space-between {
  justify-content: space-between;
}

.flex-column {
  display: flex !important;
  flex-direction: column;
}

.flex-column.just-center {
  justify-content: center;
}

@media (min-width: 576px) {
  .flex-row-nowrap-sm {
    display: flex !important;
    flex-flow: row nowrap;
  }
  
  .flex-row-wrap-sm {
    display: flex !important;
    flex-flow: row wrap;
  }
  
  .flex-row-wrap-sm.align-center,
  .flex-row-nowrap-sm.align-center {
    align-items: center;
  }
  
  .flex-row-wrap-sm.just-center,
  .flex-row-nowrap-sm.just-center {
    justify-content: center;
  }
  
  .flex-column-sm {
    display: flex !important;
    flex-direction: column;
  }
  
  .flex-column-sm.just-center {
    justify-content: center;
  }
}