/*  Instructions when switching entire portal to new css base
 * 1. Delete all importants on border-radius 
 * 2. Delete all .utlz-reset classes and references
 * 3. Delete all utlz- prefixes on bootstrap 4 classes
*/

.utlz-reset i.fa {
    color: inherit !important;
}

.utlz-reset .small {
  font-size: inherit;
}