/* ====================================================
* Hidden elements
* ================================================== */
@media (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md {
    display: none !important;
  }

  .show-desktop {
    display: none !important; 
  }
}

@media (min-width: 992px) {
  .show-mobile {
    display: none !important;
  }
}
 
/*  Extra Large       == 3rem */
/*  LArge             == 2rem */
/*  Normal            == 1.25rem*/
/*  Small             == 1rem */
/*  default text      == .875rem  */
/*  Extra small       == .75rem */
/*  Largest font-size - exceptions larger than h1 */
.text-lg {
    font-size: 3rem;
}

.text-lg {
    font-size: 2.5rem;
}

.text-lg {
    font-size: 2rem;
}

@media (max-width: 575px) {
    .utlz-reset .header-small {
        font-size: 1rem;
    }
}

@media (min-width: 576px) {
    .utlz-reset .header-normal-sm {
        font-size: 1.25rem;
    }
}

/*  Define line-heights */
.lh-1 {
    line-height: 1;
}

.lh-normal {
    line-height: normal;
}

/*  Normalizes margins, height, paddings */
.normalize-lh {
    line-height: normal;
}

.normalize-mg {
    margin: 0;
}

.normalize-pd {
    padding: 0;
}

.normalize-text p,
.normalize-text ul {
    margin: 0;
    line-height: 1;
}

/* ================================================  
 * DEFINE DEFAULT LISTS 
 * ================================================ */
/*  Flexlist with keyvalue pair justifying them */

/*  Default icons */
i.uws-icon {
  font-family: uws-icons;
  font-style: normal;
}

i.uws-cart::before {
  content: "\e901";
}

/* ================================================  
 * Default buttons
 * ================================================ */

.button {
    display: inline-block;
    text-align: center;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    transition: background-color .2s, color .2s;
    cursor: pointer;
}

.button > i {
    color: inherit;
    background-color: inherit;
}

.button.small {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

.button.block {
    display: block;
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
}

.button.square {
    width: 35px;
    padding: 0;
}

.button.square-breakout {
    min-width: 35px;
    padding: 0 5px;
}

.button.small.square {
    width: 30px;
    padding: 0;
}

/*  Shoppingcart buttons */
.button.add-to-cart-btn.small {  
  font-size: 20px;
  line-height: 28px;
  width: 40px;
  padding-left: 7px;
}

@media (max-width: 575px) {
  .button.small-mobile {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
  }
}

/* ================================================  
 * Action banners
 * ================================================ */
.action-banner {
  font-weight: 700;
  line-height: 25px;
  width: 120px;
  text-align: center;
  font-size: .75rem;
  transform: rotate(-45deg);
  z-index: 1;
  position: absolute;
  left: -20px;
  top: 0;
  border-style: solid;
  border-width: 25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  height: 0;
}

/* ================================================  
 * DEFINE DEFAULT FORM ELEMENTS
 * ================================================ */

 /*  Checkboxes */
.checkbox-group {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin-bottom: .5rem;
}

.checkbox-group input {
  display: none;
}

.checkbox-group label {
  margin: 0;
  line-height: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  cursor: pointer;
  position: relative;
}

.checkbox-group label::before {
  content: '';
  flex-shrink: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-width: 1px;
  margin-right: 10px;
  border: 1px solid #bbb;
}

.checkbox-group input[type="checkbox"]:checked + label::after {
  position: absolute;
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 12px;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
}

/*  Custom select dropdown */
.custom-select-box {
  cursor: pointer;
  position: relative;
}

.custom-select-box .current {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border: 1px solid #ccc;
}

.custom-select-box .options {
  z-index: 1;
  width: 100%;
  position: absolute;
  box-shadow: 0 5px 5px rgba(0,0,0,.25);
  background-color: #fff;
}

.custom-select-box .option {
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}

.custom-select-box .option:hover {
  background-color: #eee;
}

.custom-select-box .fa-angle-down {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* mobile specific inputs */
@media (max-width: 575px) {
  select.small-mobile {
    height: 30px;
  }
}

@media (max-width: 991px) {
  select.small-tablet {
    height: 30px;
  }
}

/* ================================================  
 * Standard Vue Animations
 * ================================================ */

.slide-fade-enter-active {
  transition: all .5s ease;
}

.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}