*,
*::before,
*::after {
  box-sizing: border-box;
}

.utlz-reset main {
  display: block;
}

/* TEMP */
body {
  margin: 0;
}
/* Solve rem default conflict with bs3 */
html {
  font-size: 16px;
}
/* END TEMP */


/*  Should be body tag, once bootstrap3 and themes are deleted */
.utlz-reset {
  /* margin: 0; */
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.utlz-reset [tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

.utlz-reset .text-link {
  cursor: pointer;
}

/*  Disable number spinners */
.utlz-reset input[type=number]::-webkit-inner-spin-button, 
.utlz-reset input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.utlz-reset input[type=number] {
  -moz-appearance:textfield;
}

.utlz-reset hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

.utlz-reset hr:not([size]) {
  height: 1px;
}

.utlz-reset h1, 
.utlz-reset h2, 
.utlz-reset h3, 
.utlz-reset h4, 
.utlz-reset h5, 
.utlz-reset h6 {
  display: block;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.25;
}

.utlz-reset h1 {
  font-size: 2rem;
}

.utlz-reset h2 {
  font-size: 1.25rem;
}

.utlz-reset h3 {
  font-size: 1rem;
}

.utlz-reset h4 {
  font-size: 1.5rem;
}

.utlz-reset h5 {
  font-size: 1.25rem;
}

.utlz-reset h6 {
  font-size: 1rem;
}

.utlz-reset p {
  font-size: .875rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1rem;
}

.utlz-reset abbr[title],
.utlz-reset abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

.utlz-reset address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

.utlz-reset ol,
.utlz-reset ul {
  padding-left: 0;
}

.utlz-reset ol,
.utlz-reset ul,
.utlz-reset dl {
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
}

.utlz-reset ol ol,
.utlz-reset ul ul,
.utlz-reset ol ul,
.utlz-reset ul ol {
  margin-bottom: 0;
}

.utlz-reset dt {
  font-weight: 700;
}

.utlz-reset dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

.utlz-reset blockquote {
  margin: 0 0 1rem;
}

.utlz-reset b,
.utlz-reset strong {
  font-weight: bolder;
}

.utlz-reset small {
  font-size: 80%;
}

.utlz-reset sub,
.utlz-reset sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

.utlz-reset sub {
  bottom: -.25em;
}

.utlz-reset sup {
  top: -.5em;
}

.utlz-reset a {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

.utlz-reset a:hover {
  text-decoration: underline;
}

.utlz-reset a:not([href]):not([tabindex]):hover, 
.utlz-reset a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
}

.utlz-reset pre,
.utlz-reset code,
.utlz-reset kbd,
.utlz-reset samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

.utlz-reset pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

.utlz-reset figure {
  margin: 0 0 1rem;
}

.utlz-reset img {
  vertical-align: middle;
  border-style: none;
}

.utlz-reset svg {
  overflow: hidden;
  vertical-align: middle;
}

.utlz-reset table {
  border-collapse: collapse;
}

.utlz-reset caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  caption-side: bottom;
}

.utlz-reset th {
  text-align: inherit;
}

.utlz-reset label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.utlz-reset button {
  border-radius: 0;
}

.utlz-reset button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.utlz-reset input,
.utlz-reset button,
.utlz-reset select,
.utlz-reset optgroup,
.utlz-reset textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.utlz-reset button,
.utlz-reset input {
  overflow: visible;
}

.utlz-reset button,
.utlz-reset select {
  text-transform: none;
  height: 35px;
}

.utlz-reset select {
  word-wrap: normal;
}

.utlz-reset input[type="text"],
.utlz-reset input[type="number"] {
  height: 35px;
}

.utlz-reset button,
.utlz-reset [type="button"],
.utlz-reset [type="reset"],
.utlz-reset [type="submit"] {
  -webkit-appearance: button;
}

.utlz-reset button:not(:disabled),
.utlz-reset [type="button"]:not(:disabled),
.utlz-reset [type="reset"]:not(:disabled),
.utlz-reset [type="submit"]:not(:disabled) {
  cursor: pointer;
}

.utlz-reset button::-moz-focus-inner,
.utlz-reset [type="button"]::-moz-focus-inner,
.utlz-reset [type="reset"]::-moz-focus-inner,
.utlz-reset [type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.utlz-reset input[type="radio"],
.utlz-reset input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.utlz-reset input[type="date"],
.utlz-reset input[type="time"],
.utlz-reset input[type="datetime-local"],
.utlz-reset input[type="month"] {
  -webkit-appearance: listbox;
}

.utlz-reset textarea {
  overflow: auto;
  resize: vertical;
}

.utlz-reset fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.utlz-reset legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

.utlz-reset mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.utlz-reset progress {
  vertical-align: baseline;
}

.utlz-reset [type="number"]::-webkit-inner-spin-button,
.utlz-reset [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

.utlz-reset [type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

.utlz-reset [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.utlz-reset ::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

.utlz-reset output {
  display: inline-block;
}

.utlz-reset summary {
  display: list-item;
  cursor: pointer;
}

.utlz-reset template {
  display: none;
}

.utlz-reset [hidden] {
  display: none !important;
}

.utlz-reset .clickthrough,
.utlz-reset .clickthrough:hover {
  color: initial !important;
}
/*# sourceMappingURL=bootstrap-reboot.css.map */