﻿div.uc_pp_categories_menu .panel-width
{
    width: 100%;
}

div.uc_pp_categories_menu .mobile-heading
{
    display: none;
    text-align: center;
}

div.uc_pp_categories_menu ul li ul li a
{
    padding-top: 10px;
    padding-left: 30px
}

div.uc_pp_categories_menu ul li a:hover, div.uc_pp_categories_menu ul li a:focus, div.uc_pp_categories_menu .open ul li a, 
div.uc_pp_categories_menu .open a
{
    text-decoration: none;
    background-color: initial;
}

div.uc_pp_categories_menu ul.inactive
{
    display: none;
}

div.uc_pp_categories_menu .li-width a
{
    padding-left: 0px;
    padding-top: 2px !important;
    padding-bottom: 3px !important;
}

div.uc_pp_categories_menu .li-width
{
    width: 100%;
}

div.uc_pp_categories_menu ul >li > ul > li > ul > li
{
    list-style: none;
    padding-left: 10px;
}

div.uc_pp_categories_menu ul.level3 li a
{
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-menu > li > a
{
    white-space: normal;
}

@media (min-width: 992px)
{
    div.uc_pp_categories_menu
    {
        padding-left: 0;
        padding-right: 0;
    }

    div.uc_pp_categories_menu ul.active
    {
        position: static;
        top: 100%;
        left: 0;
        z-index: 0;
        display: inline;
        float: none;
        min-width: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0px 0 0;
        font-size: 13px;
        list-style: none;
        background-color: #fff;
        border: 0px;
        border-radius: 0px;
        -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175);
        box-shadow: 0 0px 0px rgba(0,0,0,.175);
    }

    div.uc_pp_categories_menu ul li ul li a
    {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    div.uc_pp_categories_menu div.mobile-heading
    {
        display: block !important;
        color: #333;
        width: 100%;
        background-color: #f5f5f5;
        border-color: #ddd;
    }

    div.uc_pp_categories_menu div.panel-borderset
    {
        border-color: #ddd;
    }

    div.uc_pp_categories_menu .li-width ul li a
    {
        padding-left: 15px;
    }
}

@media (max-width: 991px)
{
    div.uc_pp_categories_menu ul li
    {
        font-size: 14px;
        text-align: left;
        padding-top: 9px;
        padding-bottom: 9px;        
    }

    div.uc_pp_categories_menu ul.nav > li {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    div.uc_pp_categories_menu ul.nav > li > a {
        padding-top: 9px!important;
        padding-bottom: 9px!important;
        border-top: none!important;
    }

    div.uc_pp_categories_menu .panel {
        box-shadow: none;
    }

    div.uc_header_v2 .uc_pp_categories_menu {
        margin-left: auto;
        margin-right: auto;
        width: 750px;
    }

    div.uc_header_v2 .uc_pp_categories_menu ul.nav > li > a {
        padding-left: 10px!important;
        padding-right: 10px!important;
    }

    div.uc_header_v3 .uc_pp_categories_menu {
        padding-left: 15px!important;
        padding-right: 8px!important;
        margin-left: -5px!important;
    }

    div.uc_header_v4 .uc_pp_categories_menu ul.nav > li > a {
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
       
    div.uc_pp_categories_menu div.mobile-body 
    {
        padding: 0px;
        border-top: 0px !important;
    }

    div.uc_pp_categories_menu ul.active
    {
        display: none;
    }

    div.uc_pp_categories_menu .open ul.active
    {
        display: inline;
    }

    div.uc_pp_categories_menu .open ul.inactive
    {
        display: inline;
    }
        
    div.uc_pp_categories_menu ul li ul li a
    {
        padding-top: 10px;
        padding-left: 25px;
    }
        
    div.mobile-category .navbar-collapse.collapse
    {
        display: none !important;
    }

    div.mobile-category .navbar-collapse
    {
        padding-right: 0 !important;
    }

    div.mobile-category .navbar-collapse.collapse.in
    {
        display: block !important;
        overflow-y: auto !important;
    }

    div.mobile-category .navbar-collapse ul.navbar-nav{
        width: 100%;
    }

    div.uc_pp_categories_menu .mobile-body ul li a
    {
        padding-left: 10px !important;
    }

    div.uc_pp_categories_menu .mobile-body ul li ul li
    {
        padding-left: 25px !important;
    }

    div.uc_pp_categories_menu .mobile-body ul li ul li a
    {
        padding-left: 0px !important;
    }

    div.uc_pp_categories_menu .mobile-body .dropdown
    {
        padding-left: 0px;
    }

    div.uc_pp_categories_menu .li-width a
    {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    div.uc_pp_categories_menu .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

@media (max-width: 768px) {
    div.uc_header_v4 .uc_pp_categories_menu {
        width: 100vw;
    }
}