﻿div.uc_pp_categories_overview {
}

div.uc_pp_categories_overview .category-item {
    margin-bottom:30px;
}

div.uc_pp_categories_overview .category-item p {
    text-align: center;
    background: grey;
    width: 100%;
}

div.uc_pp_categories_overview .category-item img {
    display: block;
    width: 100%;
}

div.uc_pp_categories_overview .size-3 {
    font-size: 1em;
}
div.uc_pp_categories_overview .size-4 {
    font-size: 1.2em;
}
div.uc_pp_categories_overview .size-6 {
    font-size: 1.6em; font-size: 2.9vw;
}
div.uc_pp_categories_overview .size-12 {
    font-size: 3.2em; font-size:4vw;
}

div.uc_pp_categories_overview .category-name
{
    background-color: rgba(170, 170, 170, 0.5);
    width:calc(100% - 30px);
    position: absolute;
    top:60%;
    bottom:30px;
    left:15px;
    right:0;
    padding: 10px 20px;
}

/* xs devices */

@media (max-width: 991px) {
    div.uc_pp_categories_overview .customclearfix-xs:after {
        content: " ";
        display: table;
        clear: both;
    }

    div.uc_pp_categories_overview .customclearfix-xs:before {
        content: " ";
        display: table;
    }

    div.uc_pp_categories_overview .size-3, div.uc_pp_categories_overview .size-4, div.uc_pp_categories_overview .size-6, div.uc_pp_categories_overview .size-12 {
        font-size: 1.6em !important; font-size: 3.1vw !important;
    }
}