﻿div.uc_payment_logos ul
{
    list-style: none;
    margin: 0;
    padding: 0;

    margin-left: 10px;
}


div.uc_payment_logos ul li
{
    display: inline-block;
}

div.uc_payment_logos h2 {
    word-wrap: break-word;
}