﻿div.uc_customer_product_list {
}

div.uc_customer_product_list .pages span {
    margin-right: 5px;
}

div.uc_customer_product_list h1
{
    display: none;
}

/* link styles */

div.uc_customer_product_list div.pagingwrapper a.hide_me
{
    visibility: hidden;
    display:none;
}
    

div.uc_customer_product_list div.pages li.grid-list-icons i.fa-bars
{
    display: none;
}

.uc_customer_product_list .top-pagination ul.pagination{
    margin:0px !important;
}

.uc_customer_product_list .bottom-pagination ul.pagination{
    margin:10px !important;
}

span.showing_count{
     margin: auto;
    display: table;
}

@media (min-width: 992px)
{
    div.uc_customer_product_list .mobile-clearfix
    {
        display: none;
    }
}

@media (max-width: 991px)
{
    div.uc_customer_product_list > .row > .clearfix
    {
        display: none;
    }
    div.uc_customer_product_list .mobile-clearfix:before
    {
        display:table;
        content: " ";
    }
    div.uc_customer_product_list .mobile-clearfix:after
    {
        clear: both;
        display: table;
        content: " ";
    }

    div.uc_customer_product_list .grid-list-icons
    {
        display: none!important;
    }
}