﻿div.productdetails h1 {
    float: none;
}

div.productdetails .brand-image {
    position:absolute;
    top:0px;
    right:15px;
    border:1px solid #EEE
}

div.productdetails .trustpilot-stars img {
    margin-right:4px;
    width:20px;
    margin-bottom:4px;
}

div.productdetails .trustpilot-review {
    margin-top:10px;
    padding: 10px;
}