﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="uc_product_tabs.ascx.vb" Inherits="uc_product_tabs" %>
<div class="uc_product_tabs">
    <utilize:Pageframe runat="server" ID="pgf_tabs"></utilize:Pageframe>
</div>