﻿@import "/Styles/AdvancedStyles/uc_placeholder.min.css";

/*--------------------------------------
    General resets
--------------------------------------*/
div.productdetails h2 {
    float: none;
}

.uc_product_details_v2 h1,
.uc_product_details_v2 h2,
.uc_product_details_v2 h3,
.uc_product_details_v2 h4 {
    text-transform: none;
}

.uc_product_details_v2 h1,
.uc_product_details_v2 h2,
.uc_product_details_v2 h3,
.uc_product_details_v2 h4,
.uc_product_details_v2 ul,
.uc_product_details_v2 li {
    line-height: 1;
}

.uc_product_details_v2 .shop-product {
    border-bottom: 0;
}

.uc_product_details_v2 .shop-product-heading h4 {
    line-height: 1.2;
}

.uc_product_details_v2 select {
    font-weight: bold;
    transition: all .2s;
    cursor: pointer;
    padding: 6px;
}

.uc_product_details_v2 select:hover {
    background: #eee;
}

.uc_product_details_v2 select:focus {
    background: #eee;
    box-shadow: 0 0px 3px rgba(0,0,0,.3);
}

.uc_product_details_v2 .shop-product .uc_product_information .prod_code {
    display: none;
}

/*--------------------------------------
    Tabs
--------------------------------------*/
.uc_product_details_v2 .tab-content {
    border: 1px solid #ddd;
    padding: 30px;
    background: #f9f9f9;
}

.uc_product_details_v2 .tab-content h2 {
    opacity: .75;
    font-size: 16px;
    margin-bottom: 20px;
}

.uc_product_details_v2 .nav-tabs a {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-weight: bold;
    padding: 12px 30px;
}

.uc_product_details_v2 .nav.nav-tabs {
    margin-bottom: -1px;
}

.uc_product_details_v2 .nav-tabs > li.active a,
.uc_product_details_v2 .nav-tabs > li a:hover,
.uc_product_details_v2 .nav-tabs > li a:focus {
    background: #f9f9f9 !important;
    border-color: #ddd;
    border-bottom-color: transparent;
}

.uc_product_details_v2 .nav-tabs li {
    margin-right: 5px;
}

.uc_product_details_v2 .prod-information-tabs {
    margin-bottom: 40px;
}

@media (max-width: 570px) {
    .uc_product_details_v2 .nav-tabs {
        display: flex;
        flex-flow: row wrap;
        padding: 0;
    }

    .uc_product_details_v2 .nav-tabs > li {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }

    .uc_product_details_v2 .nav-tabs > li > a {
        margin-right: 0;
    }

    .uc_product_details_v2 .nav-tabs > li > a {
        border: 1px solid #bbb;
    }
}

/*--------------------------------------
    Handles product heading
--------------------------------------*/
.uc_product_details_v2 .shop-product-heading {
    border-bottom: none;
    margin-bottom: 12px;
}

.uc_product_details_v2 .shop-product-heading .prod_code {
    margin: 0;
    font-size: 14px;
}

.uc_product_details_v2 .shop-product-heading .prod_code .value {
    opacity: .6;
    font-weight: bold;
}

.uc_product_details_v2 .shop-product-heading h2 {
    margin: 5px 0 8px;
    font-size: 30px;
}

.uc_product_details_v2 .shop-product-heading h4 {
    font-size: 16px;
    opacity: .6;
    margin: 0;
}

.uc_product_details_v2 .prod-desc-container {
    margin-bottom: 10px;
}

/*--------------------------------------
    General weight, free list
--------------------------------------*/
.uc_product_details_v2 .shop-product ul.prod_weight,
.uc_product_details_v2 .shop-product .free_list .list-inline,
.uc_product_details_v2 .shop-product .free_text .list-inline {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: -1px;
    padding: 9px 0;
    margin: -1px 0 0;
    display: flex;
    flex-flow: row nowrap;
}

.uc_product_details_v2 ul.prod_weight {
    margin-top: 0;
}

.uc_product_details_v2 ul.prod_weight li,
.uc_product_details_v2 .free_list li,
.uc_product_details_v2 .free_text li {
    width: 50%;
    text-align: left;
}

/*--------------------------------------
    Handles product prices
--------------------------------------*/
.uc_product_details_v2 .shop-product .uc_product_price {
    margin-bottom: 25px;
}

.uc_product_details_v2 .shop-product-prices {
    text-align: left !important;
}

.uc_product_details_v2 .shop-product-prices {
    font-weight: normal;
}

.uc_product_details_v2 .shop-product-prices .salesaction_to {
    color: inherit !important;
    margin-right: 5px;
}

.uc_product_details_v2 .shop-product-prices .salesaction_for {
    opacity: .7;
    font-size: 20px;
}

/*--------------------------------------
    Handles product groupings
--------------------------------------*/
.uc_product_details_v2 .uc_product_group {
    margin: 15px 0;
}

.uc_product_details_v2 .uc_product_group .row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.uc_product_details_v2 .uc_product_group .allign {
    font-weight: bold;
}

/*--------------------------------------
    Handles project locations
--------------------------------------*/
.uc_product_details_v2 .uc_select_project_location table {
    width: 100%;
}

.uc_product_details_v2 .uc_select_project_location .text {
    width: 33.33333333%;
}

.uc_product_details_v2 .uc_select_project_location tbody {
    margin: 0 -15px;
}

.uc_product_details_v2 .uc_select_project_location .value {
    width: 66.66666667%;
    padding-left: 10px;
}

.uc_product_details_v2 .uc_select_project_location select {
    width: 100%;
}

/*--------------------------------------
    Handles product stock
--------------------------------------*/
.uc_product_details_v2 .uc_product_stock {
    margin-top: 25px;
}

.uc_product_details_v2 .uc_product_stock .stock-totals {
    background: #eee !important;
    border-radius: 20px !important;
    padding: 5px 7px;
    display: inline-block !important;
    font-size: 14px !important;
}

.uc_product_details_v2 .uc_product_stock .text {
    display: none;
}

.uc_product_details_v2 .uc_product_stock .stock-totals .text {
    display: inline-block;
}

.uc_product_details_v2 .uc_product_stock .list-inline {
    margin: -1px 0 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.uc_product_details_v2 .uc_product_stock li {
    text-align: left;
}

.uc_product_details_v2 .uc_product_stock .value {
    display: flex;
    align-items: center;
}

.uc_product_details_v2 .uc_product_stock .value img {
    margin-right: 5px;
}

.uc_product_details_v2 .uc_product_stock .value span {
    order: 1;
    font-weight: bold;
}

/* Handles notification message */
.uc_product_details_v2 .uc_product_stock .btn-text::before {
    content: "\f003";
    font-family: FontAwesome;
    font-size: 16px;
    margin-right: 7px;
}

.uc_product_details_v2 .uc_product_stock .margin-bottom-20 {
    margin-top: 20px;
}

/*--------------------------------------
    Handles order product
--------------------------------------*/
.uc_product_details_v2 .shop-product .uc_order_product {
    margin: 25px 0 30px;
}

.uc_product_details_v2 .shop-product .uc_order_product .product-quantity,
.uc_product_details_v2 .shop-product .uc_order_product .units td:first-child {
    display: flex;
    width: 162px !important;
    justify-content: space-between;
    margin-bottom: 0 !important;
}

.uc_product_details_v2 .shop-product .uc_order_product .normal,
.uc_product_details_v2 .shop-product .uc_order_product .sale_unit {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}
/* Important */
.uc_product_details_v2 .shop-product .uc_order_product div.sale_unit {    
    position: relative;
    flex-flow: column;
}

.uc_product_details_v2 .shop-product .uc_order_product .normal > .inputbutton {
    height: 45px;
}

.uc_product_details_v2 .shop-product .uc_order_product div.sale_unit > .inputbutton {
    position: absolute;
    left: 192px;
    top: 0;
    height: 100%;
}

.uc_product_details_v2 .shop-product .uc_order_product .quantity-button {
    width: 45px !important;
    height: 45px !important;
    background: #dedede;
    color: #2b2b2b;
    font-weight: bold;
    font-size: 25px;
    line-height: normal;
}

.uc_product_details_v2 .shop-product .uc_order_product .quantity-field {
    height: 45px !important;
    width: 70px !important;
    font-weight: bold;
    color: #2b2b2b;
    margin: 0 1px !important;
    border: 1px solid #dedede !important;
}

.uc_product_details_v2 .shop-product .uc_order_product .quantity-button:hover {
    background: #ccc;
}

.uc_product_details_v2 .shop-product .uc_order_product .sale_unit .quantity-multiplier {
    width: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    background: #8593a0;
    color: #fff !important;
    height: 20px !important;
    margin-top: 1px;
}

.uc_product_details_v2 .shop-product .uc_order_product .sale_unit span {
    margin-right: 4px;
}

.uc_product_details_v2 .shop-product .uc_order_product .order_quantity {
    margin-right: 0 !important;
}

/* Specifically handles sale unit type e.g. 5 items in a box*/
.uc_product_details_v2 .uc_order_product .units {
    width: auto;
    margin-right: 30px;
}

.uc_product_details_v2 .uc_order_product .units .quantity-plus {
    margin-left: 0;
}

.uc_product_details_v2 .uc_order_product .units .description {
    text-align: center;
    padding-left: 0;
    margin-top: 5px;
}

.uc_product_details_v2 .uc_order_product .units tr {
    display: flex;
    flex-flow: column;
}

.uc_product_details_v2 .uc_order_product .units-container {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    align-items: flex-end;
}

.uc_product_details_v2 .uc_order_product .units-container .btn-u-sea-shop {
    height: 45px !important;
    margin: 0 0 30px 0;
    width: auto;
}

/* Handles order button icon for uc_order_product
 * with sale_unit, units and normal */
.uc_product_details_v2 .shop-product .uc_order_product .units-container::before,
.uc_product_details_v2 .shop-product .uc_order_product .normal::before,
.uc_product_details_v2 .shop-product .uc_order_product .order > .sale_unit::before {
    content: "\e901";
    position: absolute;
    top: 6px;
    left: 205px;
    font-family: uws-icons;
    font-size: 23px;
    pointer-events: none;
    z-index: 1;
}

.uc_product_details_v2 .uc_order_product .units-container::before {
    top: auto !important;
    bottom: 34px;
}

.uc_product_details_v2 .shop-product .uc_order_product .order > .sale_unit::before {
    top: 14px;
}

/* Only show shoppingcart icon in the order button on mobile */
@media (max-width: 991px) {
    .uc_product_details_v2 .shop-product .uc_order_product .normal > .inputbutton,
    .uc_product_details_v2 .uc_order_product .units-container > .inputbutton {
        text-indent: -9999px;
        width: 60px !important;
    }
    
    .uc_product_details_v2 .shop-product .uc_order_product .sale_unit > .inputbutton {
        text-indent: -9999px;
        width: 80px !important;
    }

    

    .uc_product_details_v2 .shop-product .uc_order_product .normal::before {
        font-size: 28px;
        left: 207px;
        top: 1px;
    }

    .uc_product_details_v2 .shop-product .uc_order_product .order > .sale_unit::before {
        top: 8px;
        left: 214px;
        font-size: 32px;
    }

    .uc_product_details_v2 .shop-product .uc_order_product .units-container::before {
        left: 207px;
        bottom: 30px;
        font-size: 28px;
    }
}


/* Handles scalable order button */
@media (min-width: 992px) {
    .uc_product_details_v2 .shop-product .uc_order_product .normal > .inputbutton,
    .uc_product_details_v2 .shop-product .uc_order_product .sale_unit > .inputbutton,
    .uc_product_details_v2 .uc_order_product .units-container > .inputbutton {
        width: auto !important;
        padding: 0 20px 0 45px;
    }

    .uc_product_details_v2 .shop-product .uc_order_product .product-quantity {
        margin: 0 30px 0 0;
    }
}

/*--------------------------------------
    Handles product matrix groupings
--------------------------------------*/
.uc_product_details_v2 .uc_product_group_matrix {
    float: none;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 30px;
}

.uc_product_details_v2 .uc_product_group_matrix > .row {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}

.uc_product_details_v2 .uc_product_group_matrix .matrix table {
    margin-right: 15px;
}

.uc_product_details_v2 .uc_product_group_matrix .quantity-field {
    margin: 0;
}

.uc_product_details_v2 .uc_product_group_matrix table,
.uc_product_details_v2 .uc_product_group_matrix tr,
.uc_product_details_v2 .uc_product_group_matrix td {
    display: flex;
    align-items: center;
    border: none !important;
}

.uc_product_details_v2 .uc_product_group_matrix tr {
    border-bottom: 1px solid #eee !important;   
}

.uc_product_details_v2 .uc_product_group_matrix tr:last-child {
    border-bottom: none !important;   
}

.uc_product_details_v2 .uc_product_group_matrix td {
    height: 46px !important;
}

.uc_product_details_v2 .uc_product_group_matrix input[disabled="disabled"] {
    display: none;
}

.uc_product_details_v2 .uc_product_group_matrix .quantity-button {
    width: 35px !important;
    height: 35px !important;
    background: #dedede;
}

.uc_product_details_v2 .uc_product_group_matrix .quantity-button:hover {
    background: #ccc;
}

.uc_product_details_v2 .uc_product_group_matrix .quantity-field {
    width: 35px !important;
    border: 1px solid #dedede !important;
    margin: 0 1px;
    height: 35px !important;
}

.uc_product_details_v2 .uc_product_group_matrix td {
    padding: 0 5px;
    min-width: 150px;
    justify-content: center;
    border-right: 1px solid #eee !important;
    height: 45px;
}

.uc_product_details_v2 .uc_product_group_matrix .description-x,
.uc_product_details_v2 .uc_product_group_matrix .description-y {
    font-weight: bold;
}

.uc_product_details_v2 .uc_product_group_matrix .description-y {
    justify-content: flex-start;
    padding-left: 15px;
    background: #fff;
}

.uc_product_details_v2 .uc_product_group_matrix tbody {
    display: flex;
    flex-flow: column;
    border: 1px solid #eee;
    border-right-width: 0;
}

.uc_product_details_v2 .uc_product_group_matrix .matrixheader {     
    background: #fff;
}

.uc_product_details_v2 .uc_product_group_matrix h2 {     
    display: block;
    width: 100%;
    margin-top: 0;
}

.uc_product_details_v2 .uc_product_group_matrix .product_group.row {     
    margin: 0;
}

/* Grouped by grp_val1, order by grp_val2 and vice versa */
.uc_product_details_v2 .product_group {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-top-width: 0;
}

.uc_product_details_v2 .product_group:nth-child(2) {
    border-top-width: 1px;
}

.uc_product_details_v2 .product_group div {
    line-height: 1;
}

.uc_product_details_v2 .product_group .prod_quantity {
    width: auto;
    padding: 0;
    margin-left: auto;
}

.uc_product_details_v2 .product_group br {
    display: none;
}

.uc_product_details_v2 .product_group .grp-val {
    margin-left: auto;
    padding-left: 15px;
}

.uc_product_details_v2 .product_group .product-quantity {
    display: flex;
    flex-flow: row nowrap;
    float: none !important;
}

.uc_product_details_v2 .product_group .prod_code {
    width: auto;
    line-height: 1;
    opacity: .7;
    padding: 0;
    flex-shrink: 0;
}

.uc_product_details_v2 .product_group .prod_price {
    flex-shrink: 0;
}

.uc_product_details_v2 .product_group .prod_desc {
    width: auto;
    font-size: 13px;
    font-weight: bold;
    padding: 0 50px 0 0;
    margin-left: 20px;
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
}

.uc_product_details_v2 .product_group + .btn-u {
    margin-top: 15px;
}

.uc_product_details_v2 .add_to_basket {
    margin-left: auto !important;
}

@media (max-width: 767px) {
    .uc_product_details_v2 .product_group .prod_quantity {
        margin: 10px 0 0 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .uc_product_details_v2 .product_group .prod_quantity {
        position: absolute;
        right: 10px;
        top: 25px;
    }
}

@media (max-width: 991px) {
    .uc_product_details_v2 .product_group {
        flex-flow: column;
        align-items: flex-start;
    }

    .uc_product_details_v2 .product_group .prod_price {
        width: auto;
    }    

    .uc_product_details_v2 .product_group .prod-desc {
        font-size: 14px;
        margin: 5px 0;
    }

    

    .uc_product_details_v2 .product_group .prod_desc,
    .uc_product_details_v2 .product_group .prod_price {
        margin: 0;
        padding: 0;
    }        
}

@media (max-width: 1199px) {
    .uc_product_details_v2 .product_group .prod_desc {
        flex-flow: column;
    }

    .uc_product_details_v2 .product_group .grp-val {
        margin: 5px 0 5px;
        padding: 0;
    }
}


/*--------------------------------------
    Handles volume discount
--------------------------------------*/
.uc_product_details_v2 .uc_volume_discount {
    margin-top: 30px;
}

.uc_product_details_v2 .uc_volume_discount table {
    margin-bottom: 0;
}

.uc_product_details_v2 .uc_volume_discount .amount {
    font-weight: bold;
    padding-left: 0;
}

.uc_product_details_v2 .uc_volume_discount td,
.uc_product_details_v2 .uc_volume_discount th {
    text-align: left !important;
    width: 50%;
}

.uc_product_details_v2 .uc_volume_discount thead tr {
    background: #eee;
    border-top: 1px solid #ddd;
}

.uc_product_details_v2 .uc_volume_discount tbody tr:last-child {
    border-bottom: 1px solid #ddd;
}

@media (max-width: 767px) {
    .uc_product_details_v2 .uc_volume_discount .table-responsive {
        border: none !important;
    }
}

/*--------------------------------------
    Handles favorites and order list
--------------------------------------*/
.uc_product_details_v2 .fav-orderlist-container {
    display: flex;
    flex-flow: row wrap;
}

.uc_product_details_v2 .fav-orderlist-container .row {
    margin: 0 15px 0 0;
    width: auto;
}

.uc_product_details_v2 .fav-orderlist-container .col-md-12 {
    padding: 0;
}

.uc_product_details_v2 .fav-orderlist-container input {
    width: auto;
    height: auto;
    padding:  0 0 0 20px;
    line-height: normal;
    background: none !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.uc_product_details_v2 .uc_product_favorites,
.uc_product_details_v2 .uc_product_order_list {
    margin-top: 10px;
}

.uc_product_details_v2 .uc_product_favorites input,
.uc_product_details_v2 .uc_product_order_list input {
    text-transform: none !important;
}

.uc_product_details_v2 .uc_product_order_list::before,
.uc_product_details_v2 .uc_product_favorites::before {
    position: absolute;
    content: "\f03a";
    font-family: FontAwesome;
    bottom: 0;
    left: 0;
    font-size: 14px;
    line-height: 18px;
}

.uc_product_details_v2 .uc_product_favorites::before {
    content: "\f006";
    font-size: 16px;
}

/*--------------------------------------
    Handles product specifications
--------------------------------------*/
.uc_product_details_v2 .uc_product_specs {
    display: flex;
    flex-flow: row wrap;
}

.uc_product_details_v2 .uc_product_specs h2 {
    width: 100%;
}

.uc_product_details_v2 .uc_product_specs .line {
    width: 100%;
    padding: 6px 10px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.uc_product_details_v2 .uc_product_specs .line:nth-child(2n+1) {
    background: #fff;
}

.uc_product_details_v2 .uc_product_specs .spec_desc {
    font-weight: bold;
}

@media (max-width: 767px) {
    .uc_product_details_v2 .uc_product_specs .spec_desc {
        width: auto;
    }

    .uc_product_details_v2 .uc_product_specs .spec_desc::after {
        content: ":";
    }

    .uc_product_details_v2 .uc_product_specs [class*="-column"],
    .uc_product_details_v2 .uc_product_specs .spec_desc,
    .uc_product_details_v2 .uc_product_specs .spec_value {
        width: 100%;
        line-height: normal;
    }
}

@media (min-width: 768px) {
    .uc_product_details_v2 .uc_product_specs .line {
        flex-flow: row nowrap;
    }

    .uc_product_details_v2 .uc_product_specs .left-column {
        padding-right: 15px;
    }

    .uc_product_details_v2 .uc_product_specs .right-column {
        padding-left: 15px;
    }

    .uc_product_details_v2 .uc_product_specs [class*="-column"],
    .uc_product_details_v2 .uc_product_specs [class*="-column"] .spec_desc,
    .uc_product_details_v2 .uc_product_specs [class*="-column"] .spec_value {
        width: 50%;
    }

    .uc_product_details_v2 .uc_product_specs .spec_desc {
        flex-shrink: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .uc_product_details_v2 .uc_product_specs .spec_desc,
    .uc_product_details_v2 .uc_product_specs .spec_value {
        width: 50%;
    }
}


/*--------------------------------------
    Handles product documents
--------------------------------------*/
.uc_product_details_v2 .uc_product_documents a,
.uc_product_details_v2 .productdocument a {
    background: #fff;
    display: inline-flex;
    flex-flow: row nowrap;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

.uc_product_details_v2 .productdocument a::before,
.uc_product_details_v2 .uc_product_documents a::before {
    content: "\f15b";
    font-family: FontAwesome;
    margin-right: 5px;
}

/*--------------------------------------
    Handles product reviews
--------------------------------------*/
.uc_product_details_v2 .product-comment {
    background: #fff;
}

.uc_product_details_v2 .uc_customer_review textarea {
    min-width: initial;
}

/*--------------------------------------
    Handles project locations
--------------------------------------*/
.uc_product_details_v2 .uc_select_project_location tr {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
    background: #eee;
    align-items: center;
    margin-bottom: 1px;
}

.uc_product_details_v2 .uc_select_project_location .text {
    font-weight: bold;
}

/*--------------------------------------
    Handles customer product codes
--------------------------------------*/
.uc_product_details_v2 .uc_customer_product_codes {
    padding: 10px;
    background: #eee;
}

.uc_product_details_v2 .uc_customer_product_codes .btn-u-sea-shop {
    font-size: 13px;
    padding: 0 20px;
}

/* Handles the opening and closing of the 
 * product description functionality */
.shop-product .read-more-container p {
    margin: 0;
}

.shop-product .read-more-container > * {
    font-size: 14px;
}

.shop-product .product-desc-container {
    margin-bottom: 25px;
}

.shop-product .read-more-container.expandable {
    overflow: hidden;
    max-height: 88px;
}

.shop-product .read-more-container.open {
    height: auto !important;
    max-height: 10000px;
}

.shop-product .read-more-btn {
    display: block;
    z-index: 1;
}

.shop-product .read-more-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 0;
}

.shop-product .read-more-btns-container::before {
    content: "";
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    height: 50px;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 15px;
    left: 0;
}

.shop-product .read-more-btns-container a {
    display: inline-flex;
    font-weight: bold;
    align-items: center;
    background: #fff;
    border: 1px solid #ddd;
    height: 30px;
    padding: 0 15px;
    cursor: pointer;
}

.shop-product .read-more-btns-container:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    border-top: 1px solid #ccc;
    left: 0;
}

.shop-product .read-more-btns-container a:after {
    font-family: FontAwesome;
    content: "\f0d7";
    margin-left: 5px;
}

.shop-product .read-more-btns-container .read-less-btn {
    z-index: 1;
}

.shop-product .read-more-btns-container .read-less-btn a:after {
    font-family: FontAwesome;
    content: "\f0d8";
    margin-left: 5px;
}

.shop-product .read-more-container.expandable.open + .read-more-btns-container::before {
    display: none;
}

.shop-product .read-more-container.expandable.open + .read-more-btns-container > .read-more-btn {
    display: none !important;
}

.shop-product .read-more-container.expandable.closed + .read-more-btns-container > .read-less-btn {
    display: none !important;
}
/* End opening and closing functionality */