﻿div.uc_product_tabs
{
    margin-top: 20px;
}

div.pageframe_buttons
{
    display: inline-block;
	padding-left: 0px;
	position: relative;
	z-index: 100;
    width: 100%;
    border-bottom-width: 1px;
}

div.pageframe_pages
{
}

div.pageframe_page
{
}

div.pageframe_buttons input.page_button_active
{
    margin-right: 5px;
}


div.pageframe_buttons input.page_button
{
    margin-right: 5px;
}
