<template>
  <div class="cmp-product-list-item utlz-col-sm-4" :class="'utlz-col-lg-' + blockSize">
    <div class="utlz-row utlz-no-gutters utlz-gutters-sm item-wrapper">
      <span v-if="isSalesAction" v-translation="{ type: 'label', code: 'label_sales_action' }" class="action-banner"></span>
      <div class="utlz-col-3 utlz-col-sm-12 img-container">
          <figure class="img-square prod-img">
            <a @click="navigateToProductPage()" class="clickthrough">
              <img class="img-fluid" :src="product.imageUrl ? product.imageUrl : '/documents/productimages/not-available-large.jpg'" />
            </a>
          </figure>
      </div>

      <div class="utlz-col-9 utlz-col-sm-12 text-container">
        <a @click="navigateToProductPage()" class="clickthrough">
          <div class="product-code">
            <span class="value">{{ product.id }}</span>
          </div>
          <h2 class="prod-title header-small header-normal-sm">{{ product.shortDescription }}</h2>
        </a>

        <div class="ph-product-price">
          <utlz-product-price
            v-if="showPrices && product.prices.length <= 1"
            :prices="product.prices[0]"
            :parentClassRef="'ref-product-list-item'"
          ></utlz-product-price>
        </div>

        <utlz-order-product
          v-if="showOrderProduct"
          :product="product"
          :parentClassRef="'ref-product-list-item'">
        </utlz-order-product>

        <utlz-product-stock v-if="showStock" :stock="product.stock" :stockType="1" :stockTotal="product.stock"></utlz-product-stock>
      </div>

    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { Product } from 'src/models/product.model';
import OrderProduct from 'src/components/webshop/order-product/OrderProduct.vue';
import ProductStock from 'src/components/webshop/product-stock/ProductStock.vue';
import ProductPrice from 'src/components/webshop/product-price/ProductPrice.vue';
export default {
  components: {
    'utlz-product-price': ProductPrice,
    'utlz-product-stock': ProductStock,
    'utlz-order-product': OrderProduct
  },
  props: {
    product: { type: Product, required: true },
    blockSize: { type: Number, required: false, default: 3 }
  },
  data () {
    return {
      isSalesAction: this.product.prices[0].isSalesAction
    };
  },
  computed: {
    ...mapGetters(['showStock', 'showPrices', 'showOrderProduct'])
  },
  methods: {
    navigateToProductPage () {
      this.$emit('navigateToProductPage', this.product.targetUrl);
    }
  }
};
</script>

<style>
</style>
