﻿div.uc_payment_request .check input[type=checkbox]
{
    display: inline;
    margin-left: 0px;
}

div.uc_payment_request .buttons
{
    text-align: right;
    display: inline;
}

div.paymenttypes table tr td input[type=radio]
{
    margin-left: 5px!important;
    margin-right: 5px!important;
    margin-top: 10px;
}

span.checkbox.check label
{
    display: inline;
    padding-left: 0px;
}

div.paymenttypes table tr td
{
    vertical-align: middle;
    padding-left: 10px;
}

.modal {
    position: sticky;
    left: 40%;
    top: 40%;
}

    .modal p, .modal i {
        color: white !important;
    }
