﻿div.uc_form_block span.optiongroup input[type="radio"] {
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 10px;
    -webkit-appearance:radio;
}

div.uc_form_block span.check-box input[type="checkbox"] {
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 10px;
    -webkit-appearance:checkbox;
}

div.uc_form_block span.check-box > label {
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
    display: inline-block;
}

div.uc_form_block span.optiongroup > label {
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
    display: inline-block;
}

div.uc_form_block div.buttons
{
    margin-top: 20px;
    padding-left: 30px;
}

div.uc_form_block input[type="text"] {
    width: 100%!important;
}

div.uc_form_block textarea {
    padding-top: 0px;
    padding-bottom: 0px;
    display: table-cell!important;
}

div.uc_form_block .fieldcontrol_txtarea {
    border: 1px solid #ccc;
}

div.uc_form_block .fieldcontrol_txtarea .input-group-addon {
    border: none;
    border-left: 1px solid #ccc;        
}

div.uc_form_block .alert.alert-danger{
    margin-top: 15px;
}

div.uc_form_block select {
    width: 100%!important;
}

div.uc_form_block .error {
    border-color: red !important;
}

div.uc_form_block .fieldcontrol_txtarea .error {
    border: red 1px solid !important;
}