﻿div.uc_pp_products_overview {
}

div.uc_pp_products_overview .pages span {
    margin-right: 5px;
}

div.uc_pp_products_overview h1
{
    display: none;
}

/* link styles */

div.uc_pp_products_overview div.pagingwrapper a.hide_me
{
    visibility: hidden;
    display:none;
}
    

div.uc_pp_products_overview div.pages li.grid-list-icons i.fa-bars
{
    display: none;
}

.uc_pp_products_overview .top-pagination ul.pagination{
    margin:0px !important;
}

.uc_pp_products_overview .bottom-pagination ul.pagination{
    margin:10px !important;
}

span.showing_count{
     margin: auto;
    display: table;
}

@media (min-width: 992px)
{
    div.uc_pp_products_overview .mobile-clearfix
    {
        display: none;
    }
}

@media (max-width: 991px)
{
    div.uc_pp_products_overview > .row > .clearfix
    {
        display: none;
    }
    div.uc_pp_products_overview .mobile-clearfix:before
    {
        display:table;
        content: " ";
    }
    div.uc_pp_products_overview .mobile-clearfix:after
    {
        clear: both;
        display: table;
        content: " ";
    }

    div.uc_pp_products_overview .grid-list-icons
    {
        display: none!important;
    }
}