﻿/* TEMPORARY! */
div.uc_product_row .img-responsive {
    width: 100%;
}

div.uc_product_row .rgba-banner
{
   left: 1px;
   right: auto;
}

div.table-view
{
    display: none;
}


div.uc_product_table .table-view
{
    width: 100%;
    display: inline-block;
    border: 1px solid #C1BDBD;
}
div.uc_product_table .item-code-table
{
    display: inline-block;
    vertical-align: top;
}

div.uc_product_table .item-code-table .uc_product_information *
{
    display: none;
}

div.uc_product_table .item-code-table .prod_code,
div.uc_product_table .item-code-table .prod_code .prod_code,
div.uc_product_table .item-code-table .prod_code .prod_code .value
{
    display: block;
}

div.uc_product_table .item-desc1-table
{
    display: inline-block;
    vertical-align: top;
}
div.uc_product_table .item-desc2-table
{
    display: inline-block;
    vertical-align: top;
}
div.uc_product_table .item-price-table
{
    display: inline-block;
    vertical-align: top;
}

div.uc_product_table .item-price-table .uc_product_information *,
div.uc_product_table .item-price-table .uc_product_information .prod_price .original
{
    display: none;
}
div.uc_product_table .item-price-table .uc_product_information .prod_price,
div.uc_product_table .item-price-table .uc_product_information .prod_price *
{
    display: block;
}

div.uc_product_table .item-comm-short-table
{
    vertical-align: top;
    display: inline-block;
    min-height: 40px;
}

div.uc_product_table .item-order-product-table
{
    vertical-align: top;
    display: inline-block;
}

div.uc_product_table .item-code-table.col-xs-2
{
    width: 33.333333%;
}

@media (max-width: 1200px)
{
    div.uc_product_table .item-order-product-table
    {

        vertical-align: top;
        display: inline-block;
    }

    div.uc_product_table .item-comm-short-table
    {
        vertical-align: top;
        display: inline-block;
    }

    div.uc_product_table .item-desc1-table
    {
        display: inline-block;
        vertical-align: top;
    }
    div.uc_product_table .item-desc2-table
    {
        display: inline-block;
        vertical-align: top;
    }
    div.uc_product_table .item-price-table
    {
        display: inline-block;
        vertical-align: top;
    }
    div.uc_product_table .item-code-table
    {
        display: inline-block;
        vertical-align: top;
    }
}

/*kan niet achterhalen waarvoor deze code gebruikt wordt*/
@media (min-height: 991px)
{
    div.uc_product_table .item-code-table.col-md-2
    {
        width: 12%;
    }
    div.uc_product_table .item-order-product-table.col-md-2
    {
        width: 20.6%;
    }
}