﻿.uc_pp_freetext_filter h2
{
    border-bottom: 0px;
    display: inline-block;
}
.uc_pp_freetext_filter h2::after
{
    display: none;
}

div.uc_pp_freetext_filter span.check-box input[type="checkbox"] {
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 10px;
    -webkit-appearance: checkbox;
}

div.uc_pp_freetext_filter span.check-box > label {
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
    display: inline-block;
}

div.uc_pp_freetext_filter .fieldcontrol
{
    display: block;
    float: left;
    width: 100%;
}


/* Type specifieke styling */
div.uc_pp_freetext_filter div.filterlist-dropdown
{
}

div.uc_pp_freetext_filter div.filterlist-dropdown h1
{
    display: none;
}

div.uc_pp_freetext_filter div.filterlist-dropdown h2.panel-title
{
    line-height: normal;
    font-size: 14px;
}

div.uc_pp_freetext_filter div.filterlist-dropdown span.panel-title
{
    line-height: normal;
    font-size: 14px;
}

div.uc_pp_freetext_filter div.filterlist-dropdown .panel-group h2 i
{
    display: none;
}

div.uc_pp_freetext_filter div.filterlist-dropdown .panel-group h2 a
{
    padding-top: 10px;
    padding-bottom: 5px;

    padding-left: 20px;

    font-size: 10px;
    border-bottom: 0px;
}

div.uc_pp_freetext_filter div.filterlist-dropdown .panel-body
{
    padding-top: 5px;
}

div.uc_pp_freetext_filter div.filterlist-checkbox
{
}
