﻿body {
    background-color: #F1F1F1;
    

    /* Fix to not show the elements under the navigation bar */
    padding-top: 60px; 
}

*
{
    font-family: verdana!important;
}

.bootstrap-table .fixed-table-container {
    border: none;
}

/* Don't show the First/Last button in the pagination */
.pagination-detail, .pagination .page-first, .pagination .page-last {
    display:none;
}

/* Make link look same as design */
table a {
    text-decoration: underline;
    color: black;
}

/* Make link look same as design for contact email */
table .contact {
    color: #2478C1;
}
/* Set the text color of the delay column in the orders */
.delay {
    color: #D7534E;
}

/* Set the text color of the no delay column in the orders */
.no-delay {
    color: #ACACAC;
}

/* Styling of Header 3 text */
h3 {
    font-weight: bold;
}

/* Round buttons, eg. the back button */
.btn-round {
    border-radius: 24px;
    color: #337ab7;
}

/* Oh snap! text in order rejection alert */
.alert-order-rejection .alert-snap {
    color: #BA4A49;
}

.alert-order-rejection span {
    font-weight:bold;
}

.information .row {
    padding:5px;
}

.information .row:last-child {
    padding-bottom: 0px;
}

.information .add-padding {
    padding-bottom: 50px;
}

.nav-tabs {
    border-bottom: none;
}

div.pager_previous
{
    margin-top: 10px;
}

div.pager_previous a,
div.pager_next a,
div.pager_numbers a
{
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.4285;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 1px;

}

div.pager_numbers
{
    margin-top: 10px;
}

div.pager_next
{
    margin-top: 10px;
}

div.add-padding {
    padding: 0px 10vw 0px 5vw;
}

h3.add-padding {
    padding-bottom:5px;
}

div.header {
    margin-top:20px;
}

.bootstrap-table .table {
    width: 99%;
}

.footer-show-only {
    float:right;
    margin-top: 10px;
}

.footer-show-only .btn {
    font-weight:bold;
}

.footer-show-only .active {
     background-color:#999999;
     color:white;
}

div.bootstrap-table div.fixed-table-container div.fixed-table-body {
    overflow:visible;
}

/* Select box valt achter een andere select box */
div.header div.filter div.put-in-front {
    z-index:100;
}

span.internal-status {
    color:red;
    font-weight:bold;
    position: absolute;
    bottom: 0px;
    font-size: x-small;
}

div.alert-order-rejection {
    margin-bottom:0px;
}

.margin-bottom-5  { margin-bottom:5px;}
.margin-bottom-10 { margin-bottom:10px;} 
.margin-bottom-15 { margin-bottom:15px;}
.margin-bottom-20 { margin-bottom:20px;}
.margin-bottom-25 { margin-bottom:25px;}
.margin-bottom-30 { margin-bottom:30px;}
.margin-bottom-35 { margin-bottom:35px;}
.margin-bottom-40 { margin-bottom:40px;}
.margin-bottom-45 { margin-bottom:45px;}
.margin-bottom-50 { margin-bottom:50px;}
.margin-bottom-55 { margin-bottom:55px;}
.margin-bottom-60 { margin-bottom:60px;}

.fixed-table-loading
{
    display: none;
}


input[type=radio]
{
    margin-left: 0px !important;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 10px;

    position: static;

    width: 20px;
    height: 20px;


    -webkit-appearance:radio;
}
.radio label
{
    margin-right: 10px;
    padding-left: 0px;
}


/* Change block layout */
div.utlz_change_block
{
    display: block;
    position: absolute; 
    width: 25px;
    height: 25px;

    overflow: hidden;

    padding-left: 0px; 
    padding-right: 0px; 
    padding-top: 0px;
    padding-bottom: 0px; 
    z-index: 21; 
}

div.utlz_change_block a {
    display: block !important;
    width: 25px;
    height: 25px;
    text-indent: 25px;
    background-image: url('../../DefaultImages/change_button.png');
    background-color: transparent;
    margin: 0 !important;
    padding: 0 !important;
}

/* Maak de modal windows responsive */
.modal-content
{
    width: 100%!important;
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.fixed-table-container table.table-hover tbody tr {
    cursor: pointer;
}

.fa {
    font-family: FontAwesome!important;
}