﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="uc_banner_block.ascx.vb" Inherits="uc_banner_block" %>
<utilize:panel ID="pan_banner" CssClass="uc_banner_block" runat="server">
    <utilize:placeholder runat="server" ID="pnl_banners">

   </utilize:placeholder>
</utilize:panel>