﻿div.uc_banner_block .revolution-mch-1:after {
    background: initial;
    background-color: transparent;
}

div.uc_banner_block .banner_w_t b
{
    font-size: 32px;
}

div.uc_banner_block .banner_w_t i
{
    font-size: 20px;
}

div.uc_banner_block
{
    margin-bottom: 20px;
}

div.uc_banner_block img
{
    margin-left: auto;
    margin-right: auto;
}

div.uc_banner_block .carousel-fade .carousel-inner .item {
    transition-property: opacity;
}
        
div.uc_banner_block .carousel-fade .carousel-inner .item,
div.uc_banner_block .carousel-fade .carousel-inner .active.left,
div.uc_banner_block .carousel-fade .carousel-inner .active.right {
    opacity: 0;
}

div.uc_banner_block .carousel-fade .carousel-inner .active,
div.uc_banner_block .carousel-fade .carousel-inner .next.left,
div.uc_banner_block .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

div.uc_banner_block .carousel-fade .carousel-inner .next,
div.uc_banner_block .carousel-fade .carousel-inner .prev,
div.uc_banner_block .carousel-fade .carousel-inner .active.left,
div.uc_banner_block .carousel-fade .carousel-inner .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

div.uc_banner_block .carousel-fade .carousel-control {
    z-index: 2;
}

.carousel-indicators li {
    border-radius: 10px!important;
}

div.uc_banner_block {
    position: relative;
}

div.uc_banner_block {
    position: relative;
}

div.uc_banner_block .banner_block_hover {
    position: absolute;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0.5s linear; /* For Safari 3.1 to 6.0 */
    transition: visibility 0s, opacity 0.5s linear;        
}

div.uc_banner_block .banner_block_hover.show_always div.banner_block_hover_inner,
div.uc_banner_block .banner_block_hover.show_always div.banner_block_hover_inner div{
    display: block;
}

div.uc_banner_block .banner_block_hover.show_always > div > div > *{
    display: inline-block;        
}

div.uc_banner_block .banner_block_hover.show_always h2 {
    margin-top: 10px;
}

div.uc_banner_block .banner_block_hover.show_always{
    visibility: visible;
    opacity: 1;        
}

div.uc_banner_block .banner_block_hover .banner_block_hover_inner {
    border: 1px solid;    
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    position: relative;
}

div.uc_banner_block .banner_block_hover .banner_block_hover_inner .banner_button {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;        
}

div.uc_banner_block .item .banner_block_hover .banner_block_hover_inner .banner_button {
    bottom: 40px;    
}

div.uc_banner_block h2{
    display: none;
}

div.hover_effect:hover .banner_block_hover h2
{
    margin-top: 10px;
    display: inline-block;
}

div.hover_effect:hover .banner_block_hover p
{
    margin-top: 0px;
    margin-bottom: 20px;
}

div.uc_banner_block .banner_block_hover p
{
    margin-bottom: 5px!important;
}

div.hover_effect:hover .banner_block_hover .banner_button a:hover
{
    background-color: white;
}

div.uc_banner_block .banner_block_hover.banner_static {
    width: calc(100% - 30px);        
}

div.uc_banner_block.banner_background .banner_block_hover.banner_static {
    width: 100%;        
}

div.hover_effect .background_opacity_div {
    visibility: hidden;
    opacity: 0;
}

div.hover_effect:hover .banner_block_hover,
div.hover_effect:hover .background_opacity_div {
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0s, opacity 0.5s linear; /* For Safari 3.1 to 6.0 */
    transition: visibility 0s, opacity 0.5s linear;     
}

div.uc_banner_block .banner_block_hover *{
    display: none;
}

div.hover_effect:hover .banner_block_hover *{
    display: block;
}

div.hover_effect:hover .banner_block_hover * a{
    display: inline-block;
}

div.uc_banner_block .banner_block_hover
{
    text-align: center;
}

div.uc_banner_block .banner_block_hover .banner_button
{
    bottom: 30px;
}

div.uc_banner_block .banner_title h2 {
    border-bottom: 1px solid white;
}

div.uc_banner_block img.hidden-all {
    visibility: hidden;
}

div.uc_banner_block.banner_background{
    padding-left: 0;
    padding-right: 0;
}

div.uc_banner_block.no-padding {
    padding:0px;
}

div.uc_banner_block > .row > .banner_background.hover_effect,
div.uc_banner_block > .row > a > .banner_background.hover_effect {
    padding: 0px;
}
div.uc_banner_block > .row > a > .banner_background.hover_effect .banner_block_hover.banner_static,
div.uc_banner_block > .row > .banner_background.hover_effect .banner_block_hover.banner_static {
    width: 100%;    
}

div.uc_banner_block .banner_block_hover img {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}

div.uc_banner_block .banner_block_hover .banner_block_hover_inner {
    z-index: 2;
}

div.uc_banner_block .background_opacity_div_static {
    width: calc(100% - 30px);
    position: absolute;        
    height: 100%;
    z-index: 1;
}
div.uc_banner_block .background_opacity_div{
    position: absolute;
    width: 100%;        
    height: 100%;
    z-index: 1;
}

div.uc_banner_block .banner_block_hover .background_hover_image_div,
div.uc_banner_block.hover_effect .background_hover_image_div
 {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    opacity: 0;
}

div.uc_banner_block .banner_block_hover:hover .background_hover_image_div,
div.uc_banner_block.hover_effect:hover .background_hover_image_div
{
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0s, opacity 0.5s linear; /* For Safari 3.1 to 6.0 */
    transition: visibility 0s, opacity 0.5s linear;     
}

div.uc_banner_block .banner_block_hover.random_banner,
div.uc_banner_block .background_opacity_div.random_banner {
    width: calc(100% - 30px);
}

@media (max-width: 992px) {
    div.uc_banner_block > .row > .banner_background {
        margin-bottom: 10px!important;
    }    
}

@media(max-width: 768px) {
    div.uc_banner_block .banner_title h2 {
        font-size: 12px;
    }

    div.uc_banner_block .banner_subtitle p {
        font-size: 10px;
    }
}


/* These styles handle all advanced styles that are set through CMS settings */
/* Default corrections */
.uc_banner_block.advanced {
    margin-bottom: 30px;
}

/* Correction for full width banners under the  
 * header where parent row is set as full width */
.row-breakout.block_breakout .uc_banner_block.advanced {
    padding: 0;
}

/* Turns off arrow controls */
.uc_banner_block.advanced.hide-arrow-controls .carousel-control {
    display: none;
}

.uc_banner_block.advanced .carousel-control {
    pointer-events: none;
    z-index: 10; /* Fixes IE bug */
}

.uc_banner_block.advanced .glyphicon-chevron-left,
.uc_banner_block.advanced .glyphicon-chevron-right {
    height: auto;
    margin: 0 !important;
    transform: translateY(-50%);
    pointer-events: auto;
}

.uc_banner_block.advanced .glyphicon-chevron-left {
    left: 0;
}

.uc_banner_block.advanced .glyphicon-chevron-right {
    right: 0;
}

.uc_banner_block.advanced .glyphicon-chevron-left::before,
.uc_banner_block.advanced .glyphicon-chevron-right::before {
    content: "\f104";
    font-family: FontAwesome;
    font-size: 50px !important;
}

.uc_banner_block.advanced .glyphicon-chevron-right::before {
    content: "\f105";
}

.uc_banner_block.advanced .banner_title h2 {
    border-bottom: none !important;
    margin: 0 !important;
    line-height: 1;
}

.uc_banner_block.advanced .banner_button {
    position: static !important;
}

.uc_banner_block.advanced .banner_block_hover_inner {
    border: none !important;    
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;    
}

.uc_banner_block.advanced .carousel-indicators li {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

/* Creates larger caroussel indicators on big screens */
@media (min-width: 501px) {
    .uc_banner_block.advanced .carousel-indicators li {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    .uc_banner_block.advanced .carousel-indicators li:last-child {
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .uc_banner_block.advanced h2 {
        font-size: 4.5vw !important;
    }

    .uc_banner_block.advanced p {
        font-size: 2vw !important;
    }
}

@media (max-width: 500px) {
    .uc_banner_block.advanced img {
        min-height: 200px;
        height: 200px;
        width: auto;
    }

    .uc_banner_block.advanced p {
        font-size: 3.5vw !important;
    }

    .uc_banner_block.advanced h2 {
        text-align: center !important;
    }

    .uc_banner_block.advanced .banner_button_link {
        font-size: 3vw !important;
        padding: 3px 10px !important;
        line-height: normal !important;
        height: auto;
    }

    .uc_banner_block.advanced .carousel-indicators {
        bottom: -10px !important;
    }

    .uc_banner_block.advanced .carousel-indicators .active {
        height: 10px;
        width: 10px;
    }
}

@media (min-width: 768px) {
    .uc_banner_block.advanced .banner_title {
        margin: 10px 0;
    }

    .uc_banner_block.advanced .banner_subtitle {
        margin: 0 0 15px;
    }
}

/* Handles the alignment of text in carousel banners */
.uc_banner_block.advanced .banner_block_hover_inner {
    display: flex !important;
    flex-flow: column;
    justify-content: center;
    padding: 15px 30px 30px;
    height: 100%;
}

.uc_banner_block.advanced .banner_block_hover_inner .banner_title,
.uc_banner_block.advanced .banner_block_hover_inner .banner_subtitle {
    width: 100%;
}

/* Aligns text center center */
.uc_banner_block.advanced .banner_block_hover.align-center-center {
    align-items: center;
}

.uc_banner_block.advanced .banner_block_hover.align-center-center p {
    text-align: center;
}

/* Aligns text left center */
.uc_banner_block.advanced .banner_block_hover {
    display: flex !important;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
}

.uc_banner_block.advanced .banner_block_hover.align-left-center {
    justify-content: flex-start;
}

.uc_banner_block.advanced .banner_block_hover.align-left-center .banner_block_hover_inner {    
    width: 33.3333% !important;
    align-items: flex-start;
    padding: 30px;   
}

.uc_banner_block.advanced .banner_block_hover.align-left-center h2,
.uc_banner_block.advanced .banner_block_hover.align-left-center p {
    text-align: left;
}

@media (max-width: 500px) {
    .uc_banner_block.advanced .banner_block_hover.align-left-center .banner_block_hover_inner {
        width: 100% !important;
        align-items: center;
    }

    .uc_banner_block.advanced .banner_subtitle p {
        text-align: center !important;
    }
}

@media (min-width: 501px) and (max-width: 767px) {
    .uc_banner_block.advanced .banner_block_hover.align-left-center .banner_block_hover_inner {
        width: 50% !important;
        padding: 15px;
    }
}

/* Aligns text center right */
.uc_banner_block.advanced .banner_block_hover.align-right-center {
    justify-content: flex-end;    
}

.uc_banner_block.advanced .banner_block_hover.align-right-center .banner_block_hover_inner {
    align-items: flex-start;
    width: 33.33333% !important;
    padding: 30px;
}

.uc_banner_block.advanced .banner_block_hover.align-right-center h2,
.uc_banner_block.advanced .banner_block_hover.align-right-center p {
    text-align: left;
}

@media (max-width: 500px) {
    .uc_banner_block.advanced .banner_block_hover.align-right-center .banner_block_hover_inner {
        width: 100% !important;
        padding: 15px;
        align-items: center;
    }
}

@media (min-width: 501px) and (max-width: 767px) {
    .uc_banner_block.advanced .banner_block_hover.align-right-center .banner_block_hover_inner {
        width: 50% !important;
        padding: 15px;
    }
}

/* These fixes guarantee better responsive adaptation
 * for smaller block width settings in the CMS */
@media (min-width: 501px) and (max-width: 1199px) {
    .uc_banner_block.advanced.col-md-6 .banner_block_hover.align-left-center .banner_block_hover_inner,
    .uc_banner_block.advanced.col-md-6 .banner_block_hover.align-right-center .banner_block_hover_inner, 
    .uc_banner_block.advanced.col-md-9 .banner_block_hover.align-left-center .banner_block_hover_inner,
    .uc_banner_block.advanced.col-md-9 .banner_block_hover.align-right-center .banner_block_hover_inner {
        align-items: flex-start;
        width: 50% !important;
        padding: 30px;
    }
}

@media (max-width: 991px) {
    .uc_banner_block .static-banner {
        margin-bottom: 20px;
    }
}