﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="uc_custom_banner.ascx.vb" Inherits="CMS_Modules_Banners_uc_custom_banner" %>

<utilize:placeholder runat="server" ID="ph_custom_banner">

    <div class="uc_custom_banner">
    </div>

</utilize:placeholder>
