﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="OgoneTest.aspx.vb" Inherits="ogone_test" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <utilize:literal runat="server" ID="lt_string"></utilize:literal><br />
        <utilize:literal runat="server" ID="lt_hash"></utilize:literal>
    </div>
    </form>
</body>
</html>
