﻿div.uc_header_v4 .uc_content_search_v4 span.searchtype
{
    background-color: transparent;
}

div.uc_header_v4 .uc_content_search_v4 .input-group-addon
{
    border: 0px;
}

div.uc_header_v4 .uc_content_search_v4 span.searchtype label,
div.uc_header_v4 .uc_content_search_v4 span.searchtype input
{
    display: inline-block;
    vertical-align: middle;
}
    

div.uc_header_v4 .uc_content_search_v4 span.searchtype label {
    margin-top: -5px;
    margin-right:5px;
}


div.uc_header_v4 .uc_content_search_v4 .searchbutton
{
    line-height: 0px;
}

@media (min-width: 992px)
{
    .show_search_box .uc_content_search_v4 .col-md-12
    {
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 991px)
{
    div.uc_header_v4 .uc_content_search_v4
    {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: -15px;
        margin-right: -15px;
    }
}