﻿@media (min-width: 1200px){
    .show_search_box .uc_content_search_v3{
        transform:translate(-27%)!important;
    }
}

@media (min-width: 992px) {
    .show_search_box .uc_content_search_v3 {
        transform:translate(-35%);
    }

    .show_search_box .uc_content_search_v3 .col-md-12{
        margin:0;
        padding:0;
        border-right:1px solid #e4e4e4;
        border-left:1px solid #e4e4e4;
        border-bottom:1px solid #e4e4e4;
        max-height:45px!important;
    }

    show_search_box .uc_content_search_v3 .col-md-12 .input {
        margin-top:7px;
    }
    
    div.uc_header_v3 .uc_content_search_v3 h2 {
        display: none;
    }

    .show_search_box .uc_content_search_v3 .col-md-12 .input-group {
       max-height:45px;
       padding:5px;
    }

    div.show_search_box .uc_content_search_v3 .col-md-12 .input-group input.inputbutton {
        line-height:0;
    }

    div.uc_header_v3 .uc_content_search_v3 .inputbutton {
        height: 34px!important;
    }

    div.uc_header_v3 .uc_content_search_v3 span.searchtype {
        padding: 6px 10px;
    }

    div.uc_header_v3 .uc_content_search_v3 span.searchtype input {
        margin-top:5px;
        margin-bottom:0;
    }

    div.uc_header_v3 .uc_content_search_v3 span.searchtype label {
       transform:translate(0, -35%);
       margin-right:5px;
    }
}

@media (max-width: 991px)
{
    uc_header_v3 #search_button
    {
        padding-top: 12px!important;
    }

    div.uc_header_v3 .uc_content_search_v3 .col-md-12 {
        margin-bottom:0;
        padding-left: 0;
    }

    div.uc_header_v3 .uc_content_search_v3 span.searchtype {
        padding-left:0;
        text-align:left;
    }

    div.uc_header_v3 .uc_content_search_v3 span.searchtype input {
        margin-top:5px;
        margin-bottom:0;
    }

    div.uc_header_v3 .uc_content_search_v3 span.searchtype label {
       transform:translate(0, -35%);
       margin-right:5px;
    }

    div.uc_header_v3 .mobile_search{
        padding-left:10px;
    }

    div.uc_header_v3 .mobile_search .uc_content_search_v3 input.inputbutton{
        height:34px;
    }
}