﻿.uc_content_search_v6 {
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.uc_content_search_v6 input {
    height: 42px;
}

.uc_content_search_v6 input[type="submit"] {
    opacity: 0;
    position: absolute;    
    width: 42px;
    right: 0;
}

.uc_content_search_v6 i {
    position: absolute;
    pointer-events: none;
    right: 30px;
    top: 4px;
    color: #ab102a;
}

.uc_content_search_v6 i::before {
    font-style: normal;
    position: absolute;
    font-size: 22px;
    font-family: uws-icons;
    content: "\e900";
}


@media (min-width: 992px) {
    .uc_content_search_v6 {
        width: 550px;
    }
}

/* Styles for "search in website and webshop" cms setting */
.uc_content_search_v6 div:first-child {
    order: 3;
    padding: 5px 0;
    width: 100%;
}

.uc_content_search_v6 div:first-child span.searchtype {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.uc_content_search_v6 div:first-child span.searchtype input,
.uc_content_search_v6 div:first-child span.searchtype label {
    margin: 0;
    line-height: normal;
    height: auto;
}

.uc_content_search_v6 div:first-child span.searchtype label {
    margin-right: 20px;
}

.uc_content_search_v6 div:first-child span {
    border: none;
}
/* End "search in website and webshop" setting */
