﻿div.uc_content_search_v2 h2
{
    display: none;
}

div.uc_content_search_v2 .inputbutton 
{
    height: 34px!important;
}

@media (max-width: 991px)
{
    #search_button
    {
        padding-top: 12px!important;
    }
}