﻿.uc_content_search_v5 .searchtype
{
    padding-left: 0px;
}

.uc_content_search_v5 .searchtype
{
    padding-right: 0px;
}

.uc_content_search_v5 span
{
    border-top: 0px;
    border-bottom: 0px;
}

.uc_content_search_v5 span.searchtype label,
.uc_content_search_v5 span.searchtype input
{
    display: inline-block;
    vertical-align: middle;
}

.uc_content_search_v5 span.searchtype label
{
    margin-top: -5px;
    padding-right: 10px;
}

.uc_content_search_v5 span.searchtype input
{
    margin-right: 3px;
}

