﻿div.uc_content_search h2{
    display: none;
}

div.uc_content_search a.search_button {
    display: none;
}

div.uc_content_search .form-control {
    display: inline;
    width: 75%;
}

div_uc_content_search .searchtype {
    display: inline;
    width: 20%;

}  

div.uc_content_search label {
    vertical-align: middle;
    margin-right: 5pt;
    margin-left: 3pt;
}

div.uc_content_search .searchtype {
    background: #2a2a2a;
    border-color: #2a2a2a;
    padding-top:10px;
}

.uc_content_search .searchtype input,
.uc_content_search .searchtype label
{
    display: inline-block;
    vertical-align: middle;
}

.uc_content_search .searchtype label
{
    margin-top: -5px;
    margin-right: 20px;
}

.topbar-v3 .search-open .form-control, .topbar-v3 .search-open
{
    background: #2a2a2a;
    width: 100%
}

div.uc_content_search ::-webkit-input-placeholder
{
    -webkit-text-fill-color: white !important;
}

::-moz-placeholder, :-moz-placeholder
{
    color: white;
    opacity: 1;
}

:-ms-input-placeholder 
{  
   color: red;  
}

.topbar-v3 .search-open span label
{
    color: white !important;
}

.removepadding
{
    padding-bottom: 0px;
}

.topbar-v3 .right-topbar li:hover, .topbar-v3 .right-topbar li a:hover, .topbar-v3 ul.left-topbar > li > a:hover
{
    color: #fff !important; 
}

@media (min-width: 768px)
{
    div.uc_content_search .input-group
    {
        width: 100%;
    }
}