<template>
  <div class="cmp-product-stock utlz-reset">
    <div class="stock-wrapper">
      <span class="stock-label" v-translation="{type: 'label', code: 'label_stock_indicator'}">:</span>
      <template v-if="stockType === 1 && stock !== null">
        <span class="stock-count">{{stock.stockTotal}}</span>
      </template>
      <span v-else class="loader"></span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    stockType: { type: Number, required: true },
    stock: { type: Object, required: false }
  }
}
</script>

<style>

</style>
