﻿html, body
{
    font-family: Arial, Verdana, Tahoma;
    font-size: 14px;
}

img.logo
{
    margin-top: 13px;
    margin-right: 10px;
}

@media (min-width: 1200px) {
    .form-horizontal .control-label
    {
        text-align: right;
    }
}

@media (max-width: 1200px) {
    .form-horizontal .control-label
    {
        text-align: left;
    }
}

/* Hoofd navigatie */
.navbar-header
{
    float: right;
}

.navbar-inverse
{
    background-color: #411552;
}

.navbar-fixed-top
{
    position: fixed;
}

.ajax__calendar_container
{
    z-index: 10;
}

div.field_object
{
    margin-bottom: 10px;
}

h1,
.pgf_list ul.nav-tabs li a,
.pgf_sort ul.nav-tabs li a,
.pgf_list ul.nav-tabs li a:hover,
.pgf_sort ul.nav-tabs li a:hover
{
    border: 0px solid;
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #411552;
}

a
{
    color: #411552;
}

a:hover, a:focus
{
    color: #6D457F;
}

#solutiontabs_tabs li a
{
}

#solutiontabs_tabs li.active a,
#solutiontabs_tabs li a:hover
{
    color: #411552!important;
}

.btn-primary
{
    background-color: #412053;
    border-color: #412053;
}

[disabled].btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus,
.open > .dropdown-toggle.btn-primary
{
    background-color: #412053;
    border-color: #412053;
}

.btn-primary:hover
{
    background-color: #6D457F;
    border-color: #412053;
}

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info, 
.table > thead > tr > th.info, 
.table > tbody > tr > th.info, 
.table > tfoot > tr > th.info, 
.table > thead > tr.info > td, 
.table > tbody > tr.info > td, 
.table > tfoot > tr.info > td, 
.table > thead > tr.info > th, 
.table > tbody > tr.info > th, 
.table > tfoot > tr.info > th
{
    background-color: #c1c1c1;
    color: white;
}

.table > thead > tr > th
{
    background-color: #9e86a6;
}

.table > thead > tr > th a
{
    color: white;
    font-weight: normal;
}


.table tfoot table
{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.table tfoot span,
.table tfoot a
{
    color: inherit;
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.4285;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.table > tbody > tr.info > td a
{
    
} 

.table tfoot a:hover,
.table tfoot span
{
    color: white;
    background-color: #9e86a6;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
    vertical-align: middle;
    line-height: 1.5;
}

.table tfoot td
{
    border-bottom: 0;
}

.table .tr_ondrag
{
    color: white!important;
    background-color: #9e86a6!important;
}

div.treeview
{
    border: 1px solid #ddd;
    width: 100%;
}

div.treeview table
{
    border: 0;
}


div.treeview table td
{
    border: 0;
    padding-top: 5px;
}

div.treeview a
{
    display: inline-block;
}

.filter_panel .mandatory
{
    display: none;
}


div.filter-panel div.form-group
{
    width: 50%;
    float: left;
}

span.mandatory
{
    font-size: 20px;
    text-align: center;
    color: red;
    position: absolute;
    margin-left: 10px;
}

div.toolbar{
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    
    margin-top: -60px;
    margin-left: -15px;
    margin-right: -15px;
}

div.tab-content
{
    padding-top: 25px;
    padding-bottom: 25px;
}

/* toolbar options adjustments*/
.options
{
    margin-left: 5px;
}

.options .btn-success
{
    color: white;
}

.options .dropdown-menu
{
    right:0;
    left: auto;
}

.options .save-add
{
    padding-bottom: 5px;
}

.options .save-add .dropdown-menu {
    margin-top: -3px;
}

.options .save-add:hover .dropdown-menu
{
    display: block;
}

.table-responsive
{
    width: 100%;
}

.modal-backdrop
{
    background-color: #FFFFFF;
}

.modal-content
{
    border-radius: 0;
}

.modal-content .alert
{
    border-radius: 0;
}

div.introduction
{
    margin-bottom: 20px;
}

.checkbox{
    margin-top: 5px!important;
}

.radio-inline
{
    padding-top: 0px!important;
}

.radio-inline br{
    display: none;
}

a.close_colorpicker
{
}

.farbtastic {
  position: relative;
}

.farbtastic * {
  position: absolute;
  cursor: crosshair;
}

.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}

.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}

.farbtastic .wheel {
  background: url(../../../_FWAssets/Images/ColorPicker/ColorPickerWheel.png) no-repeat;
  width: 195px;
  height: 195px;
}

.farbtastic .overlay {
  background: url(../../../_FWAssets/Images/ColorPicker/ColorPickerMask.png) no-repeat;
}

.farbtastic .marker {
  width: 17px;
  height: 17px;
  margin: -8px 0 0 -8px;
  overflow: hidden; 
  background: url(../../../_FWAssets/Images/ColorPicker/ColorPickerMarker.png) no-repeat;
}

/*AutoComplete flyout */
.autocomplete_completionListElement
{
	background-color : transparent;

    margin-top: 10px;
	position: absolute;

    visibility: hidden;
    margin: 0px !important;
	padding-left: 0px;
    height: 200px;
    width: 710px;
    
    text-align: left;
    z-index: 99;
	list-style-type: none;
} 

/* AutoComplete item */
.autocomplete_listItem, 
.autocomplete_highlightedListItem
{
    background-color : white;
	margin-left: 0px;
	padding-top : 1px;
    padding-bottom : 5px;
	padding-left: 5px;
	width: 710px;
	overflow: hidden;
	height: 25px;
	border: 1px solid #DFDFDF;
    color: #777777;
}

.autocomplete_highlightedListItem
{
    background-color: #9e86a6;
    color: white;
}

span.list_item
{
	margin-left: 5px;
	position: absolute;
	display: inline-block;
	width: 350px;
    text-wrap:none;
    z-index: 10;
}

span.list_value
{
	margin-left: 200px;
    position: absolute;
	display: inline-block;
	width: 450px;
    z-index: 1;
}

.btn-text .glyphicon
{
    padding-right: 5px;
}

table.table .glyphicon
{
    padding-right: 0px;
}

.key-value table tr td
{
    padding-left: 0!important;
    padding-right: 0!important;
}

.key-value table tr td.code {
    padding-left: 10px!important;
}

.key-value table tr td.description{
    padding-left: 20px!important;
    }

.key-value table tr td.command{
    margin-right: 10px;
    }

.sort_overlay
{
    width: 100vw;
    height: 100vw;
    top: 0px;
    position: absolute;

    background-color: white;
    filter: alpha(opacity=50);
    opacity: .50;
    -moz-opacity: 0.5-;
    z-index: 10;
}

.sort_panel
{
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .2);
    border: 0px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin-left: -400px;
    margin-top: -300px;
    width: 800px;
    height: 600px;
    z-index: 11;
    background-color: white;
}

.sort_panel
{
    padding: 20px 20px 20px 20px;
}

.sort_panel table
{
    width: 100%;
    border: 0;
}

.sort_panel .toolbar
{
    position: absolute;
    bottom: 0px;
    right: 20px;
}