﻿#frametabs {
	position:absolute;
	top:60px;
	left:295px;
	right:0px;
	height:35px;
}

#frametabs ul 
{
	float: left;
	margin: 0;
	padding: 0;
}



#framecontent {
    -webkit-transition: left 0.5s;
    transition: left 0.5s;

	position:absolute;
	top:105px;
	right:0px;
	left:280px;
	bottom:0px;
	border-top: 1px solid #ccc;
}

#framecontent div,
#framecontent iframe
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border-style:none;
	border: 0px solid;
}

.close_button
{
    display: inline-block;
    margin-left: 10px;
}