﻿.modal-overlay
{
    z-index: 1001;
    position: fixed;
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    width: 100%;
    bottom: 0px;
    padding-right: 0px;
    background-color: #FFFFFF;
    height: 100%;
    top: 0px;
    right: 0px;
    padding-top: 0px;
    left: 0px;

    filter: alpha(opacity=50);
    opacity: .50;
    -moz-opacity: 0.5-;
}
    
* HTML .modal-overlay
{
}

.modal-window
{
    color: #727272;
    z-index: 1002;
    position: fixed;
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .2);
    border: 0px;
}
    
* HTML .modal-window
{
}

.modal-close
{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;

    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 0px;
}

.modal-close a:hover
{
    background-color: transparent!important;
}