﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="uc_company_logo.ascx.vb" Inherits="uc_company_logo" %>

<div class="uc_company_logo">
    <utilize:image ID="company_logo" runat="server" cssclass="navbar-brand-logo"/>
</div>
   