<template>
  <div class="cmp-product-price" :class="parentClassRef">
    <ul v-if="prices !== null" class="price-list flex-row-nowrap align-items-baseline">
      <li class="default">
        <span>{{ prices.price }}</span>
      </li>
      <li v-if="prices.isSalesAction" class="original salesaction">
        <span>{{ prices.basePrice }}</span>
      </li>
    </ul>
    <span v-else class="loader"></span>
  </div>
</template>

<script>
export default {
  props: {
    prices: { type: Object, required: false },
    parentClassRef: { type: String, default: '', required: false }
  }
}
</script>

<style>

</style>
