﻿div.uc_customer_product_codes .textblock
{
    width: 70%;
    display: inline-block;
}

div.uc_customer_product_codes .buttonblock
{
    width: 30%;
    display: inline;
}

div.table-responsive div.uc_customer_product_codes .buttonblock input
{
    width: 100%;
}

div.uc_customer_product_codes .btn-u {
    height: 34px;
}