﻿/* Deze stylesheet maakt correcties obv de webshop instelling 'Aantallen tonen bij bestellen' */

/* De normale inputbutton */
div.uc_product_row div.uc_order_product div.order div.normal input.inputbutton
{
    width: 100px;
    margin-left: 5px;
}

/* Breedte bij een gegroepeerd product */
div.uc_product_row div.uc_order_product div.order div.normal input.grouped
{
    width: 100px;
    margin-left: 5px;
}

/* De normale inputbutton */
div.uc_product_block div.uc_order_product div.order div.normal
{
    margin-top: 35px;
}

div.uc_product_block div.uc_order_product div.order div.normal input.inputbutton
{
    width: 150px;
}

/* Breedte bij een gegroepeerd product */
div.uc_product_block div.uc_order_product div.order div.normal input.grouped,
div.uc_product_block div.uc_order_product div.order div.sale_unit input.grouped
{
    margin-top: 30px!important;
    width: 215px!important;
}

/* De inputbutton bij de sale_unit*/
div.uc_product_row div.uc_order_product div.order div.sale_unit input.inputbutton
{
    margin-top: 0px;
}

div.uc_product_block div.uc_order_product  div.order div.sale_unit input.inputbutton
{
    width: 215px;
    margin-top: 0px;
}

/* Inputbutton bij product details - normaal */
div.productdetails div.productspecs div.uc_order_product div.order div.normal input.inputbutton
{
    width: 250px;
}

/* Inputbutton bij product details - sale unit */
div.productdetails div.productspecs div.uc_order_product div.order div.sale_unit input.inputbutton
{
    width: 175px;
}

div.uc_order_product div.order span,
div.uc_order_product div.order input.input,
div.uc_order_product div.order img
{
    display: inline-block;
}

div.uc_order_product div.order input.input{
    vertical-align: top;
    margin: 0 !important;
}
