﻿div.uc_order_product .product-quantity {
    float: none;
    display: inline-block;
    width: 120px !important;
    margin-bottom: 10px;
}

    div.uc_order_product .product-quantity .quantity-multiplier {
        width: auto;
    }

div.uc_order_product div.units .quantity-plus {
    margin-left: -4px;
}

div.uc_order_product div.units {
    width: 100%;
    padding-bottom: 5px;
}

    div.uc_order_product div.units table td.description {
        padding-left: 10px;
    }

div.uc_order_product .btn-u {
    width: 112px;
    height: 35px;
    display: inline-block;
}

div.uc_order_product input .test {
    color: red !important;
    background-color: white;
    border: 1px solid red;
}

@media (min-width: 450px) {
    div.productdetails div.uc_order_product .btn-u {
        float: right;
    }
}
