﻿div.uc_product_information {
}

div.uc_product_information span.empty
{
    display: none;
}

/* Trustpilot */
div.uc_product_information .trustpilot-stars img {
    margin-right:4px;
    width:20px;
    margin-bottom:4px;
}

div.uc_product_information .value {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 250px) {
    div.uc_product_information li.value {
        float: right;
    }
    div.uc_product_information .shop-product-prices {
        text-align: right;
    }
    div.uc_product_information .shop-product-prices li {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: -2px;
    }
}