﻿div.uc_product_stock
{
    margin-top: 10px;
}

div.uc_product_stock .value {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 250px) {
    div.uc_product_stock .value {
        float: right;
    }
}