﻿div.uc_product_group_matrix .matrix table,
div.uc_product_group_matrix .matrix table td
{
    border: 1px solid #eee;
}

div.uc_product_group_matrix .matrix table td.description-x
{
    text-align: center;
}

div.uc_product_group_matrix .matrix table td.description-y
{
    min-width: 150px;
}

div.uc_product_group_matrix .matrix table td
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.uc_product_group_matrix input[type=button]:disabled,
div.uc_product_group_matrix input[type=submit]:disabled,
div.uc_product_group_matrix input[type=text]:disabled
{
    background-color: #F9F9F9!important;    
}

div.uc_product_group_matrix input.btn-u
{
    width: 112px;
}