﻿div.uc_sizeview_matrix div.stock_color
{
    position: relative;
    width: 15px;
    height: 15px;

    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
div.uc_sizeview_matrix .table > tbody > tr > td
{
    border-left: 0px;
    border-right: 0px;
    padding: 3px;
    vertical-align: middle;
}

div.uc_sizeview_matrix .header,
div.uc_sizeview_matrix .total
{
    width: 5%;
    text-align: center;
}

div.uc_sizeview_matrix td
{
    padding: 3px;
}

div.uc_sizeview_matrix input
{
    text-align: center;
}


div.uc_sizeview_matrix td .btn-u
{
    width: 22px;
    height: 22px!important;
}

div.uc_sizeview_matrix input[type=text]
{
    width: 22px;
    height: 22px;
}

div.uc_sizeview_matrix input[type=button]:disabled,
div.uc_sizeview_matrix input[type=submit]:disabled,
div.uc_sizeview_matrix input[type=text]:disabled
{
    background-color: lightgrey!important;    
}

div.uc_sizeview_matrix .table-responsive
{
    margin-bottom: 20px;
}

div.uc_sizeview_matrix table tr td div.color_desc
{
    min-width: 100px;
    display: block;
}

@media (max-width: 768px)
{
    div.uc_sizeview_matrix td
    {
        padding: 0px!important;
    }
}

@media (max-width: 450px)
{
    div.uc_sizeview_matrix .table
    {
        width: 100%;
    }
    div.uc_sizeview_matrix td.color
    {
        width: 20%!important;
    }
    div.uc_sizeview_matrix td input
    {
        width: 100%!important;
    }
}