﻿div.uc_change_overview .alert-info.grey
{
    color: #505050;
    background-color: #C5C5C5;
    border-color: #A09F9F;
}

div.uc_change_overview .title-row
{
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

div.uc_change_overview .alert-info .title-row
{
    border-color: #31708f;
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div.uc_change_overview .alert-danger .title-row
{
    border-color: #a94442;
}

div.uc_change_overview .alert-info.grey .title-row
{
    border-color: #505050;
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div.uc_change_overview .alert-success .title-row
{
    border-color: #3c763d;
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

div.uc_change_overview .alert-warning .title-row
{
    border-color: #8a6d3b;
}
div.uc_change_overview .alert
{
    width: 55%;
}

@media (max-width: 991px)
{
    div.uc_change_overview .alert
    {
        width: 100%;
    }
}