﻿/*div.uc_languages_block
{
    text-align: right;
    width: 200px;
}*/

div.uc_languages_block h2
{
    display: none;
}

div.uc_languages_block .lang-img {
    float: right;
    margin-top:2px;
}


