﻿/* Navigation bar */
div#uc_navigation .navbar {
    /* Set the color to dark blue */
    background-color: #173247;
    /* Add a little marge */
    padding-left: 10px;
    padding-right: 10px;
}

/* Format the current date under the navigation bar */
div#uc_navigation .current-date {
    color: #173247;
    font-weight: bold;
    font-size: 13px;
}

/* Also the background of a dropdown in the navbar */
div#uc_navigation .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #173247;
}

/* Also the background of an active item the navbar */
div#uc_navigation .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #173247;
}

/* Underline the user name in de navigation bar */
div#uc_navigation .navbar .user_name {
    text-decoration: underline;
}

/* Set the color of inactive links to white (same as active links) */
div#uc_navigation .navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

/* Set the text color in a badge to black */
div#uc_navigation .navbar .badge {
    color: black;
}

div#uc_navigation .logo
{
    height: 100%;
}