﻿div.uc_returns td span.label.rounded
{
    width: 100%;
}

@media (max-width: 768px)
{
    div.uc_returns div.margin-top-10
    {
        margin-top: 10px;
    }
    div.uc_returns div.buttons .btn-u
    {
        width: 100%;
        margin-bottom: 10px;
    }
    div.uc_returns div.buttons.pull-right
    {
        float: none!important;
    }
}
