﻿div.uc_return_acceptance .request
{
    margin-right: 3px;
}
div.uc_return_acceptance .alert
{
    border-radius: 4px !important;
}

@media (max-width: 768px)
{
    div.uc_return_acceptance div.margin-top-10
    {
        margin-top: 10px;
    }
    div.uc_return_acceptance div.buttons .btn-u
    {
        width: 100%;
        margin-bottom: 10px;
    }
    div.uc_return_acceptance div.buttons.pull-right
    {
        float: none!important;
    }
}

