﻿@media (max-width: 768px)
{
    div.uc_return_incoming .margin-top-10
    {
        margin-top: 10px;
    }
    div.uc_return_incoming .buttons .btn-u
    {
        width: 100%;
        margin-bottom: 10px;
    }
    div.uc_return_incoming .buttons.pull-right
    {
        float: none!important;
    }
}

.uc_return_incoming input[type=submit].right
{
    margin-left: 5px;
}

div.uc_return_incoming .quantity {
    width: 40px;
}

div.uc_return_incoming .custom-input {
    width: 108px;
}

div.uc_return_incoming .custom-input .form-control{
    text-align: center;
}