﻿div.uc_return_login .border
{
    border: 1px solid #eee;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
}

div.uc_return_login .height-fix
{
    height: 60px;
}
.login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

div.uc_return_login #login_container
{
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
}

div.uc_return_login .login-logo img
{
    margin-left: auto;
    margin-right: auto;
}