<template>
  <div class="utlz-order-saleunit"></div>
</template>

<script>
export default {
  props: {
    useOrderMode: { type: Boolean, required: false, default: true },
    initialValue: { type: Number, required: false, default: 1 }
  }
};
</script>

<style>
</style>
