﻿div.uc_call_back  .input-group input {
    border-right:1px solid #fff;
    width:100% !important;
    color: #000!important;
}

div.uc_call_back .input-group-btn {
    color:#fff;
}

div.uc_call_back .shop-subscribe
{
    width: 100%;
    float: left;
}

@media (min-width: 992px)
{
    #pnl_column_1 div.uc_call_back div.shop-subscribe div.col-md-3,
    #pnl_column_1 div.uc_call_back div.shop-subscribe div.col-md-9,
    #pnl_column_1 div.uc_call_back div.shop-subscribe div.col-md-9 div.col-md-5,
    #pnl_column_1 div.uc_call_back div.shop-subscribe div.col-md-9 div.col-md-2,
    #pnl_column_3 div.uc_call_back div.shop-subscribe div.col-md-3,
    #pnl_column_3 div.uc_call_back div.shop-subscribe div.col-md-9,
    #pnl_column_3 div.uc_call_back div.shop-subscribe div.col-md-9 div.col-md-5,
    #pnl_column_3 div.uc_call_back div.shop-subscribe div.col-md-9 div.col-md-2
    {
        width: 100%!important;
        margin-top: 10px;
    }
}

@media (max-width: 991px) {
    div.uc_call_back .col-xs-12 {
        margin-bottom:20px;
    }
}


/* These styles handle all advanced styles that are set through CMS settings */
/* Default corrections */
.uc_call_back.advanced {
    margin-bottom: 30px;
}

.uc_call_back.advanced .shop-subscribe {
    display: flex;
}

.uc_call_back.advanced .md-margin-bottom-20 {
    margin-bottom: 10px !important;
}

.uc_call_back.advanced input {
    height: 40px;
}

.uc_call_back.advanced input[type="submit"] {
    line-height: normal;
    padding: 0 15px;
    width: 100%;
}

.uc_call_back.advanced input::placeholder {
    font-style: italic;
}

.uc_call_back.advanced h2 {
    font-weight: 400;
}

.uc_call_back.advanced .input-group-btn {
    display: block;
    width: 100%;
}


/* Handles landscape layout */
.uc_call_back.advanced.landscape .shop-subscribe {    
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.uc_call_back.advanced.landscape .adv-text p,
.uc_call_back.advanced.landscape .adv-text h2 {
    text-align: center;
}

.uc_call_back.advanced.landscape .row.input-group {
    display: flex;
    flex-flow: row wrap;
}

.uc_call_back.advanced.landscape .adv-field-1 {
    width: 100%;
    margin-bottom: 10px;
}

.uc_call_back.advanced.landscape .adv-field-2 {
    width: auto;
    flex-grow: 1;
}

@media (max-width: 570px) {
    .uc_call_back.advanced.landscape .shop-subscribe {    
        padding: 20px 0;
    }
}

@media (min-width: 571px) {
    .uc_call_back.advanced.landscape .adv-btn,
    .uc_call_back.advanced.landscape .adv-btn .input-group-btn,
    .uc_call_back.advanced.landscape .input-group-btn input[type="submit"] {
        width: auto !important;
    }

    .uc_call_back.advanced.landscape .adv-btn {
        padding-left: 0;
    }

    .uc_call_back.advanced.landscape .adv-form {
        margin-top: 15px;
    }

    .uc_call_back.advanced.landscape .shop-subscribe .adv-field-2 {
        padding-right: 0;
    }

    .uc_call_back.advanced.landscape .adv-text,    
    .uc_call_back.advanced.landscape .adv-form {
        width: 75%;
    }
}

@media (min-width: 571px) and (max-width: 767px) {
    .uc_call_back.advanced.landscape .shop-subscribe {    
        padding: 40px 0;
    }
}

@media (min-width: 768px) {
    .uc_call_back.advanced.landscape .shop-subscribe {    
        padding: 80px 0;
    }
}

/* Handles portrait layout */
.uc_call_back.advanced.portrait .shop-subscribe {    
    flex-flow: column;
    justify-content: center;
    padding: 40px 0;
}

.uc_call_back.advanced.portrait .adv-text,
.uc_call_back.advanced.portrait .adv-form {
    width: 100%;
    padding: 0 30px;
}

.uc_call_back.advanced.portrait .adv-text p,
.uc_call_back.advanced.portrait .adv-text h2 {
    text-align: center;
}

.uc_call_back.advanced.portrait .adv-form {
    margin-top: 15px;
}

.uc_call_back.advanced.portrait .row.input-group {
    display: flex;
    flex-flow: column;
}
.uc_call_back.advanced.portrait .adv-btn {
    width: 100% !important; 
}

.uc_call_back.advanced.portrait .adv-field-1,
.uc_call_back.advanced.portrait .adv-field-2 {
    width: 100%;
    margin-bottom: 10px;
}

/* END UWS-454 */