﻿.detail-page {
    position: absolute;
    top: 0;
    left: -15px;
    background: white;
    width: 100%;
    z-index: 100;
    height: 100%;
}

.detail-page .page-content {
    padding-left: 30px;
}


/* Specific overwrites for vuejs pages with alternative html structures */
.vue-framework-overview {
    padding: 0 15px;
}

    .vue-framework-overview .editcolumn,
    .vue-framework-overview .deletecolumn {
        width: 25px;
    }

    .vue-framework-overview .table > thead > tr > th {
        color: #fff;
        font-weight: normal;
    }

    .vue-framework-overview .table tr.active > td {
        background-color: #c1c1c1 !important;
    }

    /* Tabss */
    .vue-framework-overview .nav.nav-tabs {
        position: static !important;
        width: 100%;
    }

    /* Pagination */
    .vue-framework-overview .pagination .li-next a,
    .vue-framework-overview .pagination .li-previous a {
        padding: 6px 13px !important;
    }

    .vue-framework-overview .pagination td a:hover {
        cursor: pointer;
    }

    .vue-framework-overview .pagination td.active a:hover {
        cursor: auto;
    }

    .vue-framework-overview .pagination td a:hover,
    .vue-framework-overview .pagination td.active a {
        color: white;
        background-color: #9e86a6;
        border: 1px solid #9e86a6;
    }

    /* Handles buttons*/
    .vue-framework-overview .create-new {
        border-radius: 4px !important;
    }

    .vue-framework-overview .filter-btns {
        text-align: right;
    }

    /* Auto complete */
    .vue-framework-overview .auto-complete {
        position: relative;
    }

    .vue-framework-overview .auto-complete-description {
        display: none;
    }

    .vue-framework-overview .auto-complete-option {
        border: 1px solid #ddd;
        display: flex;
        flex-flow: row nowrap;
        padding: 3px 5px;
    }

        .vue-framework-overview .auto-complete-option .code {
            width: 150px;
        }

        .vue-framework-overview .auto-complete-option:hover {
            background-color: #9e86a6;
            color: #fff;
        }

    .vue-framework-overview .auto-complete-description.active {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        text-align: left;
        line-height: 20px;
        border-left: 1px solid #ddd;
    }

    /* Color picker */
    .vue-framework-overview input[type="color"] {
        width: 150px;
    }