﻿div.uc_breadcrumb_block .breadcrumb-v5
{
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

div.uc_breadcrumb_block span
{
    margin-left: -15px;
    padding-left: 0px;
    margin-right: 40px;
    display: none;
    font-size: 15px;
}

.uc_breadcrumb_block .expand {
    display: none;
}
.breadcrumb-v5 li {
    display: none;
}

.breadcrumb-v5.show li {
    display: inline-block;
}

.breadcrumb-v5 .expand::before {
    display: none;
}

.breadcrumb-v5.show .expand::before {
    display: inline-block;
}

.breadcrumb-v5 li.show {
    display: inline-block !important;
    font-size: 15px;
}

.breadcrumb-v5 li {
    display: inline-block;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .uc_breadcrumb_block .expand {
        display: inline-block;
        margin-top: 4px;
    }

    .breadcrumb-v5 li {
        display: none;
    }

    div.uc_breadcrumb_block .breadcrumb-v5 li:last-child {
        display: inline-block !important;
    }
}