﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="uc_elastic_aggr_filters.ascx.vb" Inherits="Webshop_Modules_ProductlistElastic_uc_elastic_aggr_filters" %>

<div id="elastic-aggr-filters"></div>