﻿@import "/Styles/AdvancedStyles/uc_placeholder.min.css";

/*--------------------------------------
    General resets
--------------------------------------*/
.uc_product_list_elastic h1::after {
    display: none;
}

.uc_product_list_elastic h1 {
    border-bottom: none;
    line-height: 1;
    display: block;
    margin: -7px 0 10px;
    padding: 0;
    font-size: 35px;
}

.uc_product_list_elastic .content-placeholder {
    padding: 20px 15px !important;
}

/*--------------------------------------
    Handles sorting options
--------------------------------------*/
.uc_product_list_elastic .sorting-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 6px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

    .uc_product_list_elastic .sorting-container li {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    .uc_product_list_elastic .sorting-container .sort-by span,
    .uc_product_list_elastic .sorting-container .items-per-page span {
        margin-right: 8px;
        font-weight: bold;
        font-size: 14px;
    }

.uc_product_list_elastic .grid-list-icons {
    margin-top: 0;
    padding: 0;
    margin-left: auto;
}

    .uc_product_list_elastic .grid-list-icons a {
        margin-left: 5px;
        cursor: pointer;
    }

        .uc_product_list_elastic .grid-list-icons a i.active {
            cursor: default;
        }

.uc_product_list_elastic .total-products-counter {
    background: #2b2b2b;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px !important;
    line-height: 1;
    font-weight: bold;
    font-size: 14px;
}

.uc_product_list_elastic .total-products-counter .total {
    margin-right: 5px;
}

.uc_product_list_elastic .showing_count {
    color: #fff;
}


.uc_product_list_elastic select {
    font-weight: bold;
    transition: all .2s;
    cursor: pointer;
    padding: 0 6px;
    height: 30px;
    background: #eee;
}

.uc_product_list_elastic select:hover {
    background: #eee;
}

.uc_product_list_elastic select:focus {
    background: #eee;
    box-shadow: 0 0px 3px rgba(0,0,0,.3);
}

@media (min-width: 768px) {
    .uc_product_list_elastic .sorting-container .sort-by,
    .uc_product_list_elastic .sorting-container .items-per-page {
        margin-left: 20px;
    }
}

@media (max-width: 767px) {
    .uc_product_list_elastic .sorting-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 15px 0;
    }

    .uc_product_list_elastic .total-products-counter {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .uc_product_list_elastic .items-per-page {
        margin-right: 20px;
    }

    .uc_product_list_elastic .items-per-page,
    .uc_product_list_elastic .sort-by {
        flex-flow: column !important;
        padding: 0;
    }

    .uc_product_list_elastic .sorting-container .sort-by span,
    .uc_product_list_elastic .sorting-container .items-per-page span {
        margin-right: 0;
    }
}

/*--------------------------------------
    Handles bulk order
--------------------------------------*/
.uc_product_list_elastic .bulk-order {
    display: flex;
    flex-flow: column;
    background: #eee;
    align-items: center;
    padding: 15px 15px 30px;
    margin-bottom: 15px;
}

    .uc_product_list_elastic .bulk-order .bulk-order-title {
        margin-bottom: 20px;
        text-align: center;
    }

    .uc_product_list_elastic .bulk-order .btn-u-sea-shop {
        padding: 0 15px;
    }

/* If bulk order is enabled, hide the 
 * shoppingcart icon per product block */
.uc_product_list_elastic .bulk_order_enabled .uc_placeholder .uc_order_product .normal::before,
.uc_product_list_elastic .bulk_order_enabled .uc_placeholder .uc_order_product div.sale_unit::before {
    display: none !important;
}

/*-------------------------------------
    Handles pagination
------------------------------------*/
.uc_product_list_elastic .pagination a {
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 40px;
    padding: 0 5px;
    font-size: 14px;
    font-weight: bold;
}

.uc_product_list_elastic .pagination i {
    font-size: 20px;
}

.uc_product_list_elastic .pagination li a:hover,
.uc_product_list_elastic .pagination li a:active,
.uc_product_list_elastic .pagination li a:hover i,
.uc_product_list_elastic .pagination li a:active i {
    color: #fff !important;
}

/* Smaller condensed pagination on mobile */
@media (max-width: 570px) {
    .uc_product_list_elastic .pagination li {
        display: none;
    }

    .uc_product_list_elastic .pagination .li-next,
    .uc_product_list_elastic .pagination .li-previous,
    .uc_product_list_elastic .pagination .active {
        display: inline !important;
    }

    .uc_product_list_elastic .pagination a {
        height: 40px;
        min-width: 40px;
        margin: 0 10px;
    }
}

/*-------------------------------------
    Handles grouping options
------------------------------------*/

/* Grouped by shop code or grp_val_1 in product list */
.uc_product_list_elastic .clickthrough-btns .uc_product_block .uc_order_product .order {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    position: relative;
}

.uc_product_list_elastic .clickthrough-btns .uc_product_block .uc_order_product div.sale_unit,
.uc_product_list_elastic .clickthrough-btns .uc_product_block .uc_order_product div.normal {
    display: inline-flex;
    justify-content: flex-start !important;
    width: 100% !important;
}

.uc_product_list_elastic .clickthrough-btns .uc_product_block .uc_order_product .btn-u-sea-shop {
    text-indent: 0;
    width: auto !important;
    padding: 0 15px 0 40px;
    display: block !important;
    margin: 0 !important;
    position: static !important;
}

.uc_product_list_elastic .clickthrough-btns .uc_product_block .uc_order_product div.normal::before,
.uc_product_list_elastic .clickthrough-btns .uc_product_block .uc_order_product div.sale_unit::before {
    left: 11px;
    right: auto;
}
/*-------------------------------------
    Legacy but important
------------------------------------*/
div.uc_product_list_elastic .pages span {
    margin-right: 5px;
}

div.uc_product_list h1 {
    display: none;
}

/* link styles */
div.uc_product_list_elastic div.pagingwrapper a.hide_me {
    visibility: hidden;
    display: none;
}

div.uc_product_list_elastic div.pages li.grid-list-icons i.fa-bars {
    display: none;
}

.uc_product_list_elastic .top-pagination ul.pagination {
    margin: 0px !important;
}

.uc_product_list_elastic .bottom-pagination ul.pagination {
    margin: 10px !important;
}

span.showing_count {
    margin: auto;
    display: table;
}

@media (min-width: 992px) {
    div.uc_product_list_elastic .mobile-clearfix {
        display: none;
    }
}

@media (max-width: 991px) {
    div.uc_product_list_elastic > .row > .clearfix {
        display: none;
    }

    div.uc_product_list_elastic .mobile-clearfix:before {
        display: table;
        content: " ";
    }

    div.uc_product_list_elastic .mobile-clearfix:after {
        clear: both;
        display: table;
        content: " ";
    }

    div.uc_product_list_elastic .grid-list-icons {
        display: none !important;
    }
}

div.uc_product_list_elastic #lazy-target {
    overflow: hidden;
}

div.uc_product_list_elastic #lazy-load-spinner {
    display: none;
}

div.uc_product_list_elastic .product-filter label.fieldcontrol {
display: block;
}
div.uc_product_list_elastic .uc_order_product .product-quantity,
div.uc_product_list_elastic .uc_order_product .quantities {
    display: flex;
    flex-direction: column;
}

div.uc_product_list_elastic .uc_order_product .product-quantity .quantity-field-control {
    display: flex;
}

div.uc_product_list_elastic .uc_order_product .product-quantity.units {
    width: 100%!important;
}