﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="uc_product_list_elastic.ascx.vb" Inherits="Webshop_Modules_ProductlistElastic_uc_product_list_elastic" %>

<div id="elastic-search">    
</div>