﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="uc_administration.ascx.vb" Inherits="uc_administration" %>
<div class="uc_administration hidden-md hidden-sm hidden-xs">
    <h2>Pagina aanpassen</h2>
    <utilize:optiongroup runat="server" ID="opg_edit_type" AutoPostBack="true"> 
                
    </utilize:optiongroup>
</div>