﻿div.uc_administration
{
    border-radius: 10px 10px 10px 10px!important;
    padding-left: 15px;
    padding-top: 10px;
    color: white;
    background-color: black;
    width: 220px;
    height: 200px;
    position: fixed;
    top: 100%;
    left: 100%;
    margin-top: -250px;
    margin-left: -250px;
}


div.uc_administration h2
{
    font-size: 14pt;
    color: white!important;
    margin-bottom: 20px;
}

div.uc_administration table input,
div.uc_administration table label
{
    vertical-align: middle;
    display: inline-block;
}

div.uc_administration label
{
    margin-top: -4px;
    color: white!important;
    font-size: 12px;
}

#myModal
{
    background-color: white;
    z-index: 1900;
}

#myModal .modal-close
{
    border-top: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-right: 1px solid rgba(0, 0, 0, .2);
    padding-top: 10px;
    padding-bottom: 5px;
    height: 50px;
}

#myModal .modal-close .btn{
    float: right;
    margin-right: 0px;
}

#myModal .modal-close .btn:hover
{
    background-color: #ddd;
    color: #333!important;
}

#myModal iframe{
    border-top: 0px!important;
}