﻿.uc_product_freetext_filter h2
{
    border-bottom: 0px;
    display: inline-block;
}
.uc_product_freetext_filter h2::after
{
    display: none;
}

.uc_product_freetext_filter .fieldcontrol
{
    width: 100%;
}

div.uc_product_freetext_filter span.check-box input[type="checkbox"] {
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 10px;
    -webkit-appearance: checkbox;
}

div.uc_product_freetext_filter span.check-box > label {
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
    display: inline-block;
}

/* Type specifieke styling */
div.filterlist-dropdown
{
}

div.filterlist-dropdown h1
{
    display: none;
}

div.filterlist-dropdown h2.panel-title
{
    line-height: normal;
    font-size: 14px;
}

div.filterlist-dropdown span.panel-title
{
    line-height: normal;
    font-size: 14px;
}

    div.filterlist-dropdown .panel-group h2 i
    {
        display: none;
    }

    div.filterlist-dropdown .panel-group h2 a
    {
        padding-top: 10px;
        padding-bottom: 5px;

        padding-left: 20px;

        font-size: 10px;
        border-bottom: 0px;
    }

    div.filterlist-dropdown .panel-body
    {
        padding-top: 5px;
    }

div.filterlist-checkbox
{
}

/* Handles advanced styling */
.uc_product_freetext_filter.advanced > h2 {
    display: none;
}

.uc_product_freetext_filter.advanced .panel-default {
    box-shadow: none;
    border: none;
}

.uc_product_freetext_filter.advanced .panel-title {
    padding: 0;
    display: block;
    position: relative;
}

.uc_product_freetext_filter.advanced .panel-title a {
    font-size: 16px;
    background: #eee;
    border: 1px solid #ddd;
    line-height: normal;
    padding: 6px 10px 8px 10px !important;
    margin: 0;
}

.uc_product_freetext_filter.advanced .fa-angle-down {
    margin: 0;
    position: absolute;
    right: 10px;
    top: 10px;
}

.uc_product_freetext_filter.advanced .panel-body {
    padding: 20px 20px 10px;
}

.uc_product_freetext_filter.advanced .panel-collapse {
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 20px !important;
}

.uc_product_freetext_filter.advanced .fieldcontrol {
    margin-bottom: 0;
}

/* Dropdown list specific */
.uc_product_freetext_filter.advanced.filterlist-dropdown select {
    margin-top: 0 !important;
}

/* Custom checkboxes */
.uc_product_freetext_filter.advanced input[type="checkbox"] {
    display: none !important;
}

.uc_product_freetext_filter.advanced input[type="checkbox"] + label {
    display: flex !important;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-left: 0 !important;
}

.uc_product_freetext_filter.advanced input[type="checkbox"] + label:hover {
    opacity: .7;
}

.uc_product_freetext_filter.advanced input[type="checkbox"] + label::before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background: #fff;
    border: 1px solid #838f97;
    background: #f9f9f9;
    margin-right: 8px;
    flex-shrink: 0;
}

.uc_product_freetext_filter.advanced input[type="checkbox"]:checked + label::after {
    position: absolute;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 12px;
    left: 1px;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
}

/* Dropdown option */
.uc_product_freetext_filter.advanced select {
    font-weight: bold;
    transition: all .2s;
    cursor: pointer;
    padding: 0 6px;
    height: 30px;
    background: #eee;
    margin: 15px 0px 10px;
}

.uc_product_freetext_filter.advanced select:hover {
    background: #eee;
}

.uc_product_freetext_filter.advanced select:focus {
    background: #eee;
    box-shadow: 0 0px 3px rgba(0,0,0,.3);
}
/* End advanced styling */