﻿div.uc_payment .alert {
    margin-top: 20px;
}

div.uc_payment .check input[type=checkbox] {
    display: inline;
    margin-left: 0px;
}

div.uc_payment .buttons {
    display: inline;
}

div.uc_payment span.checkbox.check label {
    display: inline;
    padding-left: 0px;
}

div.uc_payment div.order_progress {
    top: 0;
    left: 0;
    z-index: 9999;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

div.uc_payment .inputbutton.active {
    background-image: url('/DefaultImages/loading.gif') !important;
    background-repeat: no-repeat !important;
    background-position: -40px center !important;
    background-size: 125px !important;
}

.uc_payment .default_payment_method {
    background: #eee;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-bottom: 30px;
}
