/* Add all your css styles here (customizations) */

/* IE6 fixes*/

input, textarea, select {
    border: 1px solid #bbb;
    padding: 2px;
}

/* regular fixes*/

.row-breakout {
    overflow: hidden;
}

.btn-u {
    height: 35px;
    padding: 0px 5px;
}

div.table-responsive {
    text-align: center;
}

/* Repeater fixes */
.pager_next a.btn-u,
.pager_previous a.btn-u,
.pager_numbers a.btn-u {
    padding: 6px 13px;
}

.pager_previous,
.pager_numbers,
.pager_next {
    display: inline-block;
}

    .pager_numbers a.btn-numbers {
        width: 40px !important;
        text-align: center;
    }

.subtotal .btn-u {
    font-size: 16px !important;
    padding-top: 5px;
}

textarea {
    max-width: 100%;
    max-height: 100%;
}

.product-comment i.product-comment-icon {
    float: left;
    margin-right: 15px;
}

.shop-product {
    background-color: white;
}

.product-quantity {
    float: left;
}

.shopping-cart .quantity-field {
    width: 40px !important;
    height: 35px !important;
    margin-right: 0px !important;
}

.quantity-button {
    color: #555;
    width: 40px !important;
    height: 35px !important;
    padding: 0px !important;
    border: none !important;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    background: #eee;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
}

.quantity-multiplier {
    color: #555;
    width: 112px;
    height: 35px !important;
    padding: 0px;
    border: none;
    outline: none;
    font-size: 20px;
    background: #eee;
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
}

.quantity-field {
    width: 40px !important;
    height: 35px !important;
    outline: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -4px;
    margin-right: -4px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #eee !important;
    padding: 0px !important;
}

/*Temp (?) hiding of dummy button and order message*/
.button_dummy, #order_message {
    display: none;
}

@media (min-width: 992px) {
    .customclearfix:after {
        content: " ";
        display: table;
        clear: both;
    }

    .customclearfix:before {
        content: " ";
        display: table;
    }
}

@media (max-width: 991px) {
    .customclearfix2:after {
        content: " ";
        display: table;
        clear: both;
    }

    .customclearfix2:before {
        content: " ";
        display: table;
    }
}

.input {
    width: 100%;
}
