﻿.uc_header_v6 .uc_languages_block .dropdown-menu {
    display: none;
    border: none;
    background: #f3f3f3;
}

.uc_header_v6 .uc_languages_block li:hover .dropdown-menu {
    display: block;
}

.uc_header_v6 .uc_languages_block .language-list {
    display: none;
    position: absolute;
    width: 160px;
    right: 0;
}

/*Different alignment on mobile */
div.uc_header_v6 .mobile-menu .language-list {
    left: 0;
}

.uc_header_v6 .uc_languages_block {
    position: relative;
}

.uc_header_v6 .uc_languages_block .dropdown-menu a {
    border-right: none;
    display: flex;
    justify-content: space-between;
}

.uc_header_v6 .uc_languages_block .dropdown-menu a:hover {
    opacity: .8;
}

.uc_header_v6 .uc_languages_block > li {
    cursor: pointer;
}

.uc_header_v6 .uc_languages_block > li > a::after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 16px;
    margin-left: 5px;
}

.uc_header_v6 .uc_languages_block > li > a span {
    display: none;
}