﻿div.uc_header_v4 div.uc_languages_block h2
{
    display: none;
}

div.uc_header_v4 div.uc_languages_block ul.right-header{
    padding: 0;
    padding-right:15px;
    list-style:none;
}

div.uc_header_v4 div.uc_languages_block ul.right-header>li>a:after {
    font-family: FontAwesome;
    content: "\f107";
}

div.uc_header_v4 div.uc_languages_block ul.right-header strong {
    padding-right:5px;
}

div.uc_header_v4 div.uc_languages_block ul.language.dropdown-menu {
    display:none;
    left:auto;
    right:auto;
    margin:0;
}

div.uc_header_v4 div.uc_languages_block li div.language-list{
    display: none;
    position: absolute;
    min-width: 200px;
    min-height: 100px;
}

div.uc_header_v4 div.uc_languages_block li:hover div.language-list{
    display: block;}

div.uc_header_v4 div.uc_languages_block li:hover ul.language.dropdown-menu {
    margin-top: 6px;
    top: 0;
    display:block;
    border:1px solid #e4e4e4;
}

div.uc_header_v4 div.uc_languages_block a:hover {
    text-decoration:none;
}

div.uc_header_v4 div.uc_languages_block .lang-img {
    float: right;
    margin-top:2px;
}