﻿div.uc_header_v3 div.uc_languages_block h2
{
    display: none;
}

div.uc_header_v3 div.uc_languages_block ul.right-header{
    padding: 0;
    padding-right:0px;
    list-style:none;
}

div.uc_header_v3 div.uc_languages_block ul.right-header span
{
    padding-right: 5px;
}

div.uc_header_v3 div.uc_languages_block ul.right-header>li>a:after {
    font-family: FontAwesome;
    content: "\f107";
}

div.uc_header_v3 div.uc_languages_block ul.right-header strong {
    padding-right:5px;
}

div.uc_header_v3 div.uc_languages_block ul.language.dropdown-menu {
    display:none;
    margin:0;
    margin-top: 5px;
    top: 0px;
}

div.uc_header_v3 div.uc_languages_block li div.language-list
{
    display: none;
    position: absolute;
    min-width: 200px;
    min-height: 100px;
}

div.uc_header_v3 div.uc_languages_block li:hover div.language-list
{
    display: block;
}


div.uc_header_v3 div.uc_languages_block li:hover ul.language.dropdown-menu {
    display:block;
    border:1px solid #e4e4e4;
}

div.uc_header_v3 div.uc_languages_block a
{
    font-size: 13px!important;
}

div.uc_header_v3 div.uc_languages_block a:hover {
    text-decoration:none;
}

div.uc_header_v3 div.uc_languages_block .lang-img {
    display:none;
    float: right;
    margin-top:2px;
}

.header-v5 .uc_languages_block .dropdown-menu
{
    left: 0;
}

@media (min-width: 992px)
{
    div.uc_header_v3 div.navbar-header .navbar-header-right > ul > li:first-child
    {
        border-left: 0px;
    }
}

@media (max-width: 991px)
{
    div.uc_header_v3 div.uc_languages_block ul.right-header
    {
        padding: 0;
        list-style:none;
        margin-top: -2px;
    }
}