﻿div.uc_header_v5 div.uc_languages_block ul.right-header{
    padding: 0;
    padding-right:0px;
    list-style:none;
}

div.uc_header_v5 div.uc_languages_block ul.right-header>li>a:after {
    padding-left: 5px;
    font-family: FontAwesome;
    content: "\f107";
}

div.uc_header_v5 div.uc_languages_block ul.language.dropdown-menu {
    display:none;
    margin:0;
    margin-top: 5px;
    top: 0px;
}

div.uc_header_v5 div.uc_languages_block li div.language-list
{
    display: none;
    position: absolute;
    min-width: 200px;
    min-height: 100px;
}

div.uc_header_v5 div.uc_languages_block li:hover div.language-list
{
    display: block;
}


div.uc_header_v5 div.uc_languages_block li:hover ul.language.dropdown-menu {
    display:block;
    border:1px solid #e4e4e4;
}

div.uc_header_v5 div.uc_languages_block a:hover {
    text-decoration:none;
}

div.uc_header_v5 div.uc_languages_block .lang-img {
    float: right;
    margin-top:2px;
}

.header-v5 .uc_languages_block .dropdown-menu
{
    left: 0;
}
