﻿div.uc_languages_block h2
{
    display: none;
}

div.uc_languages_block .lang-img {
    float: right;
    margin-top:2px;
    margin-right: 5px;
}

#uc_language_block_v2 .languages
{
    list-style: none;
    padding-left: 0px;
}

.lang-img
{
    margin-right: 10px;
}

@media (min-width: 992px)
{
    #uc_language_block_v2 div.search-open 
    {
        width: auto!important;
        white-space: nowrap;
    }
}