﻿div.uc_youtube_video_block{
    margin-bottom: 20px;
}

div.uc_youtube_video_block iframe{
    padding-bottom: 10px;
}

@media (max-width: 991px){
    .responsive{
        height: 0;
        padding-top: 1px;
        position: relative;
        padding-bottom: 56.25%;
    }

    .responsive iframe{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}