﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="uc_youtube_video_block.ascx.vb" Inherits="uc_youtube_video_block" %>
<utilize:panel ID="pan_youtube" CssClass="uc_youtube_video_block" runat="server">
   <div class="uc_youtube_video_block">
     <utilize:placeholder runat="server" ID="ph_videos">
        
    </utilize:placeholder>
    </div>
</utilize:panel>