﻿div.uc_products_relations
{
}

/* Info knopje onzichtbaar */
div.uc_products_relations .uc_product_block input.button_info
{
    display: none;
}

@media (min-width: 992px)
{
    div.uc_products_relations .mobile-clearfix
    {
        display: none;
    }
}

@media (max-width: 991px)
{
    div.uc_products_relations > .row > .clearfix
    {
        display: none;
    }
    div.uc_products_relations .mobile-clearfix:before
    {
        display:table;
        content: " ";
    }
    div.uc_products_relations .mobile-clearfix:after
    {
        clear: both;
        display: table;
        content: " ";
    }
}