﻿<%@ Page Title="" Language="VB" MasterPageFile="~/CMS/MasterPages/AccountMasterPage_1.master" AutoEventWireup="false" CodeFile="utilize_calendar_form.aspx.vb" Inherits="utilize_calendar_form" %>

<asp:Content ID="Content1" ContentPlaceHolderID="styles" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="scripts" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="column_1" Runat="Server">
    <utilize:Placeholder runat="server" ID="ph_blocks_1"></utilize:Placeholder>
</asp:Content>
<asp:Content ID="Content5" ContentPlaceHolderID="column_2" Runat="Server">
    <utilize:placeholder runat="server" ID="ph_blocks_2"></utilize:placeholder>
</asp:Content>
<asp:Content ID="Content6" ContentPlaceHolderID="column_3" Runat="Server">
    <utilize:placeholder runat="server" ID="ph_blocks_3"></utilize:placeholder>
</asp:Content>