﻿div.invoice_address
{
    display: inline-block;
    width: 48%; 
}

div.uc_address_invoice
{
    display: block;  
}

input.change_invoice_address
{
    display: block;
	visibility: hidden;
	margin-top: 5px;
	margin-bottom: 5px;
}