﻿div.delivery_address
{
    display: inline-block;
    width: 48%;
}

div.uc_address_delivery
{
    display: block;
}

input.change_delivery_address
{
    display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}