﻿span.mandatory_sign
{
    color: red;
}
.inline input[type=checkbox]
{
    margin-left: 0px !important;
    margin-bottom: 0px; 
    display: inline;
}

.req
{
    font-size: 7pt;
    color: rgb(213, 0, 0);
    vertical-align: middle; 
}

.uc_address_block .input-group
{
    width: 100%;
}

.error {
    border-color: red!important;
}