﻿div.uc_coupon_code
{

}

div.uc_coupon_code .btn-apply,
div.uc_coupon_code .btn-apply:focus,
div.uc_coupon_code .btn-apply:active{   
    background: white!important;
    color: green!important;
}

div.uc_coupon_code .btn-remove,
div.uc_coupon_code .btn-remove:focus,
div.uc_coupon_code .btn-remove:active
{
    background: white!important;
    color: indianred!important;
}