﻿div.uc_identification_login
{
}

/*div.uc_identification_login span
{
    display: inline-block;
    width: 170px;
}

div.uc_identification_login input.input
{
    display: inline-block;
    width: 250px;
    margin-bottom: 5px;
}*/