﻿div.uc_process_indicator
{
    background-image: url('../../../DefaultImages/paymentprocess_indicator.png');

    margin-top: 40px;
    height: 30px;

    width: 100%;

    text-align: justify;
}

div.uc_process_indicator span
{
    font-size: 11pt;
    font-weight: normal;
    color: white;

    text-align: center;
    display: block;
    float: left;
    border: 0px solid;
    
    width: 240px;
    padding-top: 5px;
    padding-bottom: 5px;
}
