﻿﻿
div.uc_shopping_cart .product-quantity{
    float:none;
}

div.uc_shopping_cart .product-it-in {
    margin-top: 0px !important;
}

div.uc_shopping_cart .wrapper-re
{
    padding-bottom: 35px;
}

div.uc_shopping_cart table tr td
{
    vertical-align: top!important;
}

div.uc_shopping_cart td.price,
div.uc_shopping_cart td.quantity,
div.uc_shopping_cart td.amount
{
    color: #687074;
    font-size: 16px;
    font-weight: 400;
}

.shopping-cart .table > thead > tr > th.code,
.shopping-cart .table > tbody > tr > td.code {
    padding-left: 0px;
    text-align: left;
}

div.uc_shopping_cart th.price,
div.uc_shopping_cart th.amount,
div.uc_shopping_cart td.price,
div.uc_shopping_cart td.amount
{
    text-align: right!important;
}

/* Advanded product filters aka product configurator */
.shopping-cart .table > tbody > tr > td.part-of-set {
    padding-left: 35px;
}

.shopping-cart .close:hover {
    color: #EC0600!important;
}

div.uc_shopping_cart span.original
{
    text-decoration: line-through;
    font-size: 75%;
}

div.uc_shopping_cart span.actual
{
    color: #c9253c;
    margin-left: 5px;
}

@media (min-width: 992px)
{
    div.uc_shopping_cart img {
    max-width: 120px;
}
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    div.uc_shopping_cart table tr td.image img
    {
        margin-top: 40px;
        padding-right: 0px!important;
    }
    

    div.uc_shopping_cart table,div.uc_shopping_cart thead,div.uc_shopping_cart tbody,div.uc_shopping_cart th,div.uc_shopping_cart td,div.uc_shopping_cart tr {
        display: block;
    }

    div.uc_shopping_cart thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    div.uc_shopping_cart tr {
        border: 1px solid #ccc;
        border-left: none;
	    border-right: none;
    }

    div.uc_shopping_cart td  {    
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 45%!important;
        text-align: right!important;
    }

    div.shopping-cart .table td.amount, div.shopping-cart .table td.price, div.shopping-cart .product-in-table {
        text-align: right!important;
    }

    div.uc_shopping_cart td:before {
        position: absolute;
        top: 15px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left!important;
        font-size: 15px;
    }

    td:before {
        content: attr(data-content-before);
    }

    div.uc_shopping_cart .table tbody tr td:first-child .product-it-in {
        padding-right: 0px;
    }
    div.uc_shopping_cart a.close {
        float:none;
    }
    div.uc_shopping_cart td.amount:before {
        color: #888; 
    }
}