﻿div.uc_shopping_cart_totals
{
    margin-top: 50px;
}

div.uc_shopping_cart_totals .total-result-in span
{
    padding-right: 15px;
}

div.uc_shopping_cart_totals .credit-overview li h4 {
    margin: 0;
}

@media (max-width: 991px)
{
    div.uc_shopping_cart_totals.pull-right
    {
        float: none!important;
    }
    div.uc_shopping_cart_totals ul li
    {
        padding-left: 15px!important;
    }
}