﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="uc_customer_user_products.ascx.vb" Inherits="uc_customer_user_products" %>

<div class="uc_customer_user_products margin-bottom-20">
    <utilize:translatelink runat="server" ID="link_customer_user_products" Text="Uw producten" CssClass="btn-u btn-u-sea-shop btn-u-lg"></utilize:translatelink>
</div>