﻿div.uc_product_freelist_filter
{
}

div.uc_product_freelist_filter div.free_list
{
    margin-bottom: 5px;
}


div.uc_product_freetext_filter div.free_text_val
{
    width: 100%;
}

/* Handles advanced styling */
.uc_product_freelist_filter.advanced h2 {
    font-size: 16px;
    background: #eee;
    border: 1px solid #ddd;
    line-height: normal;
    padding: 6px 10px 8px 10px;
    margin: 0;
}

.uc_product_freelist_filter.advanced .free_list {
    padding: 20px 20px 15px;
    border: 1px solid #ddd;
    border-top: none;
    margin-bottom: 20px !important;
}

/* Custom checkboxes */
.uc_product_freelist_filter.advanced input[type="checkbox"] {
    display: none !important;
}

.uc_product_freelist_filter.advanced input[type="checkbox"] + label {
    display: flex !important;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.uc_product_freelist_filter.advanced input[type="checkbox"] + label:hover {
    opacity: .7;
}

.uc_product_freelist_filter.advanced input[type="checkbox"] + label::before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    background: #fff;
    border: 1px solid #838f97;
    background: #f9f9f9;
    margin-right: 8px;
    flex-shrink: 0;
}

.uc_product_freelist_filter.advanced input[type="checkbox"]:checked + label::after {
    position: absolute;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 12px;
    left: 1px;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
}
/* End advanced styling */