﻿div.uc_product_filters_advanced {
    border: 1px solid lightgrey;
    margin-top: 10px;
    padding: 10px;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(171,171,171,1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(171,171,171,1);
    box-shadow: 2px 2px 2px 0px rgba(171,171,171,1);
    float: left;
}

.uc_product_filters_advanced div.row
{
    margin-bottom: 5px;
}

/* Breedte van de bestel knop */
div.uc_product_filters_advanced div.uc_order_product div.order div.normal input.inputbutton {
    width: 250px;
}

/* Niet tonen aantal */
div.uc_product_filters_advanced div.uc_order_product div.product-quantity {
    display:none;
}

/* Zodat het opmerkingen veld niet over de opties heen valt */
div.uc_product_filters_advanced div.uc_order_product {
    margin-top: 50px;
}
    
/* Zodat bestel knop in div wordt getoond als aantal niet wordt getoond */
div.uc_product_filters_advanced div.uc_order_product div.order {
    overflow:hidden;
}

div.uc_product_filters_advanced li.value .select {
    width: 100%;
}