﻿div.uc_product_set_price {
}

/* Afwijkende style voor de product prijzen */
div.uc_product_set_price div.prod_price
{
    font-weight: bold;
    font-size: 125%;
}

/* Afwijkende style voor de product prijzen - Aanbiedingsprijzen*/
div.uc_product_set_price div.prod_price span.original
{
	display: none;
}

div.uc_product_set_price div.prod_price span.actual
{
    display: inline-block;
}

/* sales price styles */
div.uc_product_set_price div.prod_price span.salesaction_for
{
    font-weight: normal;
    display: inline-block;
    text-decoration: line-through;
    margin-right: 4px;
}

div.uc_product_set_price div.prod_price span.salesaction_to
{
	display: inline-block;
	color: rgba(201,37,60,0.5);
}


div.uc_product_set_price span.empty
{
    display: none;
}

@media (min-width: 250px) {
    div.uc_product_set_price li.value {
        float: right;
    }
    div.uc_product_set_price .shop-product-prices {
        text-align: right;
    }
    div.uc_product_set_price .shop-product-prices li {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: -2px;
    }
}
div.uc_product_set_price .value {
    padding-right: 0;
    padding-left: 0;
}