﻿div.uc_best_sellers ul
{
    float: left;
    padding:0px;
    margin-top: 0px;
}

div.uc_best_sellers ul li
{
    list-style:none;
}


div.uc_best_sellers ul li a
{
    text-decoration:none;
}

div.uc_best_sellers ul li a:hover
{
    text-decoration:underline;
}

div.uc_best_sellers ul li a span.row_number
{
    display: block;
    float: left;
    width: 8%;
}

div.uc_best_sellers ul li a span.prod_desc
{
    display: block;
    float: left;
    width: 92%;
}